<%= javascript_include_tag 'check_phone_code'%>
<div class="container">
  <h3>手机号找回密码</h3>

  <%= form_for(:user, url: "/phone/send_message") do |f| %>
      <table>
        <tr>
          <td ><%= f.label :phone,'手机号' ,:class=>'signinFont'%></td>
          <td ><%= f.text_field :phone , class:"form-control",:id => 'user_phone', onblur:'checkMobilePhone(this.value)'%> </td>
          <td><div id="mobile_phone_div"></div></td>
        </tr>
          <td></td>
          <td class="pull-right"><%= f.submit '发送验证码', class: "btn btn-default", id: "send_button",style:"" %></td>
        </tr>
      </table>
  <% end %>

</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
function showflash() {
    $('#flashalert').modal('show');
}
function hideflash() {
    $('#flashalert').modal('hide');
}
<% if flash[:success] %>
jQuery(document).ready(function () {
    setTimeout("showflash()", 1);
    setTimeout("hideflash()", 2000);
});
<% end %>
</script>