<%= javascript_include_tag 'check_phone_code'%>
<div class="container">
  <h3>手机号找回密码</h3>

      <%= form_for(:user1, url: "/phone/update_pwd_page") do |f| %>
          <table>
            <tr>
              <td ><%= f.label :phone,'手机号' ,:class=>'signinFont'%></td>
              <td id='telephone' style='font-size:16px;'></td>
              <%= f.hidden_field :user_id, :value => @user.id ,:id => 'phone_user_id'%>
            </tr>
            <tr>
            <td><%= f.label :code, '验证码'%></td>
            <td><%= f.text_field :code , class:"form-control",onblur:'checkVerifyCode(this.value)',:id => 'user_code' %></td>
            <td><div id="verify_code_div"></div> </td>
            </tr>
            <td></td>
            <td class="pull-right"><%= f.submit '下一步', class: "btn btn-default btn_blue", id: "send_next_button",style:"color:#fff;" %></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>

</div>
<script>
    $(document).ready(function() {
        document.getElementById('telephone').innerHTML = "<%= @user.mobile_phone.to_s[0,3] %>********"
    })
</script>
