<div id="flash">
    <%#= flash[:success]%>
</div>
<script>
  document.title="医生预约";
//    $(function(){
//        setTimeout('$("#flash").hide()',3000);
//    })
</script>

<form method="post" action="appointment">
  <fieldset data-role="fieldcontain">
    <label for="time">选择预约时间</label>
    <select name="time" id="time">
      <% @appsche.appointment_arranges.where("status=?",0).order("time_arrange").each do |ar|%>
          <option value="<%= ar.time_arrange %>"><%= ar.time_arrange %></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset data-role="fieldcontain">
    <label for="app_type">选择预约类型</label>
    <select name="app_type" id="app_type">
      <% @doctor.dictionary_ids.split(",").each do |d|%>
          <% name = Dictionary.find(d).name %>
          <option value="<%= d %>"><%= name %></option>
      <% end %>
    </select>
  </fieldset>
  <input type="hidden" name="as_id" value="<%= @appsche.id%>">
  <input type="hidden" name="doctor_id" value="<%= @doc_id%>">
  <input type="hidden" name="patient_id" value="<%= @pat_id %>">
  <input type="submit" data-inline="true" value="预约">
</form>

