<% if @docfs.length==0 && @doc.nil?%>
    暂无可预约的好友医生
<% else %>
    <form>
      <table>
        <% if !@doc.nil?%>
            <tr>
              <td colspan="2">我的主治医生：</td>
            </tr>
            <tr>
              <td colspan="2"><a href="/weixin_patient/appointment?patient_id=<%= @patient.id%>&doctor_id=<%= @doc.id %>"><%= @doc.name %></a></td>
            </tr>
            <tr>
              <td>
                <% if !@doc.photo.nil? && @doc.photo!='' %>
                    <%= image_tag(photo_access_url_prefix_with(@doc.photo), :width => "55", :height => "77")%>
                    <%#= image_tag Settings.pic+@doc.photo, :width => "55", :height => "77" %>
                <% else %>
                    <%= image_tag "default.png", :width => "55", :height => "77" %>
                <% end %>
              </td>
              <td>
                <b>职称</b> <%= @doc.professional_title %> <br/>
                <b>医院</b> <%= @doc.hospital_name.nil?||@doc.hospital_name=="" ? Hospital.where("id=?",@doc.hospital_id).first.name : @doc.hospital_name%><br/>
              </td>
            </tr>
            <tr><td colspan="2"><br/></td></tr>
        <% end %>
        <%if @docfs.length>0%>
            <tr>
              <td colspan="2">我的好友医生:</td>
            </tr>
            <% @docfs.each do |doc| %>
                <tr>
                  <td colspan="2"><a href="/weixin_patient/appointment?patient_id=<%= @patient.id%>&doctor_id=<%= doc.id %>"><%= doc.name %></a></td>
                </tr>
                <tr>
                  <td>
                    <% if !doc.photo.nil? && doc.photo!='' %>
                        <%= image_tag(photo_access_url_prefix_with(doc.photo), :width => "55", :height => "77")%>
                        <%#= image_tag Settings.pic+doc.photo, :width => "55", :height => "77" %>
                    <% else %>
                        <%= image_tag "default.png", :width => "55", :height => "77" %>
                    <% end %>
                  </td>
                  <td>
                    <b>职称</b> <%= doc.professional_title %> <br/>
                    <b>医院</b> <%= doc.hospital_name.nil?||doc.hospital_name=="" ? Hospital.find(doc.hospital_id).name : doc.hospital_name%><br/>
                  </td>
                </tr>
                <tr><td colspan="2"><br/></td></tr>
            <% end %>
        <% end %>
      </table>
    </form>
<% end %>