<script>
    document.title = "<%= @patient.name%>" + "的健康档案";
</script>
<style>
    .h_title {
        margin: 0;
        font-weight:bold;
        border-bottom: 1px solid #dcdcdc;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        font-family: "Microsoft YaHei", Arial;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#ffffff, endColorStr=#f4f4f4);
        background: -ms-linear-gradient(top, #fff, #f4f4f4);
        background: -moz-linear-gradient(top, #fff, #f4f4f4);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));
        background: -webkit-linear-gradient(top, #fff, #f4f4f4);
        background: -o-linear-gradient(top, #fff, #f4f4f4);
    }

    ul li {
        list-style: none;
        font-family: "Microsoft YaHei", Arial;
        margin: 0;
        padding: 0;
    }

    .d_wb {
        width: 80%;
        border-left: 2px solid #dcdcdc;
        margin: 0 auto;
        padding:10px 0 10px 25px;
    }



    .d_dot {
        width: 15px;
        height: 15px;
        background: #02a9a1;
        display: inline-block;
        border-radius: 20px;
        margin-left: -33px;
        margin-right: 15px;
        margin-top:12px;
    }
    a.h_btn{
        padding:10px 15px;
        background:#e8e8e8;
        border:1px solid #d7d7d7;
        display:inline-block;
        margin-top:5px;
        margin-left:10px;
        width:50px;
        text-align:center;
    }
    a{text-decoration: none;color:#333 !important;cursor: pointer;}
</style>
<!--<h3 style="text-align: center"><%#= @patient.name%> 的健康档案</h3>-->

<div style="width: 100%">
  <p class="h_title"><b>影像数据--超声（<%= @ultrasounds.length %>）</b></p>
  <% if @ultrasounds.length != 0%>
      <div class="d_wb">
        <% @ultrasounds.each do |u| %>
            <div style="margin:10px 0;">
              <div class="d_dot" style="float:left;"></div>
              <div style="float:left;">
                <table>
                  <tr>
                    <td><%= u.hospital %><%= u.checked_at %></td>
                    <td><a class="h_btn" href="/weixin_patient/ultrasound?uuid=<%= u.thumbnail %>&child_id=<%= u.id %>">查看</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
      </div>
  <% end %>

</div>
<div style="width: 100%">
  <p class="h_title" style="border-top:1px solid #dcdcdc;"><b>影像数据--CT（<%= @cts.length %>）</b></p>
  <% if @cts.length != 0%>
      <div class="d_wb">
        <% @cts.each do |r| %>
            <div style="margin:10px 0;">
              <div class="d_dot" style="float:left;"></div>
              <div style="float:left;">
                <table>
                  <tr>
                    <td><%= r.hospital %><%= r.checked_at %></td>
                    <td><a class="h_btn" href="/weixin_patient/ct?uuid=<%= r.id %>">查看</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
      </div>
  <% end %>

</div>
<div style="width: 100%">
  <p class="h_title" style="border-top:1px solid #dcdcdc;"><b>影像数据--核磁（<%= @nuclear_magnetism.length %>）</b></p>
  <% if @nuclear_magnetism.length != 0%>
      <div class="d_wb">
        <% @nuclear_magnetism.each do |r| %>
            <div style="margin:10px 0;">
              <div class="d_dot" style="float:left;"></div>
              <div style="float:left;">
                <table>
                  <tr>
                    <td><%= r.hospital %><%= r.checked_at %></td>
                    <td><a class="h_btn" href="/weixin_patient/ct?uuid=<%= r.id %>">查看</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
      </div>
  <% end %>
</div>
<div style="width: 100%">
  <p class="h_title" style="border-top:1px solid #dcdcdc;"><b>检验报告（<%= @reports.length %>）</b></p>
  <% if @reports.length != 0%>
      <div class="d_wb">
        <% @reports.each do |r| %>
            <div style="margin:10px 0;">
              <div class="d_dot" style="float:left;"></div>
              <div style="float:left;">
                <table>
                  <tr>
                    <td><%= r.hospital %><%= r.checked_at %></td>
                    <td><a class="h_btn" href="/weixin_patient/reports?uuid=<%= r.thumbnail %>">查看</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
      </div>
  <% end %>

</div>

