<%= stylesheet_link_tag    "weixins/form"%>
<div style="width: 94%;padding:3%;background:#f2f2f2">
  <% if !@ultrasounds.empty?%>
        <% @ultrasounds.each do |r| %>

            <div class="health_show_boxs" data-role="none">
              <div class="health_title">
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/ultrasound?uuid=<%= r.thumbnail %>&child_id=<%= r.id %>">
                <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/ultrasound?uuid=<%= r.thumbnail %>&child_id=<%= r.id %>"><span class="health_arrow">></span>查看详情</a></p>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
  <% end %>


  <% if !@cts.empty?%>
      <% @cts.each do |r| %>
          <div class="health_show_boxs" data-role="none">
            <div class="health_title">
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r.id %>&inspection_type=<%= r.child_type %>">
                  <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r.id %>&inspection_type=<%= r.child_type %>"><span class="health_arrow">></span>查看详情</a></p>
            </div>
          </div>
          <div style="clear:both;"></div>
      <% end %>
  <% end %>


  <% if !@nuclear_magnetism.empty?%>
      <% @nuclear_magnetism.each do |r| %>
          <div class="health_show_boxs" data-role="none">
            <div class="health_title">
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r.id %>&inspection_type=<%= r.child_type %>">
                  <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r.id %>&inspection_type=<%= r.child_type %>"><span class="health_arrow">></span>查看详情</a></p>
            </div>
          </div>
          <div style="clear:both;"></div>
      <% end %>

  <% end %>


  <% if !@reports.empty?%>
      <% @reports.each do |r| %>
          <div class="health_show_boxs" data-role="none">
            <div class="health_title">
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/reports?uuid=<%= r.thumbnail %>">
                  <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/reports?uuid=<%= r.thumbnail %>"><span class="health_arrow">></span>查看详情</a></p>
            </div>
          </div>
          <div style="clear:both;"></div>
      <% end %>

  <% end %>

</div>


