<%= stylesheet_link_tag    "weixins/form"%>
<div style="background:#f2f2f2">
  <% if !@ultrasounds.empty?%>
        <% @ultrasounds.each do |r| %>

            <div class="health_show_boxs" data-role="none">
              <div class="health_title">
              <div class="cs"></div>
              <p class="name">超声</p>
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>

              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/ultrasound?uuid=<%= r.thumbnail %>&child_id=<%= r.id %>">
                  <%if r.image_list.nil?%>
                      <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                    <%else%>
                      <img src="<%= Settings.aliyunOSS.aliyun_img+r.image_list.split(",")[0]%>" width="100%" height="auto"/>
                   <%end%>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/ultrasound?uuid=<%= r.thumbnail %>&child_id=<%= r.id %>"><span class="health_arrow">></span>查看详情</a></p>
              </div>
            </div>
            <div style="clear:both;"></div>
        <% end %>
  <% end %>


  <!--显示MR核磁或者CT数据-->
  <% if !@dicom_studys.empty?%>
      <% @dicom_studys.each do |r| %>
          <div class="health_show_boxs" data-role="none">
            <div class="health_title">
              <div class="cs"></div>
              <p class="name"><%= r[:study_object].child_type%></p>
              <p class="health_title_hosname"><%= r[:study_object].hospital %>
                <br /><span><%= r[:study_object].checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r[:study_object].id %>&inspection_type=<%= r[:study_object].child_type %>">
                  <img src="<%= r[:study_image_url]%>" width="100%" height="auto"/>
                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/ct?uuid=<%= r[:study_object].id %>&inspection_type=<%= r[:study_object].child_type %>"><span class="health_arrow">></span>查看详情</a></p>
            </div>
          </div>
          <div style="clear:both;"></div>
      <% end %>
  <% end %>





  <% if !@reports.empty?%>
      <% @reports.each do |r| %>
          <div class="health_show_boxs" data-role="none">
            <div class="health_title">
              <p class="health_title_hosname"><%= r.hospital %>
                <br /><span><%= r.checked_at %></span>
              </p>
              <div style="text-align:center">
                <a data-role="none" href="/weixin_patient/reports?uuid=<%= r.thumbnail %>">
                  <%if r.thumbnail.split(".").nil?%>
                      <img src="<%= @thumb_image_list.shuffle[0]%>" width="100%" height="auto"/>
                  <%else%>
                      <img src="<%= Settings.aliyunOSS.aliyun_img+r.thumbnail.split(".")[0]+".png"%>" width="100%" height="auto"/>
                  <%end%>

                </a>
              </div>
              <p class="health_more">
                <a data-role="none" href="/weixin_patient/reports?uuid=<%= r.thumbnail %>"><span class="health_arrow">></span>查看详情</a></p>
            </div>
          </div>
          <div style="clear:both;"></div>
      <% end %>

  <% end %>

</div>


