    <header>
      <!--navbar-->
      <nav class="navbar navbar-default nav-bgcolor" role="navigation">

        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to (image_tag "logo.png"), root_path %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="pull-right">
            </div>

            <%#=render :template=> 'navigations/public_nav'%>
            <div class="pull-right"></div>
            <div class="navbar-right">
              <ul class="nav navbar-nav ">
              <li><a href="#myModal1"  data-toggle="modal" class="font-18 font-yahei font-color">健康档案<%#=t('.health_records') %></a></li>
              <li><a href="#myModal2"  data-toggle="modal" class="font-18 font-yahei font-color">远程会诊<%#=t('.remote_consultation')%></a></li>
              <li><a href="#myModal3"  data-toggle="modal" class="font-18 font-yahei font-color">预约就诊<%#=t('.appointment') %></a></li>
              </ul>
              <!--<div  class="pull-right lan">-->
              <%#= link_to '英文', "?locale=en",:locale=>'en' ,:class=>"font-12 font-yahei font-color pull-left space5"%>
              <%#= link_to '中文', "?locale=zh-CN" ,:locale=>'zh-CN',:class=>"font-12 pull-left font-yahei font-color"%>

              <!--</div>-->
            </div>

            <!-- Modal -->
            <% %w[1 2 3 ].each do |num|%>
                <div class="modal fade" id="myModal<%=num%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title font-color3"><b>用户登录<%#= t('.user_login') %></b></h4>
                      </div>
                      <div class="modal-body">
                        <%= form_for :session, :url => { :action => "signed_mini",:controller=>"navigations",:flag => num}  do |f| %>
                            <div class="form-group">
                              <label for="inputUsername" class="col-md-2 control-label text-right"><%= f.label :username, "用户名"%></label>
                              <div class="col-md-10">
                                <%= f.text_field :username, :class=> 'form-control',:placeholder=>"用户名",:id=>"inputUsername"%>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group space space2">
                              <label for="inputPassword3" class="col-md-2 control-label text-right"><%= f.label :password, "密码"%></label>
                              <div class="col-md-10">
                                <%= f.password_field :password, :class=> 'form-control',:placeholder=>"密码",:id=>"inputPassword"%>
                              </div>
                            </div>
                            <div class="clear-fixed"></div>
                            <div class="form-group">
                              <div class="col-md-2 col-md-offset-2  space2">
                                <%= f.submit '登录', class: "btn btn-warning"%>
                              </div>
                              <div class="col-md-8  space2">
                                <%= link_to '忘记密码', "/find_pwd_types" %>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>