<header>

  <!--navbar-->

      <nav class="navbar navbar-default nav-bgcolor" role="navigation" style="margin-top:0px;">
      <div class="container" style="padding:0">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to (image_tag "logo.png"), '/home',style:"" %>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if  !current_user.nil? && is_patient %>
                <li id="home_remind"></li>
                <li>
                  <a href="/patients/my_doctors"  class="font-18 font-color" id="mydoctor">我的医生<%#=t('.health_records') %></a>
                </li>
                <li>
                  <a href="/navigations/navigationhealthrecord" id="healthRecord" class="font-18 font-yahei font-color" >健康档案<%#=t('.health_records') %></a>
                </li>

                <li>
                  <a href="/appointments/myappointment" class="font-18  font-color" id="health_4">预约就诊<%#=t('.appointment') %></a>
                </li>
                <li>
                  <a href="/navigations/navigationconsultation" class="font-18  font-color" id="health_8">远程会诊<%#=t('.remote_consultation')%></a>
                </li>
                <div class="pull-left" style="margin-left:10px;">
                  <div class="pull-right">
                    <img  id="NavMyPhoto" height="42" width="30" src="<%=my_photo_aliyun %>" style="margin-right:-3px;margin-top:2px;border-radius:2px;border:1px solid #dcdcdc;background:#fff;" >
                  </div>
                </div>
            <% elsif !current_user.nil? &&  is_doctor %>
                <li id="home_remind"></li>
                <li>
                  <a href="/doctors/show_friends/?type=1"  class="font-18  font-color" id="health_5">我的患者</a>
                </li>
                <li>
                  <a href="/doctors/show_friends/?type=2"  class="font-18  font-color" id="health_6">医生好友<%#=t('.health_records') %></a>
                </li>
                <!--<li>-->
                <!--<a href="/navigations/navigationhealthrecord" id="healthRecord" class="font-18 font-yahei font-color">健康档案<%#=t('.health_records') %></a>-->
                <!--</li>-->

                <li>
                  <a href="/appointments/myappointment" class="font-18 font-color" id="health_7">预约就诊<%#=t('.appointment') %></a>
                </li>
                <li>
                  <a href="/navigations/navigationconsultation" class="font-18  font-color" id="health_8">远程会诊<%#=t('.remote_consultation')%></a>
                </li>

                <div class="pull-left" style="margin-left:10px;">
                  <div class="pull-right">
                    <img  id="NavMyPhoto" height="42" width="30" src="<%=my_photo_aliyun %>" style="margin-right:-3px;margin-top:2px;border-radius:2px;border:1px solid #dcdcdc;background:#fff;" >
                  </div>
                </div>
            <%else %>

            <% end %>

          </ul>

          <% if !current_user.nil?  %>
            <%= form_for '@user', url: {controller: 'users', action: 'find_by_name'}, method: 'get',:html => {:multipart => true,:style =>'padding:0;',:class => 'navbar-form navbar-right'} do |f| %>
                <%= f.text_field :name,id:'serch',class: 'search-query', placeholder: '查询医生', style: 'margin-top:5px;margin-top:8px \9;width:100px;' %>
            <% end %>
          <%end  %>

          <script>
              $(function(){
                  $('#serch').focus(function() {  //设置获得焦点时的方法，让文本框变长
                      $(this).animate({width: "140"}, 300 );
                      $(this).val(''); //用于清空内容，可选操作
                  });

                  $('#serch').blur(function() {  //设置失去焦点时的方法，让文本框变短
                      $(this).animate({width: "100"}, 300 );
                  });
              });

          </script>
        </div><!-- /.navbar-collapse -->
      </div>
      </nav>



  <!-- /navbar-->
</header>
<script>

    $(function () {
        $("[id=NavMyPhoto]").popover({
            trigger: 'manual',
            placement: 'bottom', //placement of the popover. also can use top, bottom, left or right
            title: '', //this is the top title bar of the popover. add some basic css
            html: 'true', //needed to show html of course
            style: 'padding:0;position:absolute;',
            content: '<ul class="list-unstyled">' +
                    '<li><%= link_to '设置', '/users/setting',class:"icon-setting set"%></li>' +
                    '<li class="divider"></li>' +
                    '<li><%= link_to '退出', '/sessions/signout', method: "delete",class:"icon-out set" %></li>' +
                    '</ul>', //this is the content of the html box. add the image here or anything you want really.
            animation: false
        }).on("mouseenter",function () {
            var _this = this;
            $(this).popover("show");
            $(this).siblings(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide")
                }
            }, 100);
        });
    });

    $(function () {
        $('#healthRecord').click(function () {
            window.location.href = '/navigations/navigationhealthrecord'
        })
    })

//    预约提醒
//    $.ajax({
//        type: 'get',
//        url: '/notifications/get_app_notice',
//        data: 'json',
//        success: function (data) {
//            $('#home_remind').html(data)
//        },
//        error: function (data) {
//            console.log(data)
//        }
//    })
</script>