<div id="content"></div>
<% provide(:title, "Sign in") %>
<h3 class="font-yahei title-bg font-16"><span class="icon-title"></span>用户登录<%#=t('.user_login') %></h3>
  <%= form_for(:session,remote: true, :url => {:action => 'create', :controller=>'sessions' }, :html=>{:id => 'sess_form'}) do |f| %>
    <div class="col-md-12">
      <%= f.label :username,"用户名"%>
      <%= f.text_field :username, :id=>"us" ,:placeholder=>"用户名" ,:class=>"form-control"%>
      <%= f.label :password,"密码"%>
      <%= f.password_field :password, :id=>"pa" ,:placeholder=>"密码" ,:class=>"form-control space"%>
      <div class="form-group">
        <div class="col-md-5 col-sm-6" style="padding-left:0px;padding-right:0px;">
          <%= f.submit '登录',:class=>"btn-submit font-color5 btn btn-warning font-16"%>
        </div>
        <div class="col-md-7 col-sm-6">
          <%= link_to '忘记密码?', "",class:"password"%>
        </div>
      </div>
    </div>
  <% end %>