<div id="content"></div>
<% provide(:title, "Sign in") %>
<h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%=t('.user_login') %></h3>
  <%= form_for(:session,remote: true, :url => {:action => 'create', :controller=>'sessions' }, :html=>{:id => 'sess_form'}) do |f| %>
    <div class="col-md-9">
      <%= f.label :username,t('.username')%><br/>
      <%= f.text_field :username, :id=>"us" ,:placeholder=>"用户名" ,:class=>"form-control"%>
      <%= f.label :password,t('.password')%><br/>
      <%= f.password_field :password, :id=>"pa" ,:placeholder=>"密码" ,:class=>"form-control"%>
      <%= link_to t('.forgot_password!'), "/find_pwd_types",class:""%>
    </div>
    <div class="col-md-3" style="padding:0;">
      <%= f.submit t('.sign_in'),:class=>"btn-submit font-color5 btn-orange font-16"%>
      <%#= link_to t('.new_user?'), '/reg',id:"reg",class:"reg_btn pull-left",style:"margin-top:10px;margin-left:8px" %>
      <%#= link_to t('.card_registration!'), "/user_protocol" ,style:"color:#565d65" %>
    </div>
  <% end %>