<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :head %><br>
    <%= f.text_field :head %>
  </div>
  <div class="field">
    <%= f.label :subhead %><br>
    <%= f.text_field :subhead %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :archtype %><br>
    <%= f.text_field :archtype %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br>
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :is_top %><br>
    <%= f.check_box :is_top %>
  </div>
  <div class="field">
    <%= f.label :is_allow_comment %><br>
    <%= f.check_box :is_allow_comment %>
  </div>
  <div class="field">
    <%= f.label :is_visible %><br>
    <%= f.check_box :is_visible %>
  </div>
  <div class="field">
    <%= f.label :who_deleted %><br>
    <%= f.number_field :who_deleted %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.number_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :update_by %><br>
    <%= f.text_field :update_by %>
  </div>
  <div class="field">
    <%= f.label :update_by_id %><br>
    <%= f.number_field :update_by_id %>
  </div>
  <div class="field">
    <%= f.label :audit_by %><br>
    <%= f.text_field :audit_by %>
  </div>
  <div class="field">
    <%= f.label :audit_time %><br>
    <%= f.datetime_select :audit_time %>
  </div>
  <div class="field">
    <%= f.label :pubstatus %><br>
    <%= f.text_field :pubstatus %>
  </div>
  <div class="field">
    <%= f.label :excellent %><br>
    <%= f.check_box :excellent %>
  </div>
  <div class="field">
    <%= f.label :indexpage %><br>
    <%= f.check_box :indexpage %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :pageview %><br>
    <%= f.number_field :pageview %>
  </div>
  <div class="field">
    <%= f.label :replies_count %><br>
    <%= f.number_field :replies_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
