<%= javascript_include_tag 'notes'%>
<style>.wr a{font-size:18px;color:#ffffff;font-family:"Microsoft YaHei",Arial;}.color{color:#999999;}.tb a{color:#2d699f;}</style>
<div class="container" style="margin-top:-10px;">
  <div class="row space">
    <div class="col-md-9 col-sm-7 col-xs-12" style="padding:0px;width:80%;">
      <div class="index_box"  style="padding-bottom:10px;">
        <div class="box-title" style="padding-left:15px">
          <p>
            <strong class="font-18 font-yahei">我的文章</strong></p>
        </div>
        <div class="col-md-12">
          <button class="btn btn-lg btn-primary wr" style="margin-top:10px;margin-bottom:10px;"><span class="glyphicon glyphicon-align-justify" style="margin-right:8px;"></span><%= link_to '写文章', new_note_path, 'data-no-turbolink' => true%></button>
          <button class="btn btn-lg btn-primary wr"><span class="glyphicon glyphicon-wrench" style="margin-right:8px;"></span><a onclick="batch_manage()" id="batch_manage">批量管理</a></button>
          <!--批量处理菜单-->
          <div id = 'batch_area' style="display: none;">
          <hr style="margin-bottom:10px;"/>
          <span class="checkbox pull-left font-yahei font-162" style="margin-top:0px;">
              <input type="checkbox" id="check_all" onclick="select_all()"> 全选
          </span>
          <span class="pull-left font-yahei font-162" style="margin-left:10px;"><a onclick="batch_delete()">批量删除</a></span>
          <span class="pull-left font-yahei font-162" style="margin-left:10px;"><a>权限设置</a></span>
          <span class="pull-left font-yahei font-162" style="margin-left:10px;"><a onclick="update_type_show()">修改分类</a></span></br>
            <div style="display: none;" id = 'update_type_div'>
              <% current_user.doctor.note_types.each do |type|%>
              <a onclick="update_types(<%= type.id %>)"><%= type.name %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% end if current_user && current_user.doctor%>
            </div>
          <div class="clear"></div>
          </div>
          <!--批量处理菜单 end-->
          <hr style="margin-top:0px;"/>
          <table width="100%" class="lineheight-30 font-yahei">
              <tbody>
              <tr class="" style="background:#f1f1f1;height:30px;line-height:40px;">
                <td></td>
                <td class="font-yahei text-left" width="70%">
                  <b>标题</b>
                </td>
                <td class="font-yahei text-left">
                  <b>是否置顶</b>
                </td>
                <td class="tb text-left"><b>操作</b></td>
              </tr>
                <% @notes.each do |note| %>
                  <tr>
                    <td><input type="checkbox" name="check_note" value="<%= note.id %>" style="display: none"></td>
                    <td class="font-yahei" style="padding-right:15px;"><span class="pull-right color"><%= note.created_at.strftime("%Y-%m-%d") %></span><%= note.is_top ? '[顶]' : '' %><%= link_to note.head, note %></td>
                    <td class="font-yahei">
                      <input type="checkbox" id="is_top_<%= note.id %>"  <% if note.is_top %>checked="true" <% end %> onclick="to_top(<%= note.id %>)">
                    </td>
                    <td class="tb text-right"><%= link_to '查看', note %> | <%= link_to '编辑', edit_note_path(note), 'data-no-turbolink' => true %> | <%= link_to '删除', note, method: :delete, data: { confirm: '确定删除?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <!--<div class="text-center">-->
            <div class="text-center"><%= will_paginate @notes, :previous_label => '<', :next_label => '>', :class => 'pagination-mini page num unstyled' %></div>
          <!--<ul class="pagination">-->
            <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
            <!--<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
          <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
 </div>
    <div class="col-md-3 col-sm-5 col-xs-12" style="padding:0 0 0 10px;width:20%;">
      <div class="index_box"  style="padding-bottom:10px;">
        <div class="box-title" style="padding-left:15px">
          <p>
            <strong class="font-18 font-yahei">文章分类</strong>
            <a href="/note_types" class="pull-right" style="border-left:1px solid #dcdcdc;width:45px;text-align:center;">管理</a>
          </p>
        </div>
        <div class="col-md-12">
        <ul class="lineheight-24 list-unstyled font-yahei" style="margin-top:10px;">
          <li><span class="pull-right color">(<%= current_user.doctor.nil? ? 0 : current_user.doctor.notes.count %>)</span><%= link_to '全部文章', "/notes?[note][doctor_id]=#{current_user.doctor_id}" %></li>
          <% current_user.doctor.note_types.each do |note_type| %>
              <li><span class="pull-right color">(<%= note_type.notes.count %>)</span><%= link_to note_type.name, "/notes?[note][archtype]=#{note_type.id}" %></li>
          <% end if current_user.doctor %>
          <li><span class="pull-right color"></span></li>
        </ul>
        </div>
      </div>
    </div>
 </div>
</div>
<%= form_for (NoteType.new), url: {action: 'create', controller: 'note_types'} do |f| %>
    <div class="modal fade" id="crate_cons_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <table style="width:80%;margin:0 auto;" class="font-yahei">
              <%= f.hidden_field :create_by_id, id: 'note_type_doctor_id', value: '' %>
              <%= f.hidden_field :source_by,  value: '1' %>
              <tr>
                <td><p>类型名称</p></td>
                <td style="width:340px;"><%= f.text_field :name, :class => "form-control space" %></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <%= f.submit "保存", :class => "btn btn_g" %>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>