<%= javascript_include_tag 'notes' %>
<div class="container" style="margin-top:0;">
  <div class="index_box" style="padding-bottom:10px;margin-top:-10px;">
    <div class="box-title" style="padding-left:15px">
      <p class="pull-left"><strong><span class="font-18 font-yahei ">医生文章</span></strong></p>
    </div>

    <div class="col-md-12">
      <%= form_for("", :url => {:controller => 'notes', :action => 'patient_search'}, :method => 'get', :html => {:id => 'patient_search_notes'}, :remote => true) do |f| %>
      <div class="row">
      <div class="form-group col-md-9">
        <div class="input-group">
          <input class="form-control" type="text" id="note_head" name="head" placeholder="搜索文章标题">
          <div class="input-group-addon">
            <%#= f.submit '', class: "glyphicon glyphicon-search" %>
            <span class="glyphicon glyphicon-search" onclick="patient_search_notes()"></span>
          </div>
        </div>
      </div>
      </div>
        <% end %>
      <ul class="list-unstyled font-yahei line_height30">
        <% @notes.each do |note|%>
            <li>
              <a href="/notes/<%= note.id %>" class="font-12" ><span class="new_date"><%= note.created_at.strftime("%Y-%m-%d")%></span><span class="dot"><%= note.head %></span></a>
            </li>
            <div class="clearfix"></div>
            <% end %>
      </ul>
      <div class="text-center">
        <%= will_paginate @notes, :previous_label => '<', :next_label => '>', :class => 'pagination-mini page num unstyled' %>
      </div>
    </div>
  </div>
</div>