<p id="notice"><%= notice %></p>

<p>
  <strong>Head:</strong>
  <%= @note.head %>
</p>

<p>
  <strong>Subhead:</strong>
  <%= @note.subhead %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
