<%= javascript_include_tag 'consults' %>
<style>.wr a {
    font-size: 18px;
    color: #ffffff;
    font-family: "Microsoft YaHei", Arial;
}

.color {
    color: #999999;
}

.tb a {
    color: #2d699f;
}</style>
<div class="container" style="margin-top:-10px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
      <div class="index_box" style="padding-bottom:10px;">
        <div class="box-title" style="padding-left:15px">
          <p>
            <strong class="font-18 font-yahei">咨询管理</strong></p>
        </div>
        <%= form_for("", :url => {:controller => 'consult_questions', :action => 'index'}, :method => 'get', :html => {:id => 'search_consult_question'}, :remote => true) do |f| %>
            <div class="row">
              <div class="form-group col-md-9" style="margin-left: 10px;margin-top: 15px;">
                <div class="input-group">
                  <input class="form-control" type="text" id="note_head" name="consult_content" placeholder="搜索咨询内容">

                  <div class="input-group-addon">
                    <%#= f.submit '', class: "glyphicon glyphicon-search" %>
                    <span class="glyphicon glyphicon-search" onclick="search_consult_questions()"></span>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="col-md-12">
          <ul class="list-unstyled zixun font-yahei">
            <% @consult_questions.each do |question| %>
                <li style="display: block;" id="question_<%= question.id %>">
                  <% if current_user && current_user.id != question.created_by %>
                      <a class="pull-right space3 " style="margin-top:-3px;" onclick="add_consult_accuse(<%= question.id %>,'<%= question.consult_content %>')">
                        <span style="color:#999;display:inline-block;margin-top:3px;">举报</span>
                      </a>
                  <% end %>
                  <% if current_user && current_user.id == question.created_by %>
                      <a class="pull-right space3 " style="margin-top:-3px;" onclick="del_question(<%= question.id %>)"><%= image_tag "delete.png" %></a>
                      <a class="pull-right space3 " style="margin-top:-3px;" onclick="edit_question(<%= question.id %>)"><%= image_tag "edit.png" %></a>
                  <% end %>
                  <span class="pull-left"><a href="/consult_questions/<%= question.id %>" id="question_show_<%= question.id %>"><%= question.consult_content %></a> </span>
                  <span class="pull-right zixun_color" style="margin-right: 20px;">by <%= question.user_create.name %></span>
                  <span class="pull-right zixun_color space3"><%= question.created_at.strftime("%Y-%m-%d %H:%M") if question.created_at %></span>
                </li>
                <li style="display: none;" id="question_edit_<%= question.id %>">
                  <%#= form_for question do |f| %>
                  <%#= f.text_field :consult_content, :class=>"form-control", :style=>"height:45px;" %>
                  <input type="text" id="consult_content_<%= question.id %>" class="form-control pull-left" style="width: 300px;margin:10px 15px 10px 0;" value="<%= question.consult_content %>">
                  <button type="button" class="btn btn-default pull-left space3 space6" onclick="cel_edit(<%= question.id %>)">取消</button>
                  <button type="button" class="btn btn-default btn_g pull-left space6" onclick="submit_edit(<%= question.id %>)">保存</button>
                  <%# end %>
                </li>
                <div class="clear"></div>
            <% end %>
            <li>
              <div class="text-center"><%= will_paginate @consult_questions, :previous_label => '<', :next_label => '>', :class => 'pagination-mini page num unstyled' %></div>
            </li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="crate_cons_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-body">
        <table style="width:80%;margin:10px auto;" class="font-yahei">
          <tr>
            <td>举报内容</td>
            <td style="width:340px;"><input id="source_id" value="" type="hidden">
              <textarea id="accuse_content" cols="40" rows="5" readonly="readonly"></textarea>
            </td>
          </tr>
          <tr>
            <td>举报原因</td>
            <td style="width:340px;">
              <input type="checkbox" name="reason" value="色情">色情
              <input type="checkbox" name="reason" value="政治">政治
              <input type="checkbox" name="reason" value="广告">广告
              <input type="checkbox" name="reason" value="招聘">招聘
              <input type="checkbox" name="reason" value="骂人">骂人
              <input type="checkbox" name="reason" value="其它">其它
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn_g" onclick="submit_accuse('question')">提交</button>
      </div>
    </div>
  </div>
</div>
