<%= javascript_include_tag 'consults' %>

<div class="container">
  <div class="index_box" style="padding-bottom:10px;margin-top:-10px;">
    <div class="box-title" style="padding-left:15px">
      <p class="pull-left">
        <strong><span class="font-18 font-yahei ">咨询回复</span></strong>
      </p>
    </div>
    <div class="col-md-12">
      <div class="row space6">
        <div class="col-md-1 col-xs-1">
          <% photo = @consult_question.consult_identity == 1 ? Settings.pic+@consult_question.user_create.patient.photo : Settings.pic+@consult_question.user_create.doctor.photo
             if !photo.nil? && photo != ''
          %>
              <div style="width:65px;height:65px;overflow:hidden;">
                <%= image_tag photo, :class => "img-responsive" %>
                <%#= image_tag photo ,:class => "img-responsive"%>
              </div>
          <%
             else
          %>
              <div style="width:65px;height:65px;overflow:hidden;border-radius:35px;">
              <%= image_tag "default.png", :class => "img-responsive" %>
              </div>
          <%
             end
          %>

        </div>
        <div class="col-md-10 col-xs-10">

          <p class="font-12 font-yahei" style="color:#888888;">
            <span class="font-16"><%= @consult_question.user_create.name %></span>
            <a class="pull-right space3 " style="margin-top:-3px;" onclick="add_consult_accuse(<%= @consult_question.id %>,'<%= @consult_question.consult_content %>','question')">
              <span style="color:#999;display:inline-block;margin-top:3px;">举报</span>
            </a>
            <br/>
            <% str_q = @consult_question.consult_identity == 1 ? "患者" : "医生" %><%= str_q %>于 <%= @consult_question.created_at.strftime("%Y-%m-%d %H:%M:%S") %> 向医生:
            <%= @consult_question.consult_by.name %> 进行的咨询
          </p>

          <p style="width:100%;word-break: break-all">
            <%= @consult_question.consult_content %>
          </p>
        </div>

      </div>
    </div>
    <div style="clear:both"></div>
    <hr style="maring:15px 0;"/>
    <div id="PL_Con" class="col-md-8 col-md-offset-2">
    <% @consult_question.consult_results.each do |consult_result| %>

      <div class="row" id="result_<%= consult_result.id %>">
        <div class="col-md-1">
          <% photo = consult_result.respond_identity == 1 ? Settings.pic+consult_result.user.patient.photo : Settings.pic+consult_result.user.doctor.photo
             if !photo.nil? && photo != ''
          %>
                <span style="width:50px;height:50px;overflow:hidden;display:inline-block;float:left;">
                <%= image_tag photo, :style => "margin-right:10px;", :class => "img-responsive" %>
                </span>
          <%
             else
          %>
              <span style="width:50px;height:50px;overflow:hidden;display:inline-block;float:left;">
              <%= image_tag "default.png", :style => "width:40px;height:56px;margin-right:10px;", :class => "" %>
              </span>
          <%
             end
          %>
        </div>
        <div class="col-md-9">
          <b class="font-yahei" style="font-size:14px;">
            <% str = consult_result.respond_identity == 1 ? "患者：" : "医生：" %><%= str %><%= consult_result.user.name %>
          </b>
          <span class="font-yahei" style="color:#666666;"><%= consult_result.created_at.strftime("%Y-%m-%d %H:%M") %>说：</span>
          <br />
          <span style="margin-top:10px;display:inline-block;"><%= consult_result.respond_content %></span>
        </div>
        <div class="col-md-2">
          <% if current_user && current_user.id != consult_result.created_by %>
              <a class="pull-right space3 " style="margin-top:-3px;" onclick="add_consult_accuse(<%= consult_result.id %>,'<%= consult_result.respond_content %>','result')">举报</a>
          <% end %>
          <% if current_user && current_user.id == consult_result.created_by %>
              <a class="pull-right space3 " style="margin-top:-3px;" onclick="del_result(<%= consult_result.id %>)"><%= image_tag "delete.png" %></a>
              <a class="pull-right space3 " style="margin-top:-3px;" onclick="edit_result(<%= consult_result.id %>)"><%= image_tag "edit.png" %></a>
          <% end %>
        </div>
      </div>
      <hr style="maring:15px 0;"/>
     <% end %>
      <ul class="list-unstyled">
        <% @consult_question.consult_results.each do |consult_result| %>
            <li id="result_edit_<%= consult_result.id %>" class="font-yahei" style="margin-top:10px;display: none;">
              <%#= f.text_area :respond_content, :style => "border-color:#ebebeb;width:100%;resize: none;height:100px;", :value => consult_result.respond_content %>
              <%#= f.hidden_field :consult_id, :value => @consult_question.id %>
              <textarea style="background:#f2f2f2;border-color:#dcdcdc;width:100%;resize: none;height:80px;" id="edit_submit_<%= consult_result.id %>"><%= consult_result.respond_content %></textarea>
              <button id="publish" style="width:80px;margin-right:10px;margin-top:10px;" onclick="edit_submit_result(<%= consult_result.id %>)">回复</button>
              <button type="button" onclick="cel_result(<%= consult_result.id %>)">取消</button>
            </li>
            <div class="clear"></div>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%#= form_for (ConsultResult.new), url: {action: 'create', controller: 'consult_results'} do |f| %>
        <%#= f.text_area :respond_content, :style => "border-color:#ebebeb;width:100%;resize: none;height:100px;" %>
        <%#= f.hidden_field :consult_id, :value => @consult_question.id %>
        <input type="hidden" value="<%= @consult_question.id %>" id="consult_id">
        <textarea style="border-color:#dcdcdc;background:#f2f2f2;width:100%;resize: none;height:80px;" id="respond_content"></textarea>
        <button id="publish" class="btn btn-success pull-left" style="width:80px;margin-right:10px;margin-top:10px;" onclick="submit_result(<%= @consult_question.id %>)">回复</button>
        <div class="checkbox pull-left" style="margin-top:15px;">
          <label>
            <!--<input type="checkbox">匿名回复-->
          </label>
        </div>
        <%# end %>
      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="crate_cons_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <table style="width:80%;margin:0 auto;" class="font-yahei">
          <tr>
            <td><p>举报内容</p></td>
            <td style="width:340px;"><input id="source_id" value="" type="hidden">
              <input id="source_str" value="" type="hidden">
              <textarea id="accuse_content" cols="40" rows="5" readonly="readonly"></textarea>
            </td>
          </tr>
          <tr>
            <td><p>举报原因</p></td>
            <td style="width:340px;">
              <input type="checkbox" name="reason" value="色情">色情
              <input type="checkbox" name="reason" value="政治">政治
              <input type="checkbox" name="reason" value="广告">广告
              <input type="checkbox" name="reason" value="招聘">招聘
              <input type="checkbox" name="reason" value="骂人">骂人
              <input type="checkbox" name="reason" value="其它">其它
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn_g" onclick="submit_accuse()">提交</button>
      </div>
    </div>
  </div>
</div>
