<%= javascript_tag do %>
    <%- if !current_user.doctor.nil? %>
        <%- current_user_data = {
                :id => current_user.id,
                :name => current_user.doctor.name,
                :auth_token => current_user.remember_token
        }
        %>
    <%- else %>
        <%- if !current_user.patient.nil? %>
            <%- current_user_data = {
                    :id => current_user.id,
                    :name => current_user.patient.name,
                    :auth_token => current_user.remember_token
            }
            %>
        <%- end %>
    <%- end %>
    var current_user_data = <%= current_user_data.to_json.html_safe %>;
<%- end %>

<div id="flashContent">
  <p>To view this page ensure that Adobe Flash Player version 10.2.0 or greater is installed. </p>
  <script type="text/javascript">
      var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
      document.write("<a href='http://www.adobe.com/go/getflashplayer'>" +
              "<img src='"
              + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' />" +
              "</a>" );
  </script>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jwplayer("flashContent").setup({
            'flashplayer': "<%=asset_path('LiveConnect.swf')%>",
            'autoPlay': 'true',
            'controlBarMode': 'floating',
            'width': '674',
            'height': '505'
        });});
    var host = "<%= Settings.videoServerIp %>" ;
    jQuery(document).ready(function(){
       setTimeout(function(){
           document.getElementById("flashContent").updateHost(host);
           document.getElementById("flashContent").upload("<%= current_user.roleid%>");
           document.getElementById("flashContent").setCurUsrId("<%= current_user.roleid%>");
           <% if @consultation.owner_id != @current_user.roleid%>
           document.getElementById("flashContent").playVideo("<%= @consultation.owner_id %>");
		   <% else %>
           document.getElementById("flashContent").playVideo("<%= @consultation.patient_id %>");
           <% end %>
           document.getElementById("flashContent").playAudio("<%= @consultation.peerUsers_to_s(@current_user) %>");
       },10000);
        jQuery('#upload_video').click(function(){
            document.getElementById("flashContent").stopAll();
            document.getElementById("flashContent").updateHost(host);
            document.getElementById("flashContent").upload("<%= current_user.roleid%>");
            document.getElementById("flashContent").setCurUsrId("<%= current_user.roleid%>");
            <% if @consultation.owner_id != @current_user.roleid%>
            document.getElementById("flashContent").playVideo("<%= @consultation.owner_id %>");
            <% else %>
            document.getElementById("flashContent").playVideo("<%= @consultation.patient_id %>");
            <% end %>
            document.getElementById("flashContent").playAudio("<%= @consultation.peerUsers_to_s(@current_user) %>");
        });
    });
    function clickvideo(id){

        document.getElementById("flashContent").stopVideo();
        //alert(id);
        document.getElementById("flashContent").playVideo(id);
        document.getElementById("flashContent").playAudio("<%= @consultation.peerUsers_to_s(@current_user) %>");
    };
</script>


