<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#patient_id").select2();
        <%if !@patient_id.nil?%>
        //jQuery("#patient_id").select2("val",<%= @patient_id%>);
        jQuery("#patient_id").select2("readonly", true);
        <%end%>
    });
    jQuery(document).ready(function() {
        jQuery("#doctorlist").select2({placeholder: "可以选择0个或多个医生"});
    });
</script>
<%= form_for(@consultation) do |f| %>
    <%= tag("input", :type => 'hidden', :name => 'order_id',:value => @order_id) %>
    <%= tag("input", :type => 'hidden', :name => 'schedule_time',:id => 'schedule_time',:value => "") %>
    <div style="height:30px;height:15px \9;"></div>
    <div class="consultations_box" style="margin-top:40px \9;">
      <div class="consultations_box_header">
        <h3 class="health_record_title" style="width:480px;"><span class="title_img">/</span>创建会诊</h3>
      </div>
      <table style="margin-left:90px;">
        <tr>
          <td><%= f.label(:name,"会诊标题",:class=>"font_t")%></td>
          <td><%= f.text_field :name%></td>
        </tr>
        <tr>
          <td><%= f.label(:patient_id,"会诊患者",:class=>"font_t") %></td>
          <td class="span4" style="margin-left:0px;">
            <select id="patient_id" name="patient_id">
              <%= options_from_collection_for_select(current_user.doctor.patfriends(), 'id', 'name',@patient_id) %>
            </select></td>
        </tr>
        <tr>
          <td><%= f.label(:schedule_time,"计划时间",:class=>"font_t") %></td>
          <td>
            <div id="schedule_timepicker" class="input-append date">
              <input data-format="dd/MM/yyyy hh:mm:ss" type="text" size="12"/>
                  <span class="add-on">
                  <i class="icon-th">
                  </i>
                  </span>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= f.label(:init_info,"初步诊断",:class=>"font_t") %></td>
          <td> <%= f.text_area :init_info, :rows => 10 ,:style=> "margin-top:5px;"%></td>
        </tr>
        <tr>
          <td><%= f.label(:purpose,"会诊目的",:class=>"font_t") %></td>
          <td> <%= f.text_area :purpose, :rows => 10%></td>
        </tr>

        <tr>
          <td><%= f.label(:doctorlist,"会诊医生",:class=>"font_t")%></td>
          <td class="span4" style="margin-left:0px;">
            <select id="doctorlist" multiple="multiple" name="doctorlist[]">
              <%= options_from_collection_for_select(current_user.doctor.docfellows(), 'id', 'name') %>
            </select></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">
            <div class="btn pull-right consultation_btn actions"><%= f.submit "新建"%>
            </div>
          </td>

        </tr>
      </table>
    </div>
<% end %>

<script type="text/javascript">
    $(function() {
        $('#schedule_timepicker').datetimepicker({});
        $('#schedule_timepicker')
                .datetimepicker()
                .on('changeDate', function(ev){
                    console.log(ev.date);
                    $("#schedule_time").val(ev.date.toString().substring(0,24));
                });
    });

</script>