
<html>
<head>
  <title><%=@consultation.name%></title>
</head>
<body>

<div class="clear"></div>
<div class="container-fluid">
  <div class="pull-left">

    <div class="clear"></div>
    <div class="diagnose space_6">
      <h2><%=t('.The chat conversation') %></h2>
      <div class="diagnose_content">

        <%= render 'web_chat'%>

      </div>
    </div>

  </div>
  <div class="consultation_right space_6 pull-right">

    <div class="consultation_video">

      <%= render 'consultation_video'%>
    </div>
    <div class="clear"></div>
    <!--视频列表-->
  </div>
  <div class="clear"></div>
  <div class="health_info">

        <div style="margin-bottom:10px;margin-left:-20px \9;"><%= render 'patient_info'%></div>

  </div>

</div>

</body>
</html>