<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#appointmentNotices" data-toggle="tab" id='tab1'>预约就诊</a></li>
  <li><a href="#consultationNotices" data-toggle="tab" id='tab2'>远程会诊</a></li>
  <li><a href="#requestNotices" data-toggle="tab" id='tab3'>好友申请</a></li>
  <li><a href="#otherNotices" data-toggle="tab" id='tab4'>消息提醒</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="appointmentNotices">
    <%#= render :partial => 'notifications/get_app_notices' %>
  </div>
  <div class="tab-pane" id="consultationNotices">
    <%#= render :partial => 'notifications/get_con_notices' %>
  </div>
  <div class="tab-pane" id="requestNotices">
    <table class="table table-bordered table_bg">
      <tr>
        <th>好友申请</th>
      </tr>
      <%= render  partial: 'show_requests'%>
    </table>

  </div>
  <div class="tab-pane" id="otherNotices">
    <table class="table table-bordered table_bg">
      <tr>
        <th>消息</th>
      </tr>
      <%i=0%>
      <% @appointments_notices.each_with_index do |appointment,index| %>
          <tr id='notice_<%=appointment.id%>'>
            <th>
              <p class="pull-left space3" style="height:30px;line-height:30px;"> <%= index+1%>.<%= appointment.description%></p><button class="btn btn-default btn-sm btn-purple pull-left"  onclick="deletetNotices(<%= appointment.id%>)">确定</button>
            </th>

          </tr>
      <% end %>

    </table>

  </div>
</div>
<script>
    function deletetNotices(userID){
        $.ajax({
            type: "post",
            url: "/notifications/delUser",
            data: "user_id=" + userID
//            success: function(response){
//                console.log(response)
//                $('#patient-home-notices').html(response)
//            },
//            error:function(response){
//                alert(1010)
//            }
        })
    }

    $('#tab1').click(function(){
        $.ajax({
            type: 'get',
            url: '/notifications/get_app_notices',
            data: 'json',
            success: function(data){
                $('#appointmentNotices').html('');
                $('#appointmentNotices').html(data)
            }
        } )
    })
    $('#tab1').click()
    $('#tab2').click(function(){ $.ajax({
        type: 'get',
        url: '/notifications/get_con_notices',
        data: 'json',
        success: function(data){
            $('#consultationNotices').html('');
            $('#consultationNotices').html(data)
        }
    } )
    }) ;
</script>
