<% if !current_user.doctor.nil? %>
<% if !@home_consultations.nil?&&@home_consultations.count > 0%>
<div class="index_box"  style="margin-top:10px;padding-bottom:10px;">
<p style="padding-left:15px;margin-top:15px;" class="font-yahei font-18">远程会诊</p>
<table class="table notices font-yahei" style="width:95%;margin:0 auto;">
  <tr class="box_content_title">
    <th>会诊标题</th>
    <th>参与患者</th>
    <th>主治医生</th>
    <th>会诊医生</th>
    <th>会诊状态</th>
    <th>计划时间</th>
  </tr>
      <% @home_consultations.each do |consultation| %>
          <tr id="appointment_<%=consultation.id  %>">
            <td><%=  consultation.name %></td>
            <td><%=  consultation.patient.name%></td>
            <td><%=  consultation.doctor.name%></td>
            <td><%=  consultation.status_description %></td>
            <td><%=  consultation.schedule_time %></td>

          </tr>
      <% end %>
      <tr ><th colspan='6' class="text-center"><%= will_paginate @home_consultations,:previous_label => '<', :next_label => '>',:class=>'pagination-mini page num unstyled' %></th></tr>
  <% end%>

</table>
</div>
<% else %>
<% if !@home_consultations.nil?&&@home_consultations.count > 0%>
<div class="index_box"  style="margin-top:10px;padding-bottom:10px;">
<p style="padding-left:15px;margin-top:15px;" class="font-yahei font-18">远程会诊</p>
<table class="table notices font-yahei" style="width:95%;margin:0 auto;">
  <tr class="box_content_title">
    <th>会诊标题</th>
    <th>主治医生</th>
    <th>会诊医生</th>
    <th>会诊状态</th>
    <th>计划时间</th>
  </tr>
      <% @home_appointments.each do |consultation| %>
          <tr id="appointment_<%=consultation.id  %>">
            <td><%=  consultation.name %></td>
            <td><%=  consultation.doctor.name%></td>
            <td><%=  consultation.status_description %></td>
            <td><%=  consultation.schedule_time %></td>

          </tr>
      <% end %>

  <% end%>

</table>
</div>
<% end %>
<script>
    $(function () {
        $('.pagination li a').click(function () {
            event.preventDefault();
            var url = '', href = $(this).context.href, arr = [], page;
            console.log(href)
            arr = href.split('//')[1].split('/');
            url = '/' + arr[1] + '/' + arr[2].split('?')[0]
            if ($(this).parent().hasClass('active') || url.indexOf('#') != -1) {
            } else {
                page = parseInt(href.split('page=')[1]);
                $.ajax({
                    type: 'get',
                    url: url,
                    data: {
                        page: page
                    },
                    success: function (data) {
                        $('#consultationNotices').html('');
                        $('#consultationNotices').html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        })
    });

</script>