<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#appointmentNotices" data-toggle="tab">预约就诊</a></li>
  <li><a href="#consultationNotices" data-toggle="tab">远程会诊</a></li>
  <li><a href="#requestNotices" data-toggle="tab">好友申请</a></li>
  <li><a href="#otherNotices" data-toggle="tab">消息提醒</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="appointmentNotices">
    <table class="table table-bordered table_bg">
      <tr>
        <th>预约医生</th>
        <th>预约医院</th>
        <th>预约科室</th>
        <th>预约类型</th>
        <th>预约时间</th>
      </tr>
      <% if !@home_appointments.nil?&&@home_appointments.count > 0 %>
          <% @home_appointments.each do |app_info| %>
              <tr>
                <td><%= app_info.doctor.name %> </td>
                <td><%= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                <td><%= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                <td><%= app_info.dictionary.name%></td>
                <td><%= app_info.appointment_day %> <%= app_info.appointment_time%>:00
                  - <%= app_info.appointment_time.to_i+1 %>:00
                </td>
              </tr>
          <% end %>

      <% end %>

    </table>
  </div>
  <div class="tab-pane" id="consultationNotices">
    <table class="table table-bordered table_bg">
      <tr>
        <th>会诊标题</th>
        <th>主治医生</th>
        <th>会诊医生</th>
        <th>会诊状态</th>
        <th>计划时间</th>
      </tr>
      <% if !@home_consultations.nil?&&@home_consultations.count > 0%>

          <% @home_appointments.each do |consultation| %>
              <tr id="appointment_<%=consultation.id  %>">
                <td><%=  consultation.name %></td>
                <td><%=  consultation.doctor.name%></td>
                <td><%=  consultation.status_description %></td>
                <td><%=  consultation.schedule_time %></td>

              </tr>
          <% end %>

      <% end%>

    </table>
  </div>
  <div class="tab-pane" id="requestNotices">
    <table class="table table-bordered table_bg">
      <tr>
        <th>姓名</th>
        <th>申请时间</th>
      </tr>

    </table>
  </div>

  <div class="tab-pane" id="otherNotices">
    <table class="table table-bordered table_bg">
     <%i=0%>
      <% @appointments_notices.each_with_index do |appointment,index| %>
          <tr id='notice_<%=appointment.id%>'>
            <th>
              <%= index+1%>.<%= appointment.description%> <button class="btn btn-default btn-sm btn-purple"  onclick="deletetNotices(<%= appointment.id%>)">确定</button>
            </th>

          </tr>
      <% end %>


    </table>

  </div>
</div>

<script>
    function deletetNotices(userID){
        $.ajax({
            type: "post",
            url: "/notifications/delUser",
            data: "user_id=" + userID
//            success: function(response){
//                console.log(response)
//                $('#patient-home-notices').html(response)
//            },
//            error:function(response){
//                alert(1010)
//            }
        })
    }
</script>