<%if !@friends_notice.empty?%>
   <div class="attending_doctor space2" style="width:150px;">
  <div class="font-yahei font-18 font-color3 lineheight-30"><span class="message"></span><strong>好友请求</strong></div>
  <div class="" style="width:100%;">
      <%@friends_notice.each do |notice|%>
        <% @is_friends=false %>
        <% @notice = notice %>

                <% if notice['code'].to_i == 3 %>
                    <% @is_friends = DoctorFriendship.is_friends(current_user.doctor_id,notice['content']) %>
                    <%=link_to image_tag('default.png',size:"15x21")+"#{@notice['description']}",{controller:"doctors",action: "doctor_page",id:"#{@notice['content']}"}%>请求添加您为好友
                <% elsif notice['code'].to_i == 4 || notice['code'].to_i == 7 %>
                    <% @is_friends = TreatmentRelationship.is_friends(current_user.doctor_id,notice['content']) %>
                    <%=link_to image_tag('default.png',size:"15x21")+"#{@notice['description']}",{controller:"patients",action: "patient_page",id:"#{@notice['content']}"}%>请求添加您为好友
                <% end %>
          <div class="pull-left">
          <% if @is_friends %>
            <div class="btn btn-default  pull-left"><%= link_to "删除消息", {controller: 'notifications',action: 'reject_or_delete_notice',content:@notice['content'],code:@notice['code'],notice_id:@notice['id']},method: :delete%></div>
          <% else %>
            <div class="btn btn-default  btn-xs pull-left"><%= link_to "接受", {controller: 'notifications',action: 'agree_request',content:@notice['content'],code:@notice['code'],notice_id:@notice['id']},method: :post %></div>
            <div class="btn btn-primary btn-xs pull-left"><%= link_to "拒绝", {controller: 'notifications',action: 'reject_or_delete_notice',content:@notice['content'],code:@notice['code'],notice_id:@notice['id']},method: :delete%></div>
          <% end %>
          </div>
        <div class="clearfix"></div>
        <div class="line"></div>
      <%end%>
  <div>
        <%= link_to "查看更多",{controller: 'notifications',action: 'show_all_notice'} %>
        <%=link_to "(#{@friends_notice_count})",{:controller => "notifications",:action => "show_all_notice"}%>
  </div>
  </div>
  </div>     
<%end%>