<%if !@friends_notice.empty?%>

    <%@friends_notice.each do |notice|%>
       <% @is_friends=false %>
       <% @notice = notice %>
       <tr id=<%=notice.id%>><th>
          <div class="pull-left" style="font-size:12px;">
            <% if notice.code.to_i == 3 %>
                <% @is_friends = DoctorFriendship.is_friends(current_user.doctor_id,notice.content) %>
                <% @doctor = Doctor.where(id:@notice.content).first %>
                <% if !@doctor.photo.nil? && @doctor.photo!=''%>
                    <%=link_to image_tag(Settings.pic+@doctor.photo,size:"15x21",style:"margin-right:5px;")+"#{@notice.description} ",{controller:"doctors",action: "doctor_page",id:"#{@notice.content}"}%> 请求添加您为好友
                <% else %>
                    <%=link_to image_tag('default.png',size:"15x21",style:"margin-right:5px;")+"#{@notice.description} ",{controller:"doctors",action: "doctor_page",id:"#{@notice.content}"}%> 请求添加您为好友
                <% end %>
            <% elsif notice.code.to_i == 4 || notice.code.to_i == 7 %>
                <% @is_friends = TreatmentRelationship.is_friends(current_user.doctor_id,notice.content) %>
                <% @patient = Patient.where(id:@notice.content).first %>
                <% if @patient.photo.nil? && @patient.photo != '' %>
                    <%=link_to image_tag(Settings.pic+@patient.photo,size:"15x21",style:"margin-right:5px;")+"#{@notice.description} ",{controller:"patients",action: "patient_page",id:"#{@notice.content}"}%> 请求添加您为好友
                <% else %>
                    <%=link_to image_tag('default.png',size:"15x21",style:"margin-right:5px;")+"#{@notice.description} ",{controller:"patients",action: "patient_page",id:"#{@notice.content}"}%> 请求添加您为好友
                <% end %>
            <% end %>
          </div>
          <div class="pull-left">
            <% if @is_friends %>
                <div class="btn btn-default btn-xs pull-left"><%= link_to "删除消息", {controller: 'notifications',action: 'reject_or_delete_notice',content:@notice.content,code:@notice.code,notice_id:@notice.id},method: :delete,remote:true%></div>
            <% else %>
                <div class="question_btn pull-left btn btn-xs btn-default" style="margin:0 5px;"><%= link_to "接受", {controller: 'notifications',action: 'agree_request',content:@notice.content,code:@notice.code,notice_id:@notice.id},method: :post ,remote:true%></div>
                <div class="question_btn pull-left btn btn-xs btn-default"><%= link_to "拒绝", {controller: 'notifications',action: 'reject_or_delete_notice',content:@notice.content,code:@notice.code,notice_id:@notice.id},method: :delete,remote:true%></div>
            <% end %>
          </div>
       </th></tr>
    <%end%>

<%end%>
