
<%@doctor_users.each do |doctor|%>
    <div class="DoctorBox">
    <div class="col-md-2">
       <%if  !doctor['photo'].empty?%>
            <%= link_to image_tag("#{doctor['photo']}", alt:"default",:width => "75",:height => "105" , :class => "pull-left" ),"/doctors/doctorpage/#{doctor['id']}" %>
        <% else %>
            <%= link_to image_tag("default.png", alt:"default",:width => "75",:height => "105" , :class => "pull-left" ),"/doctors/doctorpage/#{doctor['id']}" %>
       <%end%>
    </div>
        <div class="pull-left col-md-10" style="width:400px;">
        <p><%=link_to "#{doctor['name']}","/doctors/doctorpage/#{doctor['id']}",:class=>"all_friends_name pull-left" %>
          <% @user = User.new %>
          <%@hospital = @user.get_req('hospitals/find?hospital_id='+doctor['hospital_id'].to_s+'&remember_token='+current_user['remember_token']) %>
          <%@department = @user.get_req('departments/find?department_id='+doctor['department_id'].to_s+'&remember_token='+current_user['remember_token']) %>
            <% if !@hospital.nil?%>
                <span class="pull-left"><strong>&nbsp;&nbsp;<%=@hospital['name']%>
            <%else%>
                <strong>医院：</strong>无
            <%end%>
            <%if !@department.nil?%>
            &nbsp;&nbsp;<strong>科室</strong><%=@department['name']%></span><div class="clear"></div>
            <%else%>
                &nbsp;&nbsp;<strong>科室</strong>无</p>
            <%end%>
        <strong>专长<%#=t('users.user_home_aspects.skilled') %>:</strong><%=doctor['expertise']%><br>
        <strong>说明<%#=t('users.user_home_aspects.introduction') %>：</strong> <%=doctor['introduction'] %>
    </div>
    <div class="clear"></div>
    </div>
    <% end%>
