<% if current_user.patient_id.nil?%>
    <%= form_for '@user', remote: true, :url=>{:action=>'profile_update'}, :html => { :method => :post } do |f| %>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="username" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :username, '用户名'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :username ,class:"form-control",:value => current_user.name, :id=>'username' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="name" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :name,'姓名 ' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :name , class:"form-control",:value => @user.name, :id=>'name' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="email" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :email, t('.email')%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :email , class:"form-control",:value =>  @user.email, :id=>'email' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="language" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :language,'语言' %></label>
          <%# if current_user.language=='en' %>
          <%#= f.select :language ,options_for_select(LANGUAGES1,I18n.locale.to_s),:id=>'language'%>
          <%# else %>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.select :language ,options_for_select(LANGUAGES2,I18n.locale.to_s), :id=>'language' %>
          </div>
          <%# end %>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="birth" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :birthdate, '出生日期'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
                <%=f.text_field :birthdate,data:{format:'yyyy-MM-dd' },:value=>@user.birthday ,:class => 'form-control',id:'birth'%>
          </div>
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript">
            $('#birth').datetimepicker({
                lang:'ch',
                timepicker:false,
                format:'Y-m-d'
            });

        </script>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="sex" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :sex, '性别'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <% if @user.gender=='男' %>
                <div class="row ">
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button 'sex', 'male', :checked=>true %> 男<%#=t('.man') %>
                  </div>
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button 'sex' , 'female' %>女<%#=t('.woman') %>
                  </div>
                </div>
            <% else %>
                <div class="row">
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button :sex, 'male' %>男<%#=t('.man') %>
                  </div>
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button :sex , 'female',:checked=>true %>女<%#=t('.woman') %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="address" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :address,'地址' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :address , class:"form-control", :value =>@user.address, :id=>'address' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="address" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :phone,'电话' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :mobile_phone , class:"form-control", :value =>@user.mobile_phone, :id=>'phone' %>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group" style="margin-top:20px;clear:both;">
          <label for="introduction" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :introduction,'简介' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_area :introduction , class:"form-control", :value =>@user.introduction, :id=>'introduction' %>
          </div>
        </div>
        <div class="clearfix"></div>



        <div class="form-group" style="margin-top:20px;clear:both;">
          <label for="expertise" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :expertise,'专长' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_area :expertise , class:"form-control", :value =>@user.expertise, :id=>'expertise' %>
          </div>
        </div>
        <div class="clearfix"></div>


        <div class="form-group" style="margin-top:20px;clear:both;">
          <label for="introduction" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :introduction,'简介' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_area :introduction , class:"form-control", :value =>@user.introduction, :id=>'introduction' %>
          </div>
        </div>
        <div class="clearfix"></div>



        <div class="form-group" style="margin-top:10px;clear:both;">
          <div class="col-md-2 col-sm-2 col-xs-2" style="width:70px;padding:0"></div>
          <div class="col-md-2 col-sm-2 col-xs-2" ><%= f.submit '确定', :id => 'profile_update' ,:class=>'btn btn_g',:style => ""%></div>

        </div>
    <% end %>

    <%else%>


    <%= form_for '@user', remote: true, :url=>{:action=>'profile_update'}, :html => { :method => :post } do |f| %>
        <% name = @user['name']%><% email = @user['email']%><% birthday = @user['birthday']%><% gender = @user['gender']%>
        <% address = @user['address']%>  <% mobile_phone = @user['mobile_phone']%>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="username" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :username, '用户名'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :username ,class:"form-control",:value => current_user['name'], :id=>'username' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="realname" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :realname,'姓名 ' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :realname , class:"form-control",:value => name, :id=>'realname' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="email" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :email, t('.email')%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :email , class:"form-control",:value =>  email, :id=>'email' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="language" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :language,'语言' %></label>
          <%# if current_user.language=='en' %>
          <%#= f.select :language ,options_for_select(LANGUAGES1,I18n.locale.to_s),:id=>'language'%>
          <%# else %>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.select :language ,options_for_select(LANGUAGES2,I18n.locale.to_s), :id=>'language' %>
          </div>
          <%# end %>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="birth" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :birthdate, '出生日期'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <% if birthday.nil? %>
                <%=f.text_field :birthdate,data:{format:'yyyy-MM-dd' },:value=>"" ,:class => 'form-control',id:'birth'%>
            <% else %>
                <%=f.text_field :birthdate,:value => birthday, data:{format:'yyyy-MM-dd' },:class => 'form-control',id:'birth' %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript">
            $('#birth').datetimepicker({
                lang:'ch',
                timepicker:false,
                format:'Y-m-d'
            });

        </script>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="sex" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :sex, '性别'%></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <% if gender=='男' %>
                <div class="row ">
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button 'sex', 'male', :checked=>true %> 男<%#=t('.man') %>
                  </div>
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button 'sex' , 'female' %>女<%#=t('.woman') %>
                  </div>
                </div>
            <% else %>
                <div class="row">
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button :sex, 'male' %>男<%#=t('.man') %>
                  </div>
                  <div class="col-md-6 col-cd-6 col-xs-6">
                    <%= f.radio_button :sex , 'female',:checked=>true %>女<%#=t('.woman') %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="address" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :address,'地址' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :address , class:"form-control", :value =>address, :id=>'address' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <label for="address" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;width:70px;padding:0"><%= f.label :phone,'电话' %></label>
          <div class="col-sm-6 col-cd-10 col-xs-6">
            <%= f.text_field :phone , class:"form-control", :value =>mobile_phone, :id=>'phone' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="margin-top:10px;clear:both;">
          <div class="col-md-2 col-sm-2 col-xs-2" style="width:70px;padding:0"></div>
          <div class="col-md-2 col-sm-2 col-xs-2" ><%= f.submit '确定', :id => 'profile_update' ,:class=>'btn btn_g',:style => ""%></div>

        </div>
    <% end %>

<%end%>



