<div id="contents" class="container">
  <script>
      $(document).ready(function(){
          $('#send_email').click(function(){
              event.preventDefault();
              $.ajax({
                  type: "post",
                  url:'/mailers/pwd_email',
                  data: {
                      email: $('#user_email').val(),
                      code: $('#code').val()
                  },
                  success: function(data){
                      if(data=="false"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('邮箱不正确，请确认！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else if (data=="code_false"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('验证码错误！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else if (data=="null"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('验证码和邮箱均不可为空！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else{
                          location.href="/mailers/go_to_show_message";
                      }
                  }
              });
          });
      });
  </script>

  <div class='modal container fade' id='email_remind' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'>
    <div class="alert alert-danger" role="alert">
          <p id='error_msg'>邮箱不正确，请确认！</p>
    </div>
  </div>
  <% provide(:title, "Email for password") %>

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading yahei font-16">邮箱找回密码</div>
      <div class="panel-body">
        <div class="col-md-10 col-md-offset-1">

                <%= form_for(:user, url: "/mailers/pwd_email",class:"form-horizontal") do |f| %>
                    <div class="alert alert-warning yahei" role="alert">
                      为了方便您找回密码，系统将向您的有效邮箱内发送一份邮件，请正确输入您的邮箱地址！
                    </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">
                          <div class="row">
                          <%= f.label :email,'邮箱' ,:class=>'signinFont'%>
                          </div>
                        </label>
                        <div class="col-sm-10">
                          <div class="row">
                          <%= text_field :user, :email , class:"form-control" %>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label">
                          <div class="row">
                          <%= f.label :code, '验证码'%>
                          </div>
                        </label>
                        <div class="col-sm-10">
                          <div class="row">
                          <%= f.text_field :code , :id=>'code', class:"form-control" %>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                          <div id="code_i">
                            <img src="<%= @image %>" id="code_img" onclick="code_refresh()" />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row">
                          <%= f.submit '发 送', class: "btn btn-default btn-success pull-right btn-lg yahei", id: "send_email",style:"color:#fff;" %>
                          </div>
                        </div>
                      </div>
                <% end %>
        </div>
      </div>
    </div>






  </div>

</div>

<script>
    function code_refresh(){
        $("#code_img").attr("src","/code/code_image?tmp="+new Date().getTime());
//        $.ajax({
//            url: '/mailers/code_refresh',
//            success: function(data){
//                document.getElementById('code_i').innerHTML = '<img src="'+data.image+'" id="code_img" onclick="code_refresh()"/>';
//            },
//            error: function(data){
//                alert('请重新刷新验证码！');
//            }
//        });
    }
</script>