<div id="contents" class="container bgcolor-white" style="margin-top:-20px;">
  <script>
      $(document).ready(function(){
          $('#send_email').click(function(){
              event.preventDefault();
              $.ajax({
                  type: "post",
                  url:'/mailers/pwd_email',
                  data: {
                      email: $('#user_email').val(),
                      code: $('#code').val()
                  },
                  success: function(data){
                      if(data=="false"){
                          var mm=$('#email_remind');
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
//                      }else if (data=="code_false"){
//                          var mm=$('#code_remind');
//                          mm.modal('show');
//                          setTimeout(function(){mm.modal('hide');},2000);
//                          return false;
                      }else{
                          location.href="/mailers/go_to_show_message";
                      }
                  }
              });
          });
      });
  </script>

  <div class='modal fade' id='email_remind' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class="modal-body1">
          <p>邮箱不正确，请确认！</p>
        </div>
      </div>
    </div>
  </div>
  <div class='modal fade' id='code_remind' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class="modal-body1">
          <p>验证码错误！</p>
        </div>
      </div>
    </div>
  </div>
  <% provide(:title, "Email for password") %>

  <div class="container">


    <%= form_for(:user, url: "/mailers/pwd_email") do |f| %>
        <table style="width:50%">
          <tr class='row'>
            <td class="col-md-2"><%= f.label :email,'邮箱' ,:class=>'signinFont'%></td>
            <td class="col-md-4"><%= text_field :user, :email ,:style=>'padding:220px;padding:8px 0;'%></td>
          </tr>
          <!--<tr class='row'>-->
            <!--<td class="col-md-2"><%= f.label :code, '验证码'%></td>-->
            <!--<td class="col-md-4"><%= f.text_field :code , :id=>'code', class:"form-control" %></td>-->
          <!--</tr>-->
          <!--<tr class='row' style='height:67px;'>-->
            <!--<td class="col-md-2"></td>-->
            <!--<td class="col-md-4"><div id="code_i" class="space2">-->
            <!--<img src="<%#= @image %>" id="code_img" onclick="code_refresh()" />-->
          <!--</div></td></tr>-->
          <tr class='row'>　
            <td class="col-md-2"></td>
            <td class="col-md-4"><%= f.submit '发送', class: "btn btn-default btn-primary pull-right", id: "send_email",style:"color:#fff;margin-right:60px;" %></td>
          </tr>
        </table>
    <% end %>


  </div>

</div>
