<div id="contents" class="container bgcolor-white" style="margin-top:-20px;">
  <script>
      $(document).ready(function(){
          $('#send_email').click(function(){
              event.preventDefault();
              $.ajax({
                  type: "post",
                  url:'/mailers/pwd_email',
                  data: {
                      email: $('#user_email').val(),
                      code: $('#code').val()
                  },
                  success: function(data){
                      if(data=="false"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('邮箱不正确，请确认！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else if (data=="code_false"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('验证码错误！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else if (data=="null"){
                          var mm=$('#email_remind');
                          $('#error_msg').html('验证码和邮箱均不可为空！')
                          mm.modal('show');
                          setTimeout(function(){mm.modal('hide');},2000);
                          return false;
                      }else{
                          location.href="/mailers/go_to_show_message";
                      }
                  }
              });
          });
      });
  </script>

  <div class='modal fade' id='email_remind' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class="modal-body1">
          <p id='error_msg'>邮箱不正确，请确认！</p>
        </div>
      </div>
    </div>
  </div>
  <% provide(:title, "Email for password") %>

  <div class="container">
    <h3>找回密码</h3>


    <%= form_for(:user, url: "/mailers/pwd_email") do |f| %>
        <table>
          <tr><td colspan="2">为了方便您找回密码，系统将向您的有效邮箱内发送一份邮件，请正确输入您的邮箱地址！</td></tr>
          <tr>
            <td ><%= f.label :email,'邮箱' ,:class=>'signinFont'%></td>
            <td ><%= text_field :user, :email , class:"form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :code, '验证码'%></td>
            <td><%= f.text_field :code , :id=>'code', class:"form-control" %></td>
          </tr>
          <tr style='height:67px;'>
            <td></td>
            <td><div id="code_i" class="space2">
            <img src="<%= @image %>" id="code_img" onclick="code_refresh()" />
          </div></td></tr>
          <tr>　
            <td></td>
            <td class="pull-right"><%= f.submit '发送', class: "btn btn-default btn-primary", id: "send_email",style:"color:#fff;" %></td>
          </tr>
        </table>
    <% end %>


  </div>

</div>

<script>
    function code_refresh(){
        $.ajax({
            url: '/mailers/code_refresh',
            success: function(data){
                document.getElementById('code_i').innerHTML = '<img src="'+data.image+'" id="code_img" onclick="code_refresh()"/>';
            },
            error: function(data){
                alert('请重新刷新验证码！');
            }
        });
    }
</script>