<%=javascript_include_tag "jquery.endless-scroll.js"%>
<script>
    $(document).ready(function() {
        fireOnce: false;
        var count = 1;
        var html;
        $(window).endlessScroll({
            ceaseFireOnEmpty: false,
            fireOnce: false,
            fireDelay: false,
            bottomPixel: 300,
            intervalFrequency: 50,
            callback: function(p) {
                $.ajax({
                    type: "post",
                    data: { page : ++count},
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                    url: "/users/find_by_name2",
                    dataType: "html",
                    error: function(){
//                        alert("error");
                    },
                    success: function(data)
                    {
                        $('#search_users').append(data);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        fireOnce: false;
        var count = 1;
        var html;
        $(window).endlessScroll({
            ceaseFireOnEmpty: false,
            fireOnce: false,
            fireDelay: false,
            bottomPixel: 300,
            intervalFrequency: 50,
            callback: function(p) {
                $.ajax({
                    type: "post",
                    data: { page : ++count}    ,
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                    url: "/users/find_by_name3",
                    dataType: "html",
                    error: function(){
//                        alert("err");
                    },
                    success: function(data)
                    {
                        $('#search_doctors').append(data);
                    }
                });
            }

        });
    });
</script>
<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="col-md-8 col-sm-8  line2">
    <h3 class="font-yahei"><%=t('.doctor') %></h3>
      <%if !@doctor_users.empty?%>
          <div id="search_doctors">
            <%=render  'search_doctors_ajax'%>
          </div>
      <% end %>
  </div>
  <div class="col-md-4 col-sm-4 line4">
      <h3 class="font-yahei"><%=t('.user') %></h3>
      <%if !@patient_users.empty?%>
          <div id="search_users">
            <%=render 'search_patients_ajax'%>
          </div>
      <% end %>
  </div>
</div>






   <script>

     $(function(){

     var $container = $('#masonry-container');

     $container.imagesLoaded(function(){
     $container.masonry({
     itemSelector: '.box',
     columnWidth: 100
     });
     });

     $container.infinitescroll({
     navSelector  : '#page-nav',    // selector for the paged navigation
     nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
     itemSelector : '.box',     // selector for all items you'll retrieve
     loading: {
     finishedMsg: 'No more pages to load.',
     img: 'http://i.imgur.com/6RMhx.gif'
     }
     },
     // trigger Masonry as a callback
     function( newElements ) {
     // hide new items while they are loading
     var $newElems = $( newElements ).css({ opacity: 0 });
     // ensure that images load before adding to masonry layout
     $newElems.imagesLoaded(function(){
     // show elems now they're ready
     $newElems.animate({ opacity: 1 });
     $container.masonry( 'appended', $newElems, true );
     });
     }
     );
     });
   </script>