<div class="container bgcolor-white" style="margin-top:-20px;">
  <h3 class="font-yahei blue_line font-16"><span class="title_third">医生</span><%#=@title%></h3>
  <table class="table table-bordered">
    <thead class="bgcolor-gray">
    <tr class="text-center"><td><b>专家</b></td><td><b>专长</b></td><td><b>简介</b></td><td></td></tr>
    </thead>
    <%if !@doctor_users.nil?%>

        <% @doctor_users.each do |doctor| %>
            <% @dictionarys = nil %>
            <% if !doctor.dictionary_ids.nil? && doctor.dictionary_ids != ''  %>
                <% @dictionarys = Dictionary.find(doctor.dictionary_ids.split(',')) %>
            <% end %>
            <tr>
              <td width="20%">
                <a href="/doctors/doctorpage/<%=doctor['id']%>" class="pull-left">
                <% if !doctor['photo'].nil? && doctor['photo']!=''%>
                    <img  height="70" width="50" src="<%= Settings.pic+doctor['photo'] %>" class="pull-left img_bg">
                <% else %>
                    <%=image_tag("default.png", alt: 'default',:width => "50",:height => "70" , :class => "pull-left img_bg" ) %>
                <%end%>
              </a><span class="pull-left" style="margin-left:10px;display:inline-block;line-height:24px"><strong><%=doctor['name'] %></strong><br />
                <%= doctor.hospital.name unless (doctor.hospital_id.nil? || doctor.hospital_id == '')%><br />
                <%= doctor.department.name unless (doctor.department_id.nil? || doctor.department_id == '')%></span></td>
              <td width="20%"><span class="lineheight-30"><%= doctor['expertise']%></span></br>预约类型:<br />
                <% if !@dictionarys.nil? %>
                    <% @dictionarys.each do |dic| %>
                        <button class="btn btn-info btn-xs" style='font-family: "楷体","楷体_GB2312";font-size: 12px;margin: 3px;' disabled="disabled">
                          <%=dic.name %>
                        </button>
                        <% end %><% end %></td>
              <td width="50%"><span class="lineheight-30"><%= doctor['introduction'] %></span></td>
              <td width="10%"><%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{doctor.id}"}, :class => "btn btn-success btn-xs" %></td>
            </tr>
       <% end %>

    <% end %>
  </table>
  <div class="text-center">
    <%= will_paginate @doctor_users,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page unstyled' %>
  </div>
</div>
