<%= javascript_include_tag 'update_password'%>
<div id="reminder"></div>
<div id="contents" class="container " style="margin-top:-20px;">
  <div class="index_box" style="margin-top:10px;">
    <ul class="nav nav-tabs">
      <li class="active" id="d1">
        <a href="#d11" class="font-14" data-toggle="tab">个人资料修改</span><%#= t('.profile_update')%></a>
      </li>
      <li id="d2">
        <a href="#d22" class="font-14 " data-toggle="tab">密码修改</span><%#= t('.password_update')%></a>
      </li>
      <!--<li id="d3">-->
        <!--<a href="#d33" class="font-14 " data-toggle="tab">隐私修改</span><%#= t('.privacy_update')%></a>-->
      <!--</li>-->
    </ul>
    <div class="tab-content">
      <div id="d11" class="tab-pane active">
        <div class="row" style="margin-left:30px;margin-top:15px;margin-bottom:15px;">
          <div class="col-md-2 col-sm-2 col-xs-2" style="width:13%;padding:0">
            <%= render 'photos/photo_form' %>
          </div>
          <div class="col-md-6 col-sm-10 col-xs-10 font-yahei" id="setting_profile_div" style="width:87%;padding:0 0 0 30px;margin-top:-17px;">

             <%= render partial: 'users/setting_profile'%>
          </div>
        </div>
      </div>
      <div id="d22" class="tab-pane">
        <div class="row" style="margin-left:15px;">
          <div class="col-md-8 col-md-offset-3 col-sm-offset-1 col-sm-10 col-xs-12 font-yahei" style="padding-left:0px;">
            <%= form_for '@user', :url=>{:action=>'password_update'}, :html => { :method => :post} do |f| %>
                <div class="form-group">
                  <label for="old_pass" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;"><%= f.label :old_password, '旧密码'%></label>
                  <div class="col-md-6 col-sm-10 col-xs-6">
                  <%= f.password_field :old_password, :id=>'old_pass',:style => "width:65%", class:"form-control pull-left",:onblur=> 'check_old(this.value)' %>
                    <div id="old_pwd_div" class='pull-left'></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top:10px;clear:both;">
                  <label for="pass" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;"><%= f.label :new_password,'新密码' %></label>
                  <div class="col-md-6 col-sm-10 col-xs-6">
                  <%= f.password_field :new_password, :id=>'pass', :style => "width:65%", class:"form-control pull-left" ,:onkeyup => 'set_new2(this.value)',:onfocus => 'check_remind(this.value)',:onblur=> 'check_new(this.value)' %>
                    <div id="new_pwd_div" class='pull-left'></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top:10px;clear:both;">
                  <label for="pass_con" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;"><%= f.label :password_confirmation, '确认密码'%></label>
                  <div class="col-md-6 col-sm-10 col-xs-6">
                  <%= f.password_field :password_confirmation , :id=>'pass_con', :style => "width:65%",class:"form-control pull-left" ,:onblur=> 'check_new2(this.value)'%>
                    <div id="new_pwd2_div" class='pull-left'></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top:10px;clear:both;">
                  <label for="code" class="col-sm-2 col-cd-2 col-xs-6 control-label" style="line-height:34px;color:#6b6b6d;"><%= f.label :code, '验证码'%></label>
                  <div class="col-md-6 col-sm-10 col-xs-6">
                  <%= f.text_field :code , :id=>'code',:style => "width:65%", class:"form-control pull-left" ,:onblur=> 'check_code(this.value)'%>
                    <span id="code_div" class='pull-left'></span>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 col-sm-10 col-xs-6 col-md-offset-2">
                  <div id="code_i" class="" style="margin-top:10px;clear:both;height:50px;">
                    <img src="<%= @image %>" id="code_img" onclick="code_refresh()" />
                  </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-10 col-xs-6 col-md-offset-2">
                <div class="form-group " style="margin-top:10px;clear:both;">
                  <%= f.submit '确定', :id => 'password_update' ,:class=>'btn btn_g '%>
                </div>
                </div>
            <% end %>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
      <!--<div id="d33" class="tab-pane">-->
      <!--</div>-->
    </div>

  </div>

</div>
