<style>

</style>
<div class="container">
  <div class="row" style="margin-top:-10px;">

    <div class="col-md-12 col-sm-12 col-xs-12  index_box">
      <p class="find_text">
        <b>找对医生：</b><a>按医院找</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>按科室找</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>症状自查</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>快速预约</a>
      </p>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="border_bottom">
          <%= image_tag "location-alt-24.png" %>
          <b>北京</b>
          <button class="btn btn-default btn-xs">切换</button>
        </p>
        <p class="find_hos_num">找到<span style="color:#7cb64f;">250</span>家医院</p>
        <table class="hos_table" cellspadding="0" cellspacing="0">
          <tr>
            <td class="hos_table_t">医院等级</td>
            <td>
              <a>三级甲等</a>
              <a>三级医院</a>
              <a>二级医院</a>
              <a>一级医院</a>
            </td>
          </tr>
          <tr>
            <td class="hos_table_t">医院类型</td>
            <td>
              <a>对外专科</a>
              <a>妇产科医院</a>
              <a>皮肤科医院</a>
              <a>不孕不育</a>
              <a>医院中医</a>
              <a>医院儿科</a>
              <a>医院口腔</a>
              <a>对外专科</a>
              <a>妇产科医院</a>
              <a>皮肤科医院</a>
              <a>不孕不育</a>
              <a>医院中医</a>
              <a>医院儿科</a>
              <a>医院口腔</a>
              <a>对外专科</a>
              <a>妇产科医院</a>
              <a>皮肤科医院</a>
              <a>不孕不育</a>
              <a>医院中医</a>
              <a>医院儿科</a>
              <a>医院口腔</a>
              <a>对外专科</a>
              <a>妇产科医院</a>
              <a>皮肤科医院</a>
              <a>不孕不育</a>
              <a>医院中医</a>
              <a>医院儿科</a>
              <a>医院口腔</a>
            </td>
          </tr>
        </table>
        <div class="hos_bg">
          <div class="checkbox pull-left">
            <label>
              <input type="checkbox">已开通挂号
            </label>
          </div>
          <select class="pull-right">
            <option value="1">综合排序</option>
            <option value="2">好评多排前</option>
            <option value="3">有号源排前</option>
          </select>

          <div style="clear:both;"></div>
        </div>
        <div class="hos_info_box">
          <div class="row">
              <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
              <div class="col-md-4 col-sm-4 hos_info">
                <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
                <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
                <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
              </div>
              <div class="col-md-3 col-sm-3 hos_info">
                <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
                <p class="pull-left hos_con">
                  导医服务：<span style="color:#7cb64f;">88%</span>
                  <br />候诊时间：<span style="color:#7cb64f;">87%</span>
                </p>
              </div>
              <div class="col-md-2 col-sm-2 hos_info">
                <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
              </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>
        <div class="hos_info_box">
          <div class="row">
            <div class="col-md-2 col-sm-2"><%= image_tag "http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/qinghuadaxueyuquanyiyuan.jpg", :class => "img-responsive" %></div>
            <div class="col-md-4 col-sm-4 hos_info">
              <p style="font-size:14px;"><span style="color:#377bee;">清华大学玉泉医院</span> <span style="color:#000;">三级甲等</span></p>
              <p><%= image_tag "Telephone.png", :style => "width:12px;" %>010-888888</p>
              <p><%= image_tag "location-g-24.png", :style => "width:12px;" %>北京石景山区石景山路5号</p>
            </div>
            <div class="col-md-3 col-sm-3 hos_info">
              <p class="pull-left"><span class="jy_num">3.2万</span><br />就医经验</p>
              <p class="pull-left hos_con">
                导医服务：<span style="color:#7cb64f;">88%</span>
                <br />候诊时间：<span style="color:#7cb64f;">87%</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 hos_info">
              <button class="btn hos_btn pull-right" style="padding:5px 15px;color:#29a5a2">挂号</button>
            </div>
          </div>
        </div>

      </div>
      <!--<div class="col-md-2 col-sm-2 col-xs-12">-->
        <!--<div class="help">-->
          <!--<p>帮助中心</p>-->
          <!--<ul>-->
            <!--<li>预约具体步骤？</li>-->
            <!--<li>挂号网预约是否收费？</li>-->
            <!--<li>网站预约什么时间更新？</li>-->
            <!--<li>小孩子如何预约？</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </div>


  </div>
</div>