<div class="container" style="margin-top:-20px;">
  <!--carousel-->
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item  active">
          <%= image_tag(Settings.pic0+'4470e3c65f0a4dea8d56272c7634db9e.jpg') %>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color5"><strong>远程会诊</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>利用电子邮件、网站、信件、电话、传真等现代化通讯工具，为患者完成病历分析、病情诊断，进一步确定治疗方案的治疗方式。</strong></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(Settings.pic0+'b213632fdbe24e3f81d44c58ed5c41b2.jpg') %>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color5"><strong>预约就诊</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>就诊者抵医院前对医院门诊/住院的预先订约，即通过使用电话、电传、书信、网站等各种方式。</strong></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(Settings.pic0+'da25ef7dd17249359481fce3c023fb9b.jpg') %>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color2"><strong>健康档案</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>记录每个人所有生命体征的变化，以及自身所从事过的与健康相关的一切行为与事件的档案，主要包括电子病例和CT图片。</strong></p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!--carousel end-->
</div>
<div class="container bgcolor-white">
  <div class="row">
    <div class="col-md-3 col-sm-4 ">
      <div class="row">
        <div class="col-md-12">
          <%= render 'sessions/login_form' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>科室简介</h3>

          <p class="font-yahei lineheight-30 text department_introduction_content">清华大学玉泉医院（即清华大学第二附属医院），1983年12月正式开院，是一所向社会开放的综合性医院。先后被评为“爱婴医院”、“大病统筹定点医院”、“医疗保险定点医院”。
            2003年4月10日正式划归清华大学。具有高级干部医疗保健资质；被评为“爱婴医院”，妇产科获得三级助产机构资质。</p>
        </div>
        <div class="col-md-12">
          <h3 class="font-yahei title-bg font-18" style="margin-top:0px;"><span class="icon-title"></span>挂号预约</h3>

          <div id="rollAD">
            <div id="rollText">
              <a href="#">1.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">2.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">3.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">4.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">5.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">6.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">7.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">8.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">9.张先生 158*****435 肿瘤消融科</a><br/>
              <a href="#">10.张先生 158*****435 肿瘤消融科</a><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8">
      <div id="doctor_list">
        <%#=render template:'home/doctor_list' %>
      </div>


      <div class="line space"></div>
      <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
        <div class="bs-example bs-example-tabs space">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" class="font-yahei font-16">案例综述</a></li>
            <li class=""><a href="#profile" data-toggle="tab" class="font-yahei font-16">科室动态</a></li>
            <li class=""><a href="#dropdown" data-toggle="tab" class="font-yahei font-16">新闻中心</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active in" id="home">
              <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-7">
                  <ul class="list-unstyled font-yahei lineheight-30">
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>脊髓电刺激研讨沙龙记事</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>医院参加基础灾害救援医学培训</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>我院妇产科医护人员参加中华医学会围产医学年会</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>清华大学临床神经科学研究院第一次院务工作会议</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>我院代表参加听取吴良镛先进事迹报告会</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>清华大学玉泉医院参加学校37届运动会开幕式(附图)</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-5"><a href="" class="pull-right space3 more">更多<span class="glyphicon glyphicon-play"></span></a></div>
              </div>
            </div>
            <div class="tab-pane" id="profile">
              <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-7">
                  <ul class="list-unstyled font-yahei lineheight-30">
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>新华网：全国首家“导乐分娩示范医院”在京揭牌</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>医疗教学综合楼（一期）室内灯具材料供货工程招标公告</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>我院妇科与泌尿外科合作完成输尿管导管放置后子宫全切手术</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>新华网：全国首家“导乐分娩示范医院”在京揭牌</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>医疗教学综合楼（一期）室内灯具材料供货工程招标公告</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-chevron-right space5 font-12"></span>我院妇科与泌尿外科合作完成输尿管导管放置后子宫全切手术</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-5"><a href="" class="pull-right space3 more">更多<span class="glyphicon glyphicon-play"></span></a></div>
              </div>
            </div>
            <div class="tab-pane" id="dropdown">
              <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-7">
                  <ul class="list-unstyled font-yahei lineheight-30">
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                    <li>
                      <a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video space5"></span>肿瘤会诊中心</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-5"><a href="" class="pull-right space3 more">更多<span class="glyphicon glyphicon-play"></span></a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="line"></div>
  <div class="row space">
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'9d14aef9e2314e50a5f989f4d9d02f42.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'263c3c8e149943e194a7c895efc14782.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'03ee9b19be8f49b5a667def719ebad2e.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'2423f9809c1940829d09b336add4345b.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'9cc9f51aabe445e2a4aa8aa7443c5de9.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-4  space2">
      <%= image_tag(Settings.pic0+'5c6e5e046cd140b09cac144b2486a7ad.jpg', alt: '医院环境', title: '医院环境', class: "img-responsive img-thumbnail") %>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">病人护理</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="#">申请预约</a></li>
        <li><a href="#">登陆到病人的帐户</a></li>
        <li><a href="#">治疗和诊断服务</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">健康信息</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="#">申请预约</a></li>
        <li><a href="#">登陆到病人的帐户</a></li>
        <li><a href="#">治疗和诊断服务</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">医疗人员</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="#">申请预约</a></li>
        <li><a href="#">登陆到病人的帐户</a></li>
        <li><a href="#">治疗和诊断服务</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">研究</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="#">申请预约</a></li>
        <li><a href="#">登陆到病人的帐户</a></li>
        <li><a href="#">治疗和诊断服务</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">教育</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="#">申请预约</a></li>
        <li><a href="#">登陆到病人的帐户</a></li>
        <li><a href="#">治疗和诊断服务</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-xs-6 space2">
      <strong class="font-yahei font-16 font-color5">保持联系</strong>
      <ul class="list-unstyled lineheight-24 font-color4">
        <li><a href="">数据中心管理与信息标准管理</a></li>
        <li><a href="">监控管理系统</a></li>
        <li><a href="">协同管理平台</a></li>
        <li><a href="#">计划行程</a></li>
        <li><a href="#">查找医生</a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12">
      <div class="pull-right font-color7"><a class="font-color7">联系我们</a> | <a class="font-color7">关于我们</a></div>
    </div>
  </div>
</div>

<script>

    $.ajax({
        type: 'get',
        url: '/doctors/index_doctors_list',
        data: 'json',
        success: function (data) {
            $('#doctor_list').html(data)
        },
        error: function (data) {
            console.log(data)

        }
    })

    // <![CDATA[
    var textDiv = document.getElementById("rollText");
    var textList = textDiv.getElementsByTagName("a");
    if (textList.length > 4) {
        var textDat = textDiv.innerHTML;
        var br = textDat.toLowerCase().indexOf("<br", textDat.toLowerCase().indexOf("<br") + 3);
//var textUp2 = textDat.substr(0,br);
        textDiv.innerHTML = textDat + textDat + textDat.substr(0, br);
        textDiv.style.cssText = "position:absolute; top:0";
        var textDatH = textDiv.offsetHeight;
        MaxRoll();
    }
    var minTime, maxTime, divTop, newTop = 0;
    function MinRoll() {
        newTop++;
        if (newTop <= divTop + 24) {
            textDiv.style.top = "-" + newTop + "px";
        } else {
            clearInterval(minTime);
            maxTime = setTimeout(MaxRoll, 5000);
        }
    }
    function MaxRoll() {
        divTop = Math.abs(parseInt(textDiv.style.top));
        if (divTop >= 0 && divTop < textDatH - 24) {
            minTime = setInterval(MinRoll, 1);
        } else {
            textDiv.style.top = 0;
            divTop = 0;
            newTop = 0;
            MaxRoll();
        }
    }
    // ]]>


    function change_doctor(img_url, introduction, name, hospital, department) {
        document.getElementById('img_url').src = img_url;
        document.getElementById('img_url').alt = name;
        document.getElementById('img_url').title = name;
        document.getElementById('introduction').innerHTML = introduction;
        document.getElementById('name').innerHTML = name;
        document.getElementById('hospital').innerHTML = hospital;
        document.getElementById('department').innerHTML = department;
    }
    function change_doc(img_url, introduction, name, hospital, department) {
        document.getElementById('default').src = img_url;
        document.getElementById('default').alt = name;
        document.getElementById('default').title = name;
        document.getElementById('introduction').innerHTML = introduction;
        document.getElementById('name').innerHTML = name;
        document.getElementById('hospital').innerHTML = hospital;
        document.getElementById('department').innerHTML = department;

    }
    var Speed_1 = 10; //速度(毫秒)
    var Space_1 = 10; //每次移动(px)
    var PageWidth_1 = 110; //翻页宽度
    var interval_1 = 100000; //翻页间隔时间
    var fill_1 = 0; //整体移位
    var MoveLock_1 = false;
    var MoveTimeObj_1;
    var MoveWay_1 = "right";
    var Comp_1 = 0;
    var AutoPlayObj_1 = null;
    function GetObj(objName) {
        if (document.getElementById) {
            return eval('document.getElementById("' + objName + '")')
        } else {
            return eval('document.all.' + objName)
        }
    }
    function AutoPlay_1() {
        clearInterval(AutoPlayObj_1);
        AutoPlayObj_1 = setInterval('ISL_GoDown_1();ISL_StopDown_1();', interval_1)
    }
    function ISL_GoUp_1() {
        if (MoveLock_1)return;
        clearInterval(AutoPlayObj_1);
        MoveLock_1 = true;
        MoveWay_1 = "left";
        MoveTimeObj_1 = setInterval('ISL_ScrUp_1();', Speed_1);
    }
    function ISL_StopUp_1() {
        if (MoveWay_1 == "right") {
            return
        }
        ;
        clearInterval(MoveTimeObj_1);
        if ((GetObj('ISL_Cont_1').scrollLeft - fill_1) % PageWidth_1 != 0) {
            Comp_1 = fill_1 - (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1);
            CompScr_1()
        } else {
            MoveLock_1 = false
        }
        AutoPlay_1()
    }
    function ISL_ScrUp_1() {
        if (GetObj('ISL_Cont_1').scrollLeft <= 0) {
            GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft + GetObj('List1_1').offsetWidth
        }
        GetObj('ISL_Cont_1').scrollLeft -= Space_1
    }
    function ISL_GoDown_1() {
        clearInterval(MoveTimeObj_1);
        if (MoveLock_1)return;
        clearInterval(AutoPlayObj_1);
        MoveLock_1 = true;
        MoveWay_1 = "right";
        ISL_ScrDown_1();
        MoveTimeObj_1 = setInterval('ISL_ScrDown_1()', Speed_1)
    }
    function ISL_StopDown_1() {
        if (MoveWay_1 == "left") {
            return
        }
        ;
        clearInterval(MoveTimeObj_1);
        if (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 - (fill_1 >= 0 ? fill_1 : fill_1 + 1) != 0) {
            Comp_1 = PageWidth_1 - GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 + fill_1;
            CompScr_1()
        } else {
            MoveLock_1 = false
        }
        AutoPlay_1()
    }
    function ISL_ScrDown_1() {
        if (GetObj('ISL_Cont_1').scrollLeft >= GetObj('List1_1').scrollWidth) {
            GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft - GetObj('List1_1').scrollWidth
        }
        GetObj('ISL_Cont_1').scrollLeft += Space_1
    }
    function CompScr_1() {
        if (Comp_1 == 0) {
            MoveLock_1 = false;
            return
        }
        var num, TempSpeed = Speed_1, TempSpace = Space_1;
        if (Math.abs(Comp_1) < PageWidth_1 / 2) {
            TempSpace = Math.round(Math.abs(Comp_1 / Space_1));
            if (TempSpace < 1) {
                TempSpace = 1
            }
        }
        if (Comp_1 < 0) {
            if (Comp_1 < -TempSpace) {
                Comp_1 += TempSpace;
                num = TempSpace
            } else {
                num = -Comp_1;
                Comp_1 = 0
            }
            GetObj('ISL_Cont_1').scrollLeft -= num;
            setTimeout('CompScr_1()', TempSpeed)
        } else {
            if (Comp_1 > TempSpace) {
                Comp_1 -= TempSpace;
                num = TempSpace
            } else {
                num = Comp_1;
                Comp_1 = 0
            }
            GetObj('ISL_Cont_1').scrollLeft += num;
            setTimeout('CompScr_1()', TempSpeed)
        }
    }

</script>
