<style>
  h3{
      margin-top: 20px;
      margin-bottom: 10px;
  }
  ul, ol {
      margin-top: 0;
      margin-bottom: 10px;
  }
</style>
<%cache do%>
    <div class="container" style="margin-top:-20px;">
      <!--carousel-->
      <div class="row" style="margin-top:10px;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item  active">
              <%= image_tag(Settings.pic+'7e751e4408924d359e2d07a7da74326b.jpg') %>
              <div class="carousel-caption">
                <h2 class="font-yahei" style="color:#0e89c5;"><strong>远程会诊</strong></h2>

                <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
                  <strong>利用电子邮件、网站、信件、电话、传真等现代化通讯工具，为患者完成病历分析、病情诊断，进一步确定治疗方案的治疗方式。</strong></p>
              </div>
            </div>
            <div class="item">
              <%= image_tag(Settings.pic+'2262c7aa3b14475c83d2a269e9bb93b0.jpg') %>
              <div class="carousel-caption">
                <h2 class="font-yahei " style="color:#0e89c5;"><strong>预约就诊</strong></h2>

                <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
                  <strong>就诊者抵医院前对医院门诊/住院的预先订约，即通过使用电话、电传、书信、网站等各种方式。</strong></p>
              </div>
            </div>
            <div class="item">
              <%= image_tag(Settings.pic+'d8c660a31f574aa38aa43df02f2836c2.jpg') %>
              <div class="carousel-caption">
                <h2 class="font-yahei" style="color:#0e89c5;"><strong>健康档案</strong></h2>

                <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
                  <strong>记录每个人所有生命体征的变化，以及自身所从事过的与健康相关的一切行为与事件的档案，主要包括电子病例和CT图片。</strong>
                </p>
              </div>
            </div>
          </div>
          <!--图片翻页按钮-->
          <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
          <!--</a>-->
          <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
          <!--</a>-->
        </div>
      </div>
      <!--carousel end-->
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-5  col-xs-12 " style="margin-top:10px;">
        <div class="row padding_right">
          <div class="col-md-12  index_box">
            <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>用户登陆</b></h3>
            <div>
              <%= render 'sessions/login_form' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-7 col-xs-12" style="margin-top:10px;">
        <div class="row padding" style="">
          <div class="col-md-12  index_box">
            <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>案例综述</b></h3>
            <div class="row anli">
              <div class="col-md-12 col-sm-10 col-xs-10">
                <ul class="list-unstyled font-yahei line_height24">
                  <li>
                    <a href="/case/first_case" class="font-12" target="_blank"><span class="new_date">2014-3-17</span><span class="dot">专访美中宜和医院CEO胡澜 医疗机构...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/second_case" class="font-12" target="_blank"><span class="new_date">2014-3-7</span><span class="dot">淄博临淄免费为650名贫困患者治白内障...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/third_case" class="font-12" target="_blank"><span class="new_date">2014-2-27</span><span class="dot">积极推进医疗卫生体制改革 ——访市政协...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/fourth_case" class="font-12" target="_blank"><span class="new_date">2014-2-15</span><span class="dot">医疗保健：改革配套政策不能及时出...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/fifth_case" class="font-12" target="_blank"><span class="new_date">2014-1-30</span><span class="dot">改革向深水区推进 医疗产业开启...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/sixth_case" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot">医疗改革中还存在突出矛盾张八五...</span></a>
                  </li>
                  <div class="clearfix"></div>


                </ul>
              </div>
              <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12 index_box" style="margin-top:10px;">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>医院简介</b></h3>
        <p class="font-yahei font-12 lineheight-24 text department_introduction_content" style="color:#575e68;">清华大学玉泉医院（即清华大学第二附属医院），1983年12月正式开院，是一所向社会开放的综合性医院。先后被评为“爱婴医院”、“大病统筹定点医院”、“医疗保险定点医院”。 2003年4月10日正式划归清华大学。医院设有急诊科、神经科、内科、普外科、血液净化中心、骨科、手外科、泌尿外科、妇产科、儿科、中医科、口腔科、皮肤科、五官科、麻醉科、感染科等临床科室和保健科、检验科、放射影像科、病理科、药剂科、超声诊断科、肿瘤消融中心等医技科室。</p>
      </div>


    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12"  style="margin-top:10px;">
        <div class="row" style="">
          <div class="col-md-12  index_box">
            <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>新闻中心</b></h3>
            <div class="row anli">
              <div class="col-md-12 col-sm-10 col-xs-10">
                <ul class="list-unstyled font-yahei line_height24">
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/53/ce/01/624a9a8e9d59ac126a83d7&title=肿瘤会诊中心视频" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class="dot_g">肿瘤会诊中心视频...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/12/fd/de/e6410da82b0eaeee2ad9f6&title=生活习惯与肿瘤（上）" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class="dot_g">生活习惯与肿瘤上...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/53/ce/01/624a9a8e9d59ac126a83d7&title=换个角度看感冒" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class="dot_g">换个角度看感冒...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/bf/02/e2/63459d8d5d6c502721caeb&title=数字化手术室" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class="dot_g">数字化手术室...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/00/58/17/544db0abc95a25551b775d&title=一针见生死" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class="dot_g">一针见生死...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/18/2a/b8/214111a25faeba0511e358&title=生活习惯与肿瘤(下)" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">生活习惯与肿瘤下...</span></a>
                  </li>
                  <div class="clearfix"></div>
                  <li>
                    <a href="/case/play_video?video_url=rtmp://203.195.197.169/vod/ba/80/c4/284e6cb9be380a02c35cb4&title=肿瘤的预防和治疗" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">肿瘤的预防和治疗...</span></a>
                  </li>
                  <div class="clearfix"></div>

                </ul>
              </div>
              <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-9">
        <div class="row padding_left">
        <div id="doctor_list" class="col-md-12 col-xs-12 col-sm-12 index_box"  style="margin-top:10px;">
          <%#=render template:'home/doctor_list' %>
          <div class="clearfix"></div>
        </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <!--科室动态-->
      <!--<div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px;">-->
        <!--<div class="row" style="">-->
          <!--<div class="col-md-12  index_box">-->
            <!--<h3 class="font-18 font-yahei" style="color:#464b4e;"><b>科室动态</b></h3>-->
            <!--<div class="row anli">-->
              <!--<div class="col-md-12 col-sm-10 col-xs-10">-->
                <!--<ul class="list-unstyled font-yahei line_height24">-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12 "><span class="new_date">2014-3-17</span><span class="dot_r">专访美中宜和医院CEO胡澜...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12"><span class="new_date">2014-3-7</span><span class="dot_r">淄博临淄免费为650名贫困患...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12"><span class="new_date">2014-2-27</span><span class="dot_r">积极推进医疗卫生体制改革...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12"><span class="new_date">2014-2-15</span><span class="dot_r">医疗保健：改革配套政策不...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12"><span class="new_date">2014-1-30</span><span class="dot_r">改革向深水区推进 医疗产...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->
                  <!--<li>-->
                    <!--<a href="#" class="font-12"><span class="new_date">2014-1-22</span><span class="dot_r">医疗改革中还存在突出矛...</span></a>-->
                  <!--</li>-->
                  <!--<div class="clearfix"></div>-->


                <!--</ul>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--科室动态 end-->
      <div class="col-md-12" >
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 index_box"  style="margin-top:10px;">
            <div class="col-md-4 col-sm-4 col-xs-4 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;"><%= image_tag("#{Settings.pic}1b473b1aa7324c7ca4e6f9e427eccf16.jpg", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
              <p style="padding-top:4px;margin:0"><b style="color:#89919c;">清华大学玉泉医院</b><br /><span style="color:#a8aeb7;">清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院</span></p></div>
            <div class="col-md-4 col-sm-4 col-xs-4 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;"><%= image_tag("#{Settings.pic}8303540e2e044c428141be709b0569b9.jpg", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
              <p style="margin-top:4px;"><b style="color:#89919c;">清华大学玉泉医院</b><br /><span style="color:#a8aeb7;">清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院</span></p></div>
            <div class="col-md-4 col-sm-4 col-xs-4 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;"><%= image_tag("#{Settings.pic}daa7da4b368e4acb939e745e703fb5fc.jpg", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
              <p style="margin-top:4px;"><b style="color:#89919c;">清华大学玉泉医院</b><br /><span style="color:#a8aeb7;">清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院清华大学玉泉医院</span></p></div>
          </div>
        </div>
      </div>
    </div>

    </div>


    <!--<div class="footer">-->
      <!--<div class="container">-->
        <!--<div class="row index_box" style="margin-top:10px;">-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14">病人护理</strong>-->
            <!--<ul class="list-unstyled lineheight-24 ">-->
              <!--<li><a href="#">申请预约</a></li>-->
              <!--<li><a href="#">登陆到病人的帐户</a></li>-->
              <!--<li><a href="#">治疗和诊断服务</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14">健康信息</strong>-->
            <!--<ul class="list-unstyled lineheight-24">-->
              <!--<li><a href="#">申请预约</a></li>-->
              <!--<li><a href="#">登陆到病人的帐户</a></li>-->
              <!--<li><a href="#">治疗和诊断服务</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14 ">医疗人员</strong>-->
            <!--<ul class="list-unstyled lineheight-24 ">-->
              <!--<li><a href="#">申请预约</a></li>-->
              <!--<li><a href="#">登陆到病人的帐户</a></li>-->
              <!--<li><a href="#">治疗和诊断服务</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14 ">研究</strong>-->
            <!--<ul class="list-unstyled lineheight-24 ">-->
              <!--<li><a href="#">申请预约</a></li>-->
              <!--<li><a href="#">登陆到病人的帐户</a></li>-->
              <!--<li><a href="#">治疗和诊断服务</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14 ">教育</strong>-->
            <!--<ul class="list-unstyled lineheight-24 ">-->
              <!--<li><a href="#">申请预约</a></li>-->
              <!--<li><a href="#">登陆到病人的帐户</a></li>-->
              <!--<li><a href="#">治疗和诊断服务</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-2 col-sm-4 col-xs-6 space2">-->
            <!--<strong class="font-yahei font-14 ">保持联系</strong>-->
            <!--<ul class="list-unstyled lineheight-24 ">-->
              <!--<li><a href="">数据中心管理与信息标准管理</a></li>-->
              <!--<li><a href="">监控管理系统</a></li>-->
              <!--<li><a href="">协同管理平台</a></li>-->
              <!--<li><a href="#">计划行程</a></li>-->
              <!--<li><a href="#">查找医生</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <%=javascript_include_tag 'home_index'%>
<%end%>


