<div class="container" style="margin-top:-20px;">
  <!--carousel-->
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" >
        <div class="item active">
          <%= image_tag(@image_url+'0129f68fcb8144519d1b270298fbf83b.jpg')%>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color2">健康档案</h2>
            <p class="font-yahei font-18 font-color6" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">记录每个人从出生到死亡的所有生命体征的变化，以及自身所从事过的与健康相关的一切行为与事件的档案。</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(@image_url+'2646b6a009c3458e865f9a221cc7f136.jpg')%>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color2">远程会诊</h2>
            <p class="font-yahei font-18 font-color6" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">利用电子邮件、网站、信件、电话、传真等现代化通讯工具，为患者完成病历分析、病情诊断，进一步确定治疗方案的治疗方式。</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(@image_url+'971daa317f7e4a9981120027756e153b.jpg')%>
          <div class="carousel-caption">
            <h2 class="font-yahei font-color2">预约就诊</h2>
            <p class="font-yahei font-18 font-color6" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">就诊者抵医院前对医院门诊/住院的预先订约，即通过使用电话、电传、书信、网站等各种方式。</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!--carousel end-->
</div>
<div class="container bgcolor-gray">
<div class="row">
<div class="col-md-3 bgcolor-purple line2">
  <div class="row">
    <div class="col-md-12">
      <%= render 'sessions/login_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>科室简介</h3>
      <p class="font-yahei lineheight-30 text">清华大学第二附属医院（清华大学玉泉医院）是一所向社会开放的二级甲等综合性医院，1983年12月建院，2003年4月10日划归清华大学，由著名的神经外科专家左焕琮教授担任院长。清华大学玉泉医院肿瘤会诊中心，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊，手术规划，肿瘤微创治疗、综合治疗指导以及肿瘤康复的全新肿瘤个体化治疗的医学平台。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>挂号预约</h3>
      <div id="Marquee">
        <div>
          <ul class="list-unstyled">
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-unstyled">
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-unstyled">
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
            <li><a href="#">张先生 158*****435 肿瘤消融科</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var Mar = document.getElementById("Marquee");
    var child_div=Mar.getElementsByTagName("div")
    var picH = 80;//移动高度
    var scrollstep=3;//移动步幅,越大越快
    var scrolltime=20;//移动频度(毫秒)越大越慢
    var stoptime=10000;//间断时间(毫秒)
    var tmpH = 0;
    Mar.innerHTML += Mar.innerHTML;
    function start(){
        if(tmpH < picH){
            tmpH += scrollstep;
            if(tmpH > picH )tmpH = picH ;
            Mar.scrollTop = tmpH;
            setTimeout(start,scrolltime);
        }else{
            tmpH = 0;
            Mar.appendChild(child_div[0]);
            Mar.scrollTop = 0;
            setTimeout(start,stoptime);
        }
    }
    onload=function(){setTimeout(start,stoptime)};
</script>

<div class="col-md-9 bgcolor-purple">
<h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>医生列表</h3>
<div class="row space" id='doc_info'>
  <div class="col-md-2 col-xs-5 col-sm-2">
    <% if !@doctor.empty?&&!@doctor['users'][0]['photos'][0].nil? && @doctor['users'][0]['photos'][0]['remote_photo_path']!=''%>
        <img id='img_url' src="<%=@doctor['users'][0]['photos'][0]['remote_photo_path'] %>" class="img-responsive" alt="<%=@doctor['name']%>">
    <% else %>
        <%= image_tag('default.png', id:'default_url',alt:@doctor['name'],class:'img-responsive',size:'90x126') %>
    <% end %>
  </div>
  <div class="col-md-10 col-xs-7 col-sm-10">
    <h4 class="font-yahei"><strong id="name"><%=@doctor['name'] %></strong></h4>
    <ul class="list-unstyled font-yahei">
      <li class="lineheight-30"><strong class="font-yahei">医院&nbsp;</strong><span id="hospital"><%=@doctor['hospital']['name'] %></span></li>
      <li class="lineheight-30"><strong class="font-yahei">科室&nbsp;</strong><span id="department"><%=@doctor['department']['name'] %></span></li>
      <li class="lineheight-30"><strong class="font-yahei">简介&nbsp;</strong><span id="introduction"><%=@doctor['introduction'] %></span></li>
    </ul>
  </div>
</div>
<div class="row space">
  <div class="col-md-12">
    <div class="blk_18">
      <a class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:void(0);" target="_self"><</a>
      <div class="pcont" id="ISL_Cont_1">
        <div class="ScrCont">
          <div id="List1_1">

          <%@doctors_all.each do |doctor|%>
                <% if !doctor['users'][0]['photos'][0].nil? && doctor['users'][0]['photos'][0]['remote_photo_path']!=''%>
                    <a class="pl"><img src="<%=doctor['users'][0]['photos'][0]['remote_photo_path'] %>" alt="<%=doctor['name']%>" title="<%=@doctor['name']%>" width="90" height="126" onmouseover="change_doctor('<%=doctor['users'][0]['photos'][0]['remote_photo_path'] %>','<%=doctor['introduction'] %>','<%=doctor['name']%>',' <%=doctor['hospital']['name'] %>', '<%=doctor['department']['name'] %>')"/></a>
                <%else%>
                    <a class="pl" onmouseover="change_doc('','<%=doctor['introduction'] %>','<%=doctor['name']%>','<%#=doctor['hospital']['name']%>', '<%=doctor['department']['name'] %>')"><%= image_tag(@image_url+'4b9e92668f5a4803b52a9e8e15070bf9.png', alt:doctor['name'] ,id:'default',title:doctor['name'],size:'90x126',)%></a>
                <%end%>
          <%end%>
          </div>

          <div id="List2_1"></div>
        </div>
      </div>



      <a class="RightBotton" onmousedown="ISL_GoDown_1()" onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:void(0);" target="_self">></a>
    </div>
  </div>
</div>
<div class="line space"></div>
<div class="col-md-12">
  <div class="bs-example bs-example-tabs space">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" class="font-yahei font-16">案例综述</a></li>
      <li class=""><a href="#profile" data-toggle="tab" class="font-yahei font-16">科室动态</a></li>
      <li class=""><a href="#dropdown" data-toggle="tab" class="font-yahei font-16">新闻中心</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active in" id="home">
        <div class="row">
          <div class="col-md-11 col-sm-10">
            <ul class="list-unstyled font-yahei lineheight-30">
              <li><a href="#" class="font-14">脊髓电刺激研讨沙龙记事</a></li>
              <li><a href="#" class="font-14">医院参加基础灾害救援医学培训</a></li>
              <li><a href="#" class="font-14">我院妇产科医护人员参加中华医学会围产医学年会</a></li>
              <li><a href="#" class="font-14">清华大学临床神经科学研究院第一次院务工作会议</a></li>
              <li><a href="#" class="font-14">我院代表参加听取吴良镛先进事迹报告会</a></li>
              <li><a href="#" class="font-14">清华大学玉泉医院参加学校37届运动会开幕式(附图)</a></li>
            </ul>
          </div>
          <div class="col-md-1 col-sm-2"><a href="" class="btn btn-xs pull-right space3">更多》</a></div>
        </div>
      </div>
      <div class="tab-pane" id="profile">
        <div class="row">
          <div class="col-md-11 col-sm-10">
            <ul class="list-unstyled font-yahei lineheight-30">
              <li><a href="#" class="font-14">新华网：全国首家“导乐分娩示范医院”在京揭牌</a></li>
              <li><a href="#" class="font-14">医疗教学综合楼（一期）室内灯具材料供货工程招标公告</a></li>
              <li><a href="#" class="font-14">我院妇科与泌尿外科合作完成输尿管导管放置后子宫全切手术</a></li>
              <li><a href="#" class="font-14">新华网：全国首家“导乐分娩示范医院”在京揭牌</a></li>
              <li><a href="#" class="font-14">医疗教学综合楼（一期）室内灯具材料供货工程招标公告</a></li>
              <li><a href="#" class="font-14">我院妇科与泌尿外科合作完成输尿管导管放置后子宫全切手术</a></li>
            </ul>
          </div>
          <div class="col-md-1 col-sm-2"><a href="" class="btn btn-xs pull-right space3">更多》</a></div>
        </div>
      </div>
      <div class="tab-pane" id="dropdown">
        <div class="row">
          <div class="col-md-11 col-sm-10">
            <ul class="list-unstyled font-yahei lineheight-30">
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
              <li><a href="#" class="font-14"><span class="glyphicon glyphicon-facetime-video"></span>肿瘤会诊中心</a></li>
            </ul>
          </div>
          <div class="col-md-1 col-sm-2"><a href="" class="btn btn-xs pull-right space3">更多》</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
<div class="line"></div>
<div class="row space2 space">
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'1084a42935214c52af317f2b9187d23c.jpg',alt:'医院环境' ,title:'医院环境',class:"img-responsive img-thumbnail")%>
  </div>
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'cd58f608f8c645bc8a2194ec74cffbef.jpg',alt:'医院环境' ,title:'医院环境',class:"img-responsive img-thumbnail")%>
  </div>
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'f39696af2dd14058a9d8743aa466b702.jpg',alt:'医院环境',title:'医院环境' ,class:"img-responsive img-thumbnail")%>
  </div>
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'8359e1f3ef1c43eb89aa3ed484399079.jpg',alt:'医院环境' ,title:'医院环境',class:"img-responsive img-thumbnail")%>
  </div>
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'8f64f232cc9a4058afd404cf18240d2c.jpg',alt:'医院环境' ,title:'医院环境',class:"img-responsive img-thumbnail")%>
  </div>
  <div class="col-md-2 col-xs-6 col-sm-4">
    <%= image_tag(@image_url+'037e5f529ac74c9fbdd20566cfff6c03.jpg',alt:'医院环境' ,title:'医院环境',class:"img-responsive img-thumbnail")%>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">病人护理</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="#">申请预约</a></li>
      <li><a href="#">登陆到病人的帐户</a></li>
      <li><a href="#">治疗和诊断服务</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">健康信息</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="#">申请预约</a></li>
      <li><a href="#">登陆到病人的帐户</a></li>
      <li><a href="#">治疗和诊断服务</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">医疗人员</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="#">申请预约</a></li>
      <li><a href="#">登陆到病人的帐户</a></li>
      <li><a href="#">治疗和诊断服务</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">研究</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="#">申请预约</a></li>
      <li><a href="#">登陆到病人的帐户</a></li>
      <li><a href="#">治疗和诊断服务</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">教育</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="#">申请预约</a></li>
      <li><a href="#">登陆到病人的帐户</a></li>
      <li><a href="#">治疗和诊断服务</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-xs-4">
    <strong class="font-yahei font-16 font-color3">保持联系</strong>
    <ul class="list-unstyled lineheight-24 font-color4">
      <li><a href="">数据中心管理与信息标准管理平台</a></li>
      <li><a href="">监控管理系统</a></li>
      <li><a href="">协同管理平台</a></li>
      <li><a href="#">计划行程</a></li>
      <li><a href="#">查找医生</a></li>
    </ul>
  </div>
</div>
</div>
<script>
    function change_doctor(img_url, introduction,name, hospital, department) {
        document.getElementById('img_url').src = img_url;
        document.getElementById('img_url').alt = name;
        document.getElementById('img_url').title = name;
        document.getElementById('introduction').innerHTML = introduction;
        document.getElementById('name').innerHTML = name;
        document.getElementById('hospital').innerHTML = hospital;
        document.getElementById('department').innerHTML = department;

    }
    function change_doc(img_url, introduction,name, hospital, department) {
        document.getElementById('default').src = img_url;
        document.getElementById('default').alt = name;
        document.getElementById('default').title = name;
        document.getElementById('introduction').innerHTML = introduction;
        document.getElementById('name').innerHTML = name;
        document.getElementById('hospital').innerHTML = hospital;
        document.getElementById('department').innerHTML = department;

    }
    var Speed_1 = 10; //速度(毫秒)
    var Space_1 = 20; //每次移动(px)
    var PageWidth_1 = 120 * 6; //翻页宽度
    var interval_1 = 100000; //翻页间隔时间
    var fill_1 = 0; //整体移位
    var MoveLock_1 = false;
    var MoveTimeObj_1;
    var MoveWay_1 = "right";
    var Comp_1 = 0;
    var AutoPlayObj_1 = null;
    function GetObj(objName) {
        if (document.getElementById) {
            return eval('document.getElementById("' + objName + '")')
        } else {
            return eval('document.all.' + objName)
        }
    }
    function AutoPlay_1() {
        clearInterval(AutoPlayObj_1);
        AutoPlayObj_1 = setInterval('ISL_GoDown_1();ISL_StopDown_1();', interval_1)
    }
    function ISL_GoUp_1() {
        if (MoveLock_1)return;
        clearInterval(AutoPlayObj_1);
        MoveLock_1 = true;
        MoveWay_1 = "left";
        MoveTimeObj_1 = setInterval('ISL_ScrUp_1();', Speed_1);
    }
    function ISL_StopUp_1() {
        if (MoveWay_1 == "right") {
            return
        }
        ;
        clearInterval(MoveTimeObj_1);
        if ((GetObj('ISL_Cont_1').scrollLeft - fill_1) % PageWidth_1 != 0) {
            Comp_1 = fill_1 - (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1);
            CompScr_1()
        } else {
            MoveLock_1 = false
        }
        AutoPlay_1()
    }
    function ISL_ScrUp_1() {
        if (GetObj('ISL_Cont_1').scrollLeft <= 0) {
            GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft + GetObj('List1_1').offsetWidth
        }
        GetObj('ISL_Cont_1').scrollLeft -= Space_1
    }
    function ISL_GoDown_1() {
        clearInterval(MoveTimeObj_1);
        if (MoveLock_1)return;
        clearInterval(AutoPlayObj_1);
        MoveLock_1 = true;
        MoveWay_1 = "right";
        ISL_ScrDown_1();
        MoveTimeObj_1 = setInterval('ISL_ScrDown_1()', Speed_1)
    }
    function ISL_StopDown_1() {
        if (MoveWay_1 == "left") {
            return
        }
        ;
        clearInterval(MoveTimeObj_1);
        if (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 - (fill_1 >= 0 ? fill_1 : fill_1 + 1) != 0) {
            Comp_1 = PageWidth_1 - GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 + fill_1;
            CompScr_1()
        } else {
            MoveLock_1 = false
        }
        AutoPlay_1()
    }
    function ISL_ScrDown_1() {
        if (GetObj('ISL_Cont_1').scrollLeft >= GetObj('List1_1').scrollWidth) {
            GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft - GetObj('List1_1').scrollWidth
        }
        GetObj('ISL_Cont_1').scrollLeft += Space_1
    }
    function CompScr_1() {
        if (Comp_1 == 0) {
            MoveLock_1 = false;
            return
        }
        var num, TempSpeed = Speed_1, TempSpace = Space_1;
        if (Math.abs(Comp_1) < PageWidth_1 / 2) {
            TempSpace = Math.round(Math.abs(Comp_1 / Space_1));
            if (TempSpace < 1) {
                TempSpace = 1
            }
        }
        if (Comp_1 < 0) {
            if (Comp_1 < -TempSpace) {
                Comp_1 += TempSpace;
                num = TempSpace
            } else {
                num = -Comp_1;
                Comp_1 = 0
            }
            GetObj('ISL_Cont_1').scrollLeft -= num;
            setTimeout('CompScr_1()', TempSpeed)
        } else {
            if (Comp_1 > TempSpace) {
                Comp_1 -= TempSpace;
                num = TempSpace
            } else {
                num = Comp_1;
                Comp_1 = 0
            }
            GetObj('ISL_Cont_1').scrollLeft += num;
            setTimeout('CompScr_1()', TempSpeed)
        }
    }
</script>
