<style>
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
<%#cache do%>
<div id="content"></div>
<div class="container" style="margin-top:-20px;">
  <!--浮动二维码-->
  <div id="tbox">
    <a id="pinglun" href="#tag_cmt"></a>
    <a id="xiangguan" href="#tag_about"></a>
    <a id="gotop" href="javascript:void(0)"></a>
  </div>
  <!--浮动二维码 end-->
  <!--carousel-->
  <div class="row" style="margin-top:10px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item  active">
          <%= image_tag(default_access_url_prefix_with("assets/nav1.jpg")) %>
          <div class="carousel-caption">
            <h2 class="font-yahei" style="color:#0e89c5;"><strong>远程会诊</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>利用电子邮件、网站、信件、电话、传真等现代化通讯工具，为患者完成病历分析、病情诊断，进一步确定治疗方案的治疗方式。</strong></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(default_access_url_prefix_with("assets/nav2.jpg")) %>
          <div class="carousel-caption">
            <h2 class="font-yahei " style="color:#0e89c5;"><strong>预约就诊</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>就诊者抵医院前对医院门诊/住院的预先订约，即通过使用电话、电传、书信、网站等各种方式。</strong></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag(default_access_url_prefix_with("assets/nav3.jpg")) %>
          <div class="carousel-caption">
            <h2 class="font-yahei" style="color:#0e89c5;"><strong>健康档案</strong></h2>

            <p class="font-yahei font-18 font-color6 text-left" style="text-shadow:0px 0px 0px rgba(0,0,0,0);">
              <strong>记录每个人所有生命体征的变化，以及自身所从事过的与健康相关的一切行为与事件的档案，主要包括电子病例和CT图片。</strong>
            </p>
          </div>
        </div>
      </div>
      <!--图片翻页按钮-->
      <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
      <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
      <!--</a>-->
      <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
      <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
      <!--</a>-->
    </div>
  </div>
  <!--carousel end-->
</div>
<div class="container">
<div class="row">

  <div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:10px;">
    <div class="row" style="">
      <div class="col-md-12  index_box">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>医疗机构</b></h3>

        <div class="row index_hos">
          <div class="col-md-12 col-sm-10 col-xs-10">

            <div class="index_hos_box col-md-4 col-sm-4 col-xs-12">
              <dl>
                <dt><%= image_tag("#{default_access_url_prefix_with('assets/jiefangjunzongyiyuan.jpg')}",:style=> "width:70px;height:70px;") %></dt>
                <dd><a>中国解放军总医院</a><br />三级甲等</dd>
              </dl>
              <div style="clear:both;"></div>
              <p>创建于1953年，是集医疗、保健、教学、科研于一体的大型现代化综合性医院。医院担负党中央、中央军委和总部首长及部分...<button class="index_btn"><a>更多</a></button></p>
            </div>

            <div class="index_hos_box col-md-4 col-sm-4 col-xs-12">

              <dl>
                <dt><%= image_tag("#{default_access_url_prefix_with('assets/qinghuadaxueyuquanyiyuan.jpg')}",:style=> "width:70px;height:70px;") %></dt>
                <dd><a href="http://yuquan.kanbing365.com/" onclick="javascript:;;" id="yuquan" target="_blank">清华大学玉泉医院</a><br />三级甲等</dd>
              </dl>
              <div style="clear:both;"></div>
              <p>1983年12月建院，2003年4月10日划归清华大学。医院挂牌“医疗保险定点医院”、“北京市工伤定点医疗机构”。具有高级干...<button class="index_btn"><a href="http://yuquan.kanbing365.com/" onclick="javascript:;;" id="yuquan" target="_blank">更多</a></button></p>
            </div>
            <div class="index_hos_box col-md-4 col-sm-4 col-xs-12">
              <dl>
                <dt><%= image_tag("#{default_access_url_prefix_with('assets/jishuitanyiyuan.jpg')}",:style=> "width:70px;height:70px;") %></dt>
                <dd><a>清华大学绿色医疗基金会</a><br />三级甲等</dd>
              </dl>
              <div style="clear:both;"></div>
              <p>绿色医疗包括微创医疗、医疗信息化、健康管理等先进的临床治疗技术，更涵盖了教育与人才培养、新标准的建立等完善的系...<button class="index_btn"><a>更多</a></button></p>
            </div>
          </div>
          <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-5  col-xs-12 " style="margin-top:10px;">
    <div class="row padding_left">
      <div class="col-md-12  index_box">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>用户登陆</b></h3>

        <div>
          <%= render 'sessions/login_form' %>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-9">
    <div class="row">
      <div id="doctor_list" class="col-md-12 col-xs-12 col-sm-12 index_box" style="margin-top:10px;">
        <%#=render template:'home/doctor_list' %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px;">
    <div class="row padding_left" style="">
      <div class="col-md-12  index_box">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>最新活动</b></h3>

        <div class="row anli">
          <div class="col-md-12 col-sm-10 col-xs-10">
            <ul class="list-unstyled font-yahei line_height24">
              <li>
                <a href="/case/play_video?video_url=0b74ec223872412c8b35fd830bdfc531.flv&title=超声检查的常规程序" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class="dot_g">超声检查的常规程序...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=da3dbe63c3e14716a4d8527c8127b227.flv&title=心脏剖析和生理（上）" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class="dot_g">心脏剖析和生理...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=换个角度看感冒" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class="dot_g">换个角度看感冒...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=教育视频" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class="dot_g">教育视频...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=一针见生死" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class="dot_g">一针见生死...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=生活习惯与肿瘤(下)" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">生活习惯与肿瘤下...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=肿瘤的预防和治疗" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">肿瘤的预防和治疗...</span></a>
              </li>
              <div class="clearfix"></div>

            </ul>
          </div>
          <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">

  <div class="col-md-9">
    <div class="row">

      <div id="doctor_list" class="col-md-12 col-xs-12 col-sm-12 index_box" style="margin-top:10px;">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>治疗新技术</b></h3>
        <div class="col-md-4 col-sm-4 col-xs-12 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;">
          <%= image_tag("#{default_access_url_prefix_with('assets/weiboxiaorong.jpg')}", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
          <p style="padding-top:4px;margin:0">
            <b style="color:#89919c;">微波消融</b>
            <br/>
            <span style="color:#a8aeb7;">利用CT的图像清晰，无创无辐射和实时直接监控等特点下，用专门的...
            <button class="index_btn"><a href="#">更多</a></button>
            </span>
          </p></div>
        <div class="col-md-4 col-sm-4 col-xs-12 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;">
          <%= image_tag("#{default_access_url_prefix_with('assets/chaoshengjieru.jpg')}", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
          <p style="margin-top:4px;">
            <b style="color:#89919c;">超声介入肿瘤治疗</b>
            <br/>
            <span style="color:#a8aeb7;">超声介入技术是在超声显像基础上为进一步满足临床诊断和治疗的需...
            <button class="index_btn"><a href="#">更多</a></button>
            </span>
          </p></div>
        <div class="col-md-4 col-sm-4 col-xs-12 font-12 font-yahei" style="margin:0;padding:11px 8px 5px 8px;">
          <%= image_tag("#{default_access_url_prefix_with('assets/zhongliureliao.jpg')}", alt: '医院环境', title: '医院环境', class: "img-responsive") %>
          <p style="margin-top:4px;">
            <b style="color:#89919c;">肿瘤热疗</b>
            <br/>
            <span style="color:#a8aeb7;">肿瘤热疗是利用物理能量加热人体全身或局部，使肿瘤组织温度上升到...
              <button class="index_btn"><a href="#">更多</a></button>
            </span>
          </p></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px;">
    <div class="row padding_left" style="">
      <div class="col-md-12  index_box">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>专题教育</b></h3>

        <div class="row anli">
          <div class="col-md-12 col-sm-10 col-xs-10">
            <ul class="list-unstyled font-yahei line_height24">
              <li>
                <a href="/case/play_video?video_url=0b74ec223872412c8b35fd830bdfc531.flv&title=超声检查的常规程序" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class="dot_g">超声检查的常规程序...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=da3dbe63c3e14716a4d8527c8127b227.flv&title=心脏剖析和生理（上）" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class="dot_g">心脏剖析和生理...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=换个角度看感冒" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class="dot_g">换个角度看感冒...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=教育视频" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class="dot_g">教育视频...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=一针见生死" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class="dot_g">一针见生死...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=生活习惯与肿瘤(下)" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">生活习惯与肿瘤下...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=肿瘤的预防和治疗" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">肿瘤的预防和治疗...</span></a>
              </li>
              <div class="clearfix"></div>

            </ul>
          </div>
          <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">

<%#= render :partial =>  "area" %>
<!--   <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px;">
    <div class="row padding_left" style="">
      <div class="col-md-12  index_box">
        <h3 class="font-18 font-yahei" style="color:#464b4e;"><b>专题介绍</b></h3>

        <div class="row anli">
          <div class="col-md-12 col-sm-10 col-xs-10">
            <ul class="list-unstyled font-yahei line_height24">
              <li>
                <a href="/case/play_video?video_url=0b74ec223872412c8b35fd830bdfc531.flv&title=超声检查的常规程序" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class="dot_g">超声检查的常规程序...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=da3dbe63c3e14716a4d8527c8127b227.flv&title=心脏剖析和生理（上）" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class="dot_g">心脏剖析和生理...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=换个角度看感冒" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class="dot_g">换个角度看感冒...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=教育视频" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class="dot_g">教育视频...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=a3c64b2217d844699eb256c18a3a4732.flv&title=一针见生死" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class="dot_g">一针见生死...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=生活习惯与肿瘤(下)" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">生活习惯与肿瘤下...</span></a>
              </li>
              <div class="clearfix"></div>
              <li>
                <a href="/case/play_video?video_url=1a09f05d360f4405babd5cd18897bdbd.flv&title=肿瘤的预防和治疗" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot_g">肿瘤的预防和治疗...</span></a>
              </li>
              <div class="clearfix"></div>

            </ul>
          </div>
          <!--<div class="col-md-1 col-sm-2 col-xs-2"><a href="" class="pull-right more font-color3"><span class="glyphicon glyphicon-chevron-right"></span></a></div>-->
<!--         </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div> 
 -->

</div>

</div>

<%= javascript_include_tag 'home_index' %>
<%#end%>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 5000);
//        setTimeout("hideflash()", 2000);
    });
    <% end %>

    $(document).ready(function(){
        $("#yuquan").click(function(){

        });
    });
</script>

