<div class="container" style="margin:0 auto;">
<div class="row" style="background:#fff;border:1px solid #e5e5e5;position:relative;margin-top:-10px;">
<div class="pull-left col-md-8 col-md-8 col-xs-6" style="margin:40px 0 0 40px;">
  <p class="l_nav">您目前位置：<a href="/">首页</a>/<a href="/m_list">治疗新技术</a>/<a><%= @skill.name if !@skill.nil?%></a></p>
  <div class="row" style="margin:30px 0 40px 0;">
    <div class="col-md-6">
      <% skillname =@skill.name  %>
      <%= image_tag(@skill.photo, alt: skillname, title: skillname, style: "width:100%;") %>
    </div>
    <div class="col-md-6 in_content">
      <b style="color:#000;font-size:22px;"><%= skillname %></b><br />
      <%= @skill.detail %>
    </div>
  </div>
  <p class="queryTbl-head">
    <span class="pull-left">1.相关机构</span><%= image_tag "more_line.png", :class => "pull-left" %>
    <a id="#1" name="#1" class="anchorcls_1"></a>
  </p>
  <div style="clear:both;"></div>
  <% if !@groups.nil?&& @groups.count > 0   %>
      <%@groups.each  do |group|  %>
          <div class="row jg">
            <div class="col-md-3">
              <%groupname = group.name %>
              <%= image_tag(group.photo,
                            alt: groupname, title: groupname, style: "width:100%;") %>
            </div>
            <div class="col-md-9 xiangmu_list_content">
              <%= groupname %><br>
              <%= raw group.desc %>
            </div>
          </div>
      <%end  %>
      <%else  %>
      <!--<div class="row jg">-->
      <!--<div class="col-md-3">-->
      <!--<%#= image_tag("#{default_access_url_prefix_with('assets/jg_301.jpg')}", alt: '北京解放军总医院', title: '北京解放军总医院', style: "width:100%;") %>-->
      <!--</div>-->
      <!--<div class="col-md-9 xiangmu_list_content">-->
      <!--解放军总医院介入超声科<br>-->
      <!--解放军总医院介入超声科是国内及全军首个集超声诊断与超声引导介入治疗于一体的临床科室，是总医院为适应当代影像引导微创治疗新技术的发展而成立的新兴学科，拥有独立的影像工程实验室，并成为北京市和教育部重点实验室重要组成部分。通过在影像引导微创治疗领域的不断突破和创新，学科在临床、教学和科研各方面均走在了该领域的前沿行列，成为国内介入超声专业的领军团队并在国际舞台受到广大同行专家的一致认可和高度评价。-->
      <!--</div>-->
      <!--</div>-->
    <span>相关机构详细信息正在完善中</span>
  <%end  %>

  <!--<div class="row jg">-->
    <!--<div class="col-md-3">-->
      <!--<%#= image_tag("#{default_access_url_prefix_with('assets/jg_301.jpg')}", alt: '北京解放军总医院', title: '北京解放军总医院', style: "width:100%;") %>-->
    <!--</div>-->
    <!--<div class="col-md-9 xiangmu_list_content">-->
      <!--解放军总医院介入超声科<br>-->
      <!--解放军总医院介入超声科是国内及全军首个集超声诊断与超声引导介入治疗于一体的临床科室，是总医院为适应当代影像引导微创治疗新技术的发展而成立的新兴学科，拥有独立的影像工程实验室，并成为北京市和教育部重点实验室重要组成部分。通过在影像引导微创治疗领域的不断突破和创新，学科在临床、教学和科研各方面均走在了该领域的前沿行列，成为国内介入超声专业的领军团队并在国际舞台受到广大同行专家的一致认可和高度评价。-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3 col-sm-3">-->
      <!--<%#= image_tag("#{default_access_url_prefix_with('assets/jg_yuquan.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>-->
    <!--</div>-->
    <!--<div class="col-md-9 col-sm-9 xiangmu_list_content">-->
      <!--清华大学玉泉医院肿瘤会诊中心<br>-->
      <!--目前玉泉医院肿瘤会诊中心已经开展了肺癌、肝癌、肾癌、浅表肿瘤、腹膜后肿瘤等多种实体肿瘤的微波消融治疗。并在清华信息与技术国家实验室的帮助下在国际上率先实现了计算机辅助导航微波消融治疗肺癌、肝癌的治疗，2010年还与德国弗赖堡大学医院肿瘤治疗中心等国际肿瘤治疗机构建立了合作关系，将微波消融治疗技术推广到欧美等发达国家。-->
    <!--</div>-->
  <!--</div>-->
  <p class="queryTbl-head">
    <span class="pull-left">2.相关应用</span><%= image_tag "more_line.png", :class => "pull-left" %>
    <a id="#2" name="#2" class="anchorcls_2"></a>
  </p>
  <div style="clear:both;"></div>
  <div class="row jg">
    <div class="col-md-3">
      <%= image_tag("#{default_access_url_prefix_with('assets/yiyong.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
    </div>
    <div class="col-md-9 xiangmu_list_content">
      1．超声引导下肝、胰、脾、肾、腹膜后及浅表器管等实质性病变的穿刺活检<br>
      2．超声引导下肝囊肿、肾囊肿、甲状腺囊肿、卵巢囊肿等的穿刺硬化治疗。<br>
      3．超声引导下肝脓肿、盆、腹腔脓肿等抽吸注药或引流治疗。<br>
      4．超声引导下肝内胆管、肾盂等置管引流。<br>
      5．超声引导下经皮微波消融治疗肝脏、肾脏、肾上腺、甲状腺、脾脏等实体肿瘤<br>
      6．微波消融联合免疫综合治疗肝癌<br>
      7．三维导航和多模态融合技术引导下肿瘤微创诊疗<br>
      8．超声造影引导下腹部肿瘤精准介入诊疗<br>
      9．超声引导下脾亢微波消融治疗<br>
      <!--10．超声引导下腹膜后肿瘤的消融治疗<br>-->
      <!--11．超声引导下腹壁肿瘤的消融治疗<br>-->
      <!--12．微波消融治疗子宫肌瘤、子宫腺肌病<br>-->
      <!--13.超声引导乳腺良性肿瘤消融治疗<br>-->
      <!--14超声引导子宫输卵管超声造影<br>-->
      <!--15.超声引导异位妊娠保守治疗<br>-->
      <!--16．超声引导下放射性粒子植入治疗肿瘤<br>-->

    </div>
  </div>

  <p class="queryTbl-head">
    <span class="pull-left">3.相关专家</span><%= image_tag "more_line.png", :class => "pull-left" %>
    <a id="#3" name="#3" class="anchorcls_3"></a>
  </p>
  <div style="clear:both;"></div>
  <div class="productshow">
    <div class="scrollcontainer">
      <ul class="">
        <% if !@experts.nil? && @experts.count >0  %>
            <%@experts.each do |doctor| %>
                <li>
                  <%=link_to image_tag(photo_access_url_prefix_with(doctor.photo ), :class => "img-responsive") ,
                             doctor_index_doctors_path(:id => doctor.id)%>
                  <p class="text-center">
                    <b class="font_c"><%= doctor.name %></b><br />
                    <%= doctor.department_name %>
                  </p>
                </li>

            <%end %>
            <%else  %>
        <li>
          相关专家名单正在完善中
        </li>
        <%end  %>

        <li>
          <!--<%#=link_to image_tag(default_access_url_prefix_with('.jpg' ), :class => "img-responsive") ,-->
                     <!--doctor_index_doctors_path(:id => )%>-->
          <!--<p class="text-center">-->
            <!--<b class="font_c">张晶</b><br />-->
            <!--解放军总医院超声介入科-->
          <!--</p>-->
        </li>
        <!-- 程志刚 韩治宇 -->
      </ul>
    </div>
    <a class="abtn aleft" href="#left">左移</a>
    <a class="abtn aright" href="#right">右移</a>
  </div>
  <script type="text/javascript">
      $(function(){
          $(".productshow").each(function(){
              $(this).Xslider({
                  numtoMove:6,
                  scrollobjSize:Math.ceil($(".productshow:eq(0)").find("li").length/6)*660
              });
          })
      })
  </script>






</div>
<div id="sideToolbar" class="col-md-4 col-md-4 col-xs-6" style="position: fixed; display: block; top: 150px; right: 10px;">
  <div id="sideCatalog" class="sideCatalogBg" style="VISIBILITY: visible">
    <div id="sideCatalog-sidebar"></div>
    <div id="sideCatalog-catalog">
      <dl style="ZOOM: 1; width: 200px">

        <dd id="sideToolbar-item-0-1" class="sideCatalog-item1" data-val="1">
          <span class="sideCatalog-index1">1</span>
          <a title="" class="nslog" href="#1">相关机构</a>
          <span class="sideCatalog-dot"></span>
        </dd>
        <dd id="sideToolbar-item-0-2" class="sideCatalog-item1" data-val="2">
          <span class="sideCatalog-index1">2</span>
          <a title="" class="nslog" href="#2">相关应用</a>
          <span class="sideCatalog-dot"></span>
        </dd>
        <dd id="sideToolbar-item-0-3" class="sideCatalog-item1" data-val="3">
          <span class="sideCatalog-index1">3</span>
          <a title="" class="nslog" href="#3">相关专家</a>
          <span class="sideCatalog-dot"></span>
        </dd>
        <!--<dd id="sideToolbar-item-0-4" class="sideCatalog-item1" data-val="4">-->
          <!--<span class="sideCatalog-index1">4</span>-->
          <!--<a title="" class="nslog" href="#4">2013/10/17</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-5" class="sideCatalog-item1" data-val="5">-->
          <!--<span class="sideCatalog-index1">5</span>-->
          <!--<a title="" class="nslog" href="#5">2013/10/18</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-6" class="sideCatalog-item1" data-val="6">-->
          <!--<span class="sideCatalog-index1">6</span>-->
          <!--<a title="" class="nslog" href="#6">2013/10/19</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-7" class="sideCatalog-item1" data-val="7">-->
          <!--<span class="sideCatalog-index1">7</span>-->
          <!--<a title="" class="nslog" href="#7">2013/10/20</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-8" class="sideCatalog-item1" data-val="8">-->
          <!--<span class="sideCatalog-index1">8</span>-->
          <!--<a title="" class="nslog" href="#8">2013/10/21</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-9" class="sideCatalog-item1" data-val="9">-->
          <!--<span class="sideCatalog-index1">9</span>-->
          <!--<a title="" class="nslog" href="#9">2013/10/22</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        <!--</dd>-->
        <!--<dd id="sideToolbar-item-0-10" class="sideCatalog-item1" data-val="10">-->
          <!--<span class="sideCatalog-index1">10</span>-->
          <!--<a title="" class="nslog" href="#10">2013/10/23</a>-->
          <!--<span class="sideCatalog-dot"></span>-->
        </dd>
      </dl>
    </div>
  </div>
  <a id="sideCatalogBtn" style="visibility: visible" href="javascript:void(0);"></a><a id="sideToolbar-up" title="" style="VISIBILITY: visible" href="#top"></a>
</div>
<script type="text/javascript">


    $(document).ready(function () {


        $(".sideCatalog-item1").on('click', '.sideCatalog-dot', function (event) {

            $(".sideCatalog-item1").removeClass("highlight");
            $(event.delegateTarget).addClass("highlight", 200).find("a")[0].click();


        });
        $(".nslog").on("click", function (event) {

            $(".sideCatalog-item1").removeClass("highlight");
            $(this).parent().addClass("highlight", 200);

        });

        $(window).scroll(function () {

            var itmes = $(".sideCatalog-item1");

            for (var i = 0; i < itmes.length; i++) {
                var dom = itmes[i];

                var $me = $(dom);
                var anchorid = $me.attr("data-val");
                var $anchor = $(".anchorcls_" + anchorid);

                var pos = $anchor.offset();
                var winH = $(window).height();
                var winScrollTop = $(window).scrollTop();

                if (pos.top < winScrollTop) {
//                  if (pos.top < winH+winScrollTop) {

                    $(".sideCatalog-item1").removeClass("highlight");
                    $("#sideToolbar-item-0-" + anchorid).addClass("highlight");

                    //return;
                }

            }
        });


        $("#sideCatalogBtn").click(function () {
            if ($("#sideCatalog").is(":hidden")) {
                $("#sideCatalog").show(300);
            } else {

                $("#sideCatalog").hide(300);
            }


        });


    });

</script>
</div>
</div>