<div class="container" style="margin:0 auto;">
  <div class="row" style="background:#fff;border:1px solid #e5e5e5;position:relative;margin-top:-10px;">
    <div class="pull-left col-md-8 col-md-8 col-xs-6" style="margin:40px 0 0 40px;">
      <p class="queryTbl-head">
        <span class="pull-left">1.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#1" name="#1" class="anchorcls_1"></a>
      </p>
      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">2.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#2" name="#2" class="anchorcls_2"></a>
      </p>
      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">3.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#3" name="#3" class="anchorcls_3"></a>
      </p>
      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">4.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#4" name="#4" class="anchorcls_4"></a>
      </p>

      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">5.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#5" name="#5" class="anchorcls_5"></a>
      </p>
      <div style="clear:both;"></div>

      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">6.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#6" name="#6" class="anchorcls_6"></a>
      </p>
      <div style="clear:both;"></div>

      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">7.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#7" name="#7" class="anchorcls_7"></a>
      </p>
      <div style="clear:both;"></div>

      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">8.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#8" name="#8" class="anchorcls_8"></a>
      </p>
      <div style="clear:both;"></div>



      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">9.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#9" name="#9" class="anchorcls_9"></a>
      </p>
      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>

      <p class="queryTbl-head">
        <span class="pull-left">10.项目简介</span><%= image_tag "more_line.png", :class => "pull-left" %>
        <a id="#10" name="#10" class="anchorcls_10"></a>
      </p>
      <div style="clear:both;"></div>
      <p class="xiangmu_list_content">
        1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
        2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
      </p>
    </div>
    <div id="sideToolbar" class="col-md-4 col-md-4 col-xs-6" style="position: fixed; display: block; top: 150px; right: 10px;">
      <div id="sideCatalog" class="sideCatalogBg" style="VISIBILITY: visible">
        <div id="sideCatalog-sidebar"></div>
        <div id="sideCatalog-catalog">
          <dl style="ZOOM: 1; width: 200px">

            <dd id="sideToolbar-item-0-1" class="sideCatalog-item1" data-val="1">
              <span class="sideCatalog-index1">1</span>
              <a title="" class="nslog" href="#1">2013/10/14</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-2" class="sideCatalog-item1" data-val="2">
              <span class="sideCatalog-index1">2</span>
              <a title="" class="nslog" href="#2">2013/10/15</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-3" class="sideCatalog-item1" data-val="3">
              <span class="sideCatalog-index1">3</span>
              <a title="" class="nslog" href="#3">2013/10/16</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-4" class="sideCatalog-item1" data-val="4">
              <span class="sideCatalog-index1">4</span>
              <a title="" class="nslog" href="#4">2013/10/17</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-5" class="sideCatalog-item1" data-val="5">
              <span class="sideCatalog-index1">5</span>
              <a title="" class="nslog" href="#5">2013/10/18</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-6" class="sideCatalog-item1" data-val="6">
              <span class="sideCatalog-index1">6</span>
              <a title="" class="nslog" href="#6">2013/10/19</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-7" class="sideCatalog-item1" data-val="7">
              <span class="sideCatalog-index1">7</span>
              <a title="" class="nslog" href="#7">2013/10/20</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-8" class="sideCatalog-item1" data-val="8">
              <span class="sideCatalog-index1">8</span>
              <a title="" class="nslog" href="#8">2013/10/21</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-9" class="sideCatalog-item1" data-val="9">
              <span class="sideCatalog-index1">9</span>
              <a title="" class="nslog" href="#9">2013/10/22</a>
              <span class="sideCatalog-dot"></span>
            </dd>
            <dd id="sideToolbar-item-0-10" class="sideCatalog-item1" data-val="10">
              <span class="sideCatalog-index1">10</span>
              <a title="" class="nslog" href="#10">2013/10/23</a>
              <span class="sideCatalog-dot"></span>
            </dd>
          </dl>
        </div>
      </div>
      <a id="sideCatalogBtn" style="VISIBILITY: visible" href="javascript:void(0);"></a><a id="sideToolbar-up" title="·µ»Ø¶¥²¿" style="VISIBILITY: visible" href="#top"></a>
    </div>
    <script type="text/javascript">


        $(document).ready(function () {


            $(".sideCatalog-item1").on('click', '.sideCatalog-dot', function (event) {

                $(".sideCatalog-item1").removeClass("highlight");
                $(event.delegateTarget).addClass("highlight", 200).find("a")[0].click();


            });
            $(".nslog").on("click", function (event) {

                $(".sideCatalog-item1").removeClass("highlight");
                $(this).parent().addClass("highlight", 200);

            });

            $(window).scroll(function () {

                var itmes = $(".sideCatalog-item1");

                for (var i = 0; i < itmes.length; i++) {
                    var dom = itmes[i];

                    var $me = $(dom);
                    var anchorid = $me.attr("data-val");
                    var $anchor = $(".anchorcls_" + anchorid);

                    var pos = $anchor.offset();
                    var winH = $(window).height();
                    var winScrollTop = $(window).scrollTop();

                    if (pos.top < winScrollTop) {
//                  if (pos.top < winH+winScrollTop) {

                        $(".sideCatalog-item1").removeClass("highlight");
                        $("#sideToolbar-item-0-" + anchorid).addClass("highlight");

                        //return;
                    }

                }
            });


            $("#sideCatalogBtn").click(function () {
                if ($("#sideCatalog").is(":hidden")) {
                    $("#sideCatalog").show(300);
                } else {

                    $("#sideCatalog").hide(300);
                }


            });


        });

    </script>
  </div>
</div>