<div class="col-md-9 col-sm-7" id="zhenliao_con">
  <!--主诉-->
  <div class="row" style="margin-top:25px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main1">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" style="background:#3abaeb;" id="left1">
          <%=image_tag "zhusu.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right1">
          <p>
            <span class="pull-left zhenliao_title">主诉</span>
                     <span class="pull-right zhusu_btn">
                       <!--<button class="btn btn-xs btn-success">添加</button>-->

                       <button class="btn btn-xs btn-primary" onclick="updateMainTell(<%= @diagnose_treat_id%>,'<%= @main_tell_teller%>','<%= @main_tell_create_time%>','<%= @main_tell_doctor_name%>','<%= @main_tell_content%>')">修改</button>
                     </span>
          </p>
          <div style="clear:both;"></div>
          <%if !@main_tell.nil?%>
          <p class="zhusu_con">
            <%= @main_tell_content%>
          </p>
          <p>
            <span class="pull-right zhenliao_info"><%=image_tag "time.png" ,:style => "width:14px;"%><%= @main_tell_create_time%></span>
            <span class="pull-right zhenliao_info"><%=image_tag "user2.png" ,:style => "width:14px;"%>主诉者:<%=@main_tell_teller %></span>
          </p>
          <%end%>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

  </div>
  <!--诊断-->
  <div class="row" style="margin-top:10px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main2">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" id="left2" style="background:#3abaeb;">
          <%=image_tag "zhenduan.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right2">
          <p>
            <span class="pull-left zhenliao_title">诊断</span>
                     <span class="pull-right zhusu_btn">
                       <!--<button class="btn btn-xs btn-success">添加</button>-->

                       <button class="btn btn-xs btn-primary" onclick="updateDiagnose(<%= @diagnose_treat_id%>,'<%=@diagnose_doctor_name%>','<%= @diagnose_create_time%>', '<%= @diagnose_content%>')">修改</button>
                     </span>
          </p>
          <div style="clear:both;"></div>
          <%if !@diagnose.nil?%>
              <p class="zhusu_con">
                <%= @diagnose.content%>
              </p>
              <p>
                <span class="pull-right zhenliao_info"><%=image_tag "time.png" ,:style => "width:14px;"%><%= @diagnose_create_time%></span>
                <span class="pull-right zhenliao_info"><%=image_tag "user2.png" ,:style => "width:14px;"%>医生 <%= @diagnose.doctor_name%></span>
              </p>
          <%end%>
        </div>

      </div>
      <div style="clear:both;"></div>
    </div>
  </div>


  <div style="clear:both;"></div>
  <!--医嘱-->
  <div class="row" style="margin-top:10px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main3" >
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" id="left3" style="background:#3abaeb;">
          <%=image_tag "yizhu.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right3">
          <p style="margin-top:20px;">
            <span class="pull-left zhenliao_title">医嘱</span>
                     <span class="pull-right zhusu_btn">
                       <button class="btn btn-xs btn-success" onclick="addDoctorOrder(<%= @diagnose_treat_id%>)">添加</button>
                       <!--<button class="btn btn-xs btn-primary">修改</button>-->
                     </span>
          </p>
          <div style="clear:both;"></div>
          <table class="yizhu_table" width="100%">
            <tr>
              <th style="border-left:0px;width:12%">下达时间</th>
              <th style="width:18%;">执行起始时间</th>
              <th>时间长度</th>
              <th>下达医生</th>
              <th>执行人</th>
              <th style="width:25%">内容</th>
              <th>类型</th>
              <th>依据</th>
              <th style="width:9%">操作</th>
            </tr>

            <% if !@doctor_orders.empty?%>
                <%@doctor_orders.each do |order|%>
                    <tr>
                      <td style="border-left:0px;"><%= order.create_time.strftime('%Y-%m-%d %H:%M').to_s%></td>
                      <td><%= order.start_time.strftime('%Y-%m-%d %H:%M').to_s %></td>
                      <td><%= order.valid_time%></td>
                      <td><%= order.doctor_name%></td>
                      <td><%= order.executor%></td>
                      <td><%= order.content%></td>
                      <td><%= order.order_type%></td>
                      <td><span onclick="showAccording (<%=order.diagnose_treat_id %>,<%=order.id %>,<%=order.patient_id %>)" style="cursor:pointer">查看</span></td>

                      <td>
                        <%=image_tag "edit.png" ,:style=> "width:12px;margin-right:15px;cursor:pointer",
                                     onclick:"get_update_order_modal('#{order.id}','#{order.create_time.strftime('%Y-%m-%d %H:%M').to_s}',
                                     '#{order.start_time.strftime('%Y-%m-%d %H:%M').to_s}','#{order.valid_time}','#{order.doctor_name}','#{order.executor}','#{order.order_type}','#{order.content}','#{order.according}')"%>
                        <%=image_tag "delete.png" ,:style=> "width:12px;  cursor:pointer" ,onclick:"get_destroy_order_modal('#{order.id}','#{order.content}')"%>
                      </td>
                    </tr>
                <%end%>

            <%end%>

            <!--别删下面的是样式标签-->
            <tr>
              <td style="border-bottom:0px;border-left:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
            </tr>
          </table>
        </div>

      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
  <!--时间轴-->
  <div class="row">
  <%if !@according_reports.nil?&& !@according_reports.empty?%>


      <div class="col-md-10 zhusu_box col-md-offset-1" style="background:#f2f5f8">
        <!--时间轴上面的线-->
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-3  col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
            <%=image_tag "timeline_top.jpg"%>
          </div>
        </div>
        <!--时间轴内容部分-->


        <!--影响数据模块-->

        <%@according_reports.each do |ar|%>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-3 timeline">
                <p class="zhenliao_title"><%= ar.checked_at%></p>
                <p class="timeline_t"><%= ar.created_at.strftime('%H:%M').to_s%></p>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-3 timeline">
                <%=image_tag "timeline.jpg"%>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-6" style="padding-left:0px;">
                <div class="timeline_box">
                  <p class="timeline_box_t"><%= ar.child_type%></p>
                  <ul class="timeline_img">
                    <%if ar.child_type=="超声"%>

                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "chaoshengoeder.jpg" %></a>
                        </li>
                    <% elsif ar.child_type=="CT"%>
                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "ctoder.jpg" %></a>
                        </li>

                    <% elsif ar.child_type=="MR"%>
                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "ctoder.jpg" %> </a>
                        </li>

                    <% elsif ar.child_type=="检验报告"%>
                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "jianyanoeder.jpg" %> </a>
                        </li>

                    <% elsif ar.child_type=="心电图"%>
                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "xindiantudemo.jpg" %></a>
                        </li>

                    <% else%>
                        <li>
                          <a href="/health_records/go_where?child_type=<%=ar.child_type%>&uuid=<%=ar.thumbnail%>&child_id=<%=ar.child_id%>" target="_blank">
                            <%=image_tag image_access_url_prefix_with "default.jpg" %></a>
                        </li>

                    <%end%>

                  </ul>
                </div>
              </div>
            </div>


        <%end%>




        <!--时间轴下面的线-->
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-3  col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
            <%=image_tag "timeline_top.jpg"%>
          </div>
        </div>
        <div style="clear:both;"></div>


      </div>

<%else%>
<div class="col-md-10 zhusu_box col-md-offset-1">
    <p class="font-yahei space2" >暂无参考数据</p>
</div>
<%end%>
  </div>
  <!--时间轴 end-->
</div>

<script>
    document.getElementById("right2").style.height=document.getElementById("main2").scrollHeight+"px";
    document.getElementById("left2").style.height=document.getElementById("main2").scrollHeight+"px";
    document.getElementById("right1").style.height=document.getElementById("main1").scrollHeight+"px";
    document.getElementById("left1").style.height=document.getElementById("main1").scrollHeight+"px";
    document.getElementById("right3").style.height=document.getElementById("main3").scrollHeight+"px";
    document.getElementById("left3").style.height=document.getElementById("main3").scrollHeight+"px";

             function showAccording (diagnose_treat_id,doctor_order_id,patient_id) {
                 $.ajax({
                        url:'/diagnose_treat/show_treat_right',
                        type:'get',
                        data:{diagnose_treat_id:diagnose_treat_id,doctor_order_id:doctor_order_id,patient_id:patient_id},
                        success:function(data){
                            $("#diagnose_treat_right").html(data);
                        }
                 })

             }
</script>