<div class="col-md-9 col-sm-7" id="zhenliao_con">
  <!--主诉-->
  <div class="row" style="margin-top:25px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main1">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" style="background:#3abaeb;" id="left1">
          <%=image_tag "zhusu.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right1">
          <p>
            <span class="pull-left zhenliao_title">主诉</span>
                     <span class="pull-right zhusu_btn">
                       <button class="btn btn-xs btn-success">添加</button>
                       <button class="btn btn-xs btn-primary">修改</button>
                     </span>
          </p>
          <div style="clear:both;"></div>
          <p class="zhusu_con">
            腹部闷胀，消化不良，有时出现恶心、呕吐
            腹部闷胀，消化不良，有时出现恶心、呕吐
          </p>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

  </div>
  <!--诊断-->
  <div class="row" style="margin-top:10px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main2">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" id="left2" style="background:#3abaeb;">
          <%=image_tag "zhenduan.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right2">
          <p>
            <span class="pull-left zhenliao_title">诊断</span>
                     <span class="pull-right zhusu_btn">
                       <button class="btn btn-xs btn-success">添加</button>
                       <button class="btn btn-xs btn-primary">修改</button>
                     </span>
          </p>
          <div style="clear:both;"></div>
          <p class="zhusu_con">
            腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐腹部闷胀，消化不良，有时出现恶心、呕吐
          </p>
          <p>
            <span class="pull-right zhenliao_info"><%=image_tag "time.png" ,:style => "width:14px;"%>2015/1/7 10:30</span>
            <span class="pull-right zhenliao_info"><%=image_tag "user2.png" ,:style => "width:14px;"%>医生 田学军</span>
          </p>
        </div>

      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
  <!--时间轴-->
  <div class="row">
    <div class="col-md-10 zhusu_box col-md-offset-1" style="background:#f2f5f8">
      <!--时间轴上面的线-->
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3  col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
          <%=image_tag "timeline_top.jpg"%>
        </div>
      </div>
      <!--时间轴内容部分-->
      <!--影响数据模块-->
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3 timeline">
          <p class="zhenliao_title">2015/1/7</p>
          <p class="timeline_t">09:30</p>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 timeline">
          <%=image_tag "timeline.jpg"%>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-6" style="padding-left:0px;">
          <div class="timeline_box">
            <p class="timeline_box_t">CT影像数据</p>
            <ul class="timeline_img">
              <li><a><%=image_tag "http://ww1.sinaimg.cn/large/005yyi5Jjw1eo7ofmog2rj301y01y3ya.jpg" %></a></li>
              <li><a><%=image_tag "http://ww1.sinaimg.cn/large/005yyi5Jjw1eo7ofmog2rj301y01y3ya.jpg" %></a></li>
              <li><a><%=image_tag "http://ww1.sinaimg.cn/large/005yyi5Jjw1eo7ofmog2rj301y01y3ya.jpg" %></a></li>
              <li><a><%=image_tag "http://ww1.sinaimg.cn/large/005yyi5Jjw1eo7ofmog2rj301y01y3ya.jpg" %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--检验报告模块-->
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3  timeline">
          <p class="zhenliao_title">2015/1/6</p>
          <p class="timeline_t">09:30</p>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3  timeline">
          <%=image_tag "timeline.jpg"%>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-6 " style="padding-left:0px;">
          <div class="timeline_box">
            <p class="timeline_box_t">CT影像数据</p>
            <p class="timeline_jianyan_img"><%=image_tag "http://ww1.sinaimg.cn/large/005yyi5Jjw1eo7p53xz43j31kw16h0xe.jpg"%></p>
          </div>
        </div>
      </div>
      <!--时间轴下面的线-->
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3  col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
          <%=image_tag "timeline_top.jpg"%>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
  <!--时间轴 end-->
  <div style="clear:both;"></div>
  <!--医嘱-->
  <div class="row" style="margin-top:10px;">
    <div class="col-md-10 zhusu_box col-md-offset-1" id="main3" >
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center" id="left3" style="background:#3abaeb;">
          <%=image_tag "yizhu.png" ,:style => "margin:10px 0;"%>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8" id="right3">
          <p>
            <span class="pull-left zhenliao_title">医嘱</span>
                     <span class="pull-right zhusu_btn">
                       <button class="btn btn-xs btn-success">添加</button>
                       <button class="btn btn-xs btn-primary">修改</button>
                     </span>
          </p>
          <div style="clear:both;"></div>
          <table class="yizhu_table">
            <tr>
              <th style="border-left:0px;width:10%">下达时间</th>
              <th style="width:20%;">执行起始时间</th>
              <th>时间长度</th>
              <th>下达医生</th>
              <th>执行人</th>
              <th style="width:25%">内容</th>
              <th>类型</th>
            </tr>
            <tr>
              <td style="border-left:0px;">2015/1/7 09:30</td>
              <td>2015/1/7 09:30-2015/1/7 10:30</td>
              <td>3D</td>
              <td>田学军</td>
              <td>田学军</td>
              <td>CT检查</td>
              <td>临时医嘱</td>
            </tr>
            <tr>
              <td style="border-left:0px;">2015/1/7 09:30</td>
              <td>2015/1/7 09:30-2015/1/7 10:30</td>
              <td>3D</td>
              <td>田学军</td>
              <td>田学军</td>
              <td>CT检查</td>
              <td>临时医嘱</td>
            </tr>
            <!--别删下面的是样式标签-->
            <tr>
              <td style="border-bottom:0px;border-left:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
              <td style="border-bottom:0px;"></td>
            </tr>
          </table>
        </div>

      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

<script>
    document.getElementById("left2").style.height=document.getElementById("main2").scrollHeight+"px";
    document.getElementById("left1").style.height=document.getElementById("main1").scrollHeight+"px";
    document.getElementById("left3").style.height=document.getElementById("main3").scrollHeight+"px";
    document.getElementById("right2").style.height=document.getElementById("main2").scrollHeight+"px";
    document.getElementById("right1").style.height=document.getElementById("main1").scrollHeight+"px";
    document.getElementById("right3").style.height=document.getElementById("main3").scrollHeight+"px";
    document.getElementById("zhenliao_con").style.height=document.getElementById("zhenliao").scrollHeight+80+"px";
</script>