<!-- Modal  create 诊疗表 -->
<div class="modal fade" id="diagnoseTreatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">创建诊疗</h4>
      </div>


      <form   name="diagnose_treat_form" method="post" id="diagnose_treat_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">
            <tr>

              <input type="hidden" name="patient_id" value="<%= @patient_id%>">
              <input type="hidden" name="doctor_id" value="">

              <td style="text-align:right">
                <b style="color:#666;">名称</b>
              </td>
              <td>
                <input type="text" name="name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间</b>
              </td>
              <td>
                <input type="text" name="create_time" id="diagnose_treat_create_time" style="width:240px;">
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生</b>
              </td>
              <td>
                <input type="text" name="doctor_name" style="width:240px;"/>
              </td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_treat_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal  create 主诉表 -->
<div class="modal fade" id="tellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改主诉</h4>
      </div>

      <form   name="teller_form" method="post" id="teller_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" value="<%= @diagnose_treat_id%>">

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">主诉者:</b>
              </td>
              <td>
                <input type="text" name="teller" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间:</b>
              </td>
              <td>
                <input type="text" name="create_time" id="main_teller_create_time" style="width:240px;" />
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生:</b>
              </td>
              <td>
                <input type="text" name="doctor_name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">主诉内容:</b>
              </td>
              <td>
                <textarea name="tell_content" rows="5" cols="60" style="width:240px;"/>
              </td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="teller_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal  create 诊断表 -->
<div class="modal fade" id="diagnoseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改诊断</h4>
      </div>


      <form   name="diagnose_form" method="post" id="diagnose_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" value="<%= @diagnose_treat_id%>">

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生:</b>
              </td>
              <td>
                <input type="text" name="doctor_name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间:</b>
              </td>
              <td>
                <input type="text" name="create_time" id="diagnose_create_time" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">诊断:</b>
              </td>
              <td>
                <textarea name="content" rows="5" cols="60" style="width:240px;"/>
              </td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- 删除诊疗 Modal -->
<div class="modal fade" id="diagnoseTreatDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除诊疗</h4>
      </div>
      <div class="modal-body">
             <div id="showTName"></div>
        <!--内容添加-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroy()">确定</button>
        <button type="button" class="btn btn-primary">取消</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    //时间控件,显示时间
    var nowDate = new Date();
    nowDate=nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate()+'  '+nowDate.getHours()+':'+nowDate.getMinutes();
    $('#diagnose_treat_create_time').datetimepicker({
        lang:'ch',
        value: nowDate,
        timepicker:true,
        customformat:'Y-m-d H:m'
    });

    $('#main_teller_create_time').datetimepicker({
        lang:'ch',
        value: nowDate,
        timepicker:true,
        customformat:'Y-m-d H:m'
    });

    $('#diagnose_create_time').datetimepicker({
        lang:'ch',
        value: nowDate,
        timepicker:true,
        customformat:'Y-m-d H:m'
    });

    // ajax 诊疗表添加form 提交
    $('#diagnose_treat_submit').click(function(){
        $('#diagnoseTreatModal').modal('hide');
        $.ajax({
            url:'/diagnose_treat/create',
            type:'post',
            data: $('#diagnose_treat_form').serialize(),
            success:function(data){

                $("#zhengliaoshow").html(data);

            },
            error:function(data){

                alert("添加失败！");
            }
        })
        return false;
    });

    // ajax 主诉修改form 提交          diagnose_submit
    $('#teller_submit').click(function(){
        $('#tellerModal').modal('hide');
        $.ajax({
            url:'/diagnose_treat/teller',
            type:'post',
            data: $('#teller_form').serialize(),
            success:function(data){
                $("#diagnose_treat_right").html(data);

            },
            error:function(data){

                alert("添加失败！");
            }
        })
        return false;
    });

    // ajax 诊断修改form 提交
    $('#diagnose_submit').click(function(){
        $('#diagnoseModal').modal('hide');
        $.ajax({
            url:'/diagnose_treat/diagnose',
            type:'post',
            data: $('#diagnose_form').serialize(),
            success:function(data){
                $("#diagnose_treat_right").html(data);

            },
            error:function(data){

                alert("添加失败！");
            }
        })
        return false;
    });



    //    获取删除诊疗弹出框的方法
    var diagnoseTreatName;
    var diagnoseTreatID;
    function get_destroy_treat_modal(id,name){
        diagnoseTreatName=name;
        diagnoseTreatID=id;
        $('#diagnoseTreatDeleteModal').modal('show');
        $('#diagnoseTreatDeleteModal').on('shown.bs.modal',function(e){
            $('#showTName').html("你确定要删除名字为："+diagnoseTreatName+"的诊疗？");
        });
    };

    // 删除诊疗
    function destroy(){
        $.ajax({
            type:'post',
            url:'/diagnose_treat/destroy',
            data:{id:diagnoseTreatID},
            success:function(data){
                $('#zhengliaoshow').html(data)
            }
        })

    };

    //        点击左面诊疗标题，右边展现相关主诉，诊断等数据
    function showRightDiagonse(diagnoseTreatID,patient_id){
        $.ajax({
            url:'/diagnose_treat/show_treat_right',
            type:'get',
            data:{diagnose_treat_id:diagnoseTreatID,patient_id:patient_id},
            success:function(data){
                $("#diagnose_treat_right").html(data);
            }
        })

    };
    //        修改主诉
    function updateMainTell(diagnose_treat_id){
        $('#tellerModal').modal('show');

    };
    //        修改诊断
    function updateDiagnose(diagnose_treat_id){
        $('#diagnoseModal').modal('show');
    };
</script>