<!-- Modal  create 诊疗表 -->
<div class="modal fade" id="diagnoseTreatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">创建诊疗</h4>
      </div>


      <form   name="diagnose_treat_form" method="post" id="diagnose_treat_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">
            <tr>

              <input type="hidden" name="patient_id" value="<%= @patient_id%>">
              <input type="hidden" name="doctor_id" value="">

              <td style="text-align:right">
                <b style="color:#666;">名称</b>
              </td>
              <td>
                <input type="text" name="name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间</b>
              </td>
              <td>
                <input type="text" name="create_time" id="diagnose_treat_create_time" style="width:240px;">
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生</b>
              </td>
              <td>
                <input type="text" name="doctor_name" style="width:240px;"/>
              </td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_treat_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal  修改 诊疗表 -->
<div class="modal fade" id="diagnoseTreatUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改诊疗</h4>
      </div>


      <form   name="treat_update_form" method="post" id="diagnose_treat_update_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">
            <tr>

              <input type="hidden" name="patient_id" value="<%= @patient_id%>">
              <input type="hidden" name="doctor_id" value="">
              <input type="hidden" name="diagnose_treat_id" id="diagnose_treat_update_id" value="">
              <td style="text-align:right">
                <b style="color:#666;">名称</b>
              </td>
              <td>
                <input type="text" name="name" id="treat_update_name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间</b>
              </td>
              <td>
                <input type="text" name="create_time" id="treat_update_create_time" style="width:240px;">
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生</b>
              </td>
              <td>
                <input type="text" name="doctor_name" id="doctor_name_update" style="width:240px;"/>
              </td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="treat_update_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal  create 主诉表 -->
<div class="modal fade" id="tellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改主诉</h4>
      </div>

      <form   name="teller_form" method="post" id="teller_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" id="teller_diagnose_treat_id" value="<%= @diagnose_treat_id%>">

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">主诉者:</b>
              </td>
              <td>
                <input type="text" name="teller" style="width:240px;" id="teller_p"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间:</b>
              </td>
              <td>
                <input type="text" name="create_time" id="main_teller_create_time" style="width:240px;" />
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生:</b>
              </td>
              <td>
                <input type="text" name="doctor_name"  id="teller_doctor_name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">主诉内容:</b>
              </td>
              <td>
                <textarea name="tell_content" id="tell_content" rows="5" cols="60" style="width:240px;"/>
              </td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="teller_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal  create 诊断表 -->
<div class="modal fade" id="diagnoseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改诊断</h4>
      </div>


      <form   name="diagnose_form" method="post" id="diagnose_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">

            <input type="hidden" name="patient_id" id="diagnose_patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" id="u_diagnose_treat_id" value="<%= @diagnose_treat_id%>">

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医生:</b>
              </td>
              <td>
                <input type="text" name="doctor_name" id="diagnose_doctor_name" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间:</b>
              </td>
              <td>
                <input type="text" name="create_time" id="diagnose_create_time" style="width:240px;"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right">
                <b style="color:#666;">诊断:</b>
              </td>
              <td>
                <textarea name="content" id="diagnose_content" rows="5" cols="60" style="width:240px;"/>
              </td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- 删除诊疗 Modal -->
<div class="modal fade" id="diagnoseTreatDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除诊疗</h4>
      </div>
      <div class="modal-body">
             <div id="showTName"></div>
        <!--内容添加-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroy()">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  create 医嘱 -->
<div class="modal fade" id="doctorOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">添加医嘱</h4>
      </div>


      <form   name="doctor_order_form" method="post" id="doctor_order_form">
        <div class="modal-body">

          <table style="width:62%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" value="<%= @diagnose_treat_id%>">

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">下达时间:</b>
              </td>
              <td>
                <input type="text" name="create_time" id="order_create_time" style="width:240px;"/>
              </td>
            </tr>

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">执行起始时间:</b>
              </td>
              <td>
                <input type="text" name="start_time" id="order_start_time" style="width:240px;"/>
              </td>
            </tr>


            <tr>
              <td style="text-align:right">
                <b style="color:#666;">时间长度:</b>
              </td>
              <td>
                <input type="text" name="valid_time" id="order_valid_time" style="width:240px;"/>
              </td>
            </tr>

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">下达医生:</b>
              </td>
              <td>
                <input type="text" name="doctor_name" id="order_doctor_name" style="width:240px;"/>
              </td>
            </tr>

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">执行人:</b>
              </td>
              <td>
                <input type="text" name="executor" id="order_executor" style="width:240px;"/>
              </td>
            </tr>

            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医嘱类型:</b>
              </td>
              <td>
                <input type="text" name="order_type" id="order_type" style="width:240px;"/>
              </td>
            </tr>



            <tr>
              <td style="text-align:right">
                <b style="color:#666;">医嘱内容:</b>
              </td>
              <td>
                <textarea name="content" rows="5" cols="60" style="width:240px;"/>
              </td>
            </tr>



          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="doctor_order_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 删除医嘱 Modal -->
<div class="modal fade" id="doctorOrderDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除医嘱</h4>
      </div>
      <div class="modal-body">
        <div id="showOrderContent"></div>
        <!--内容添加-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroy_doctor_order()">确定</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'patients/diagnose_treat_form' %>