<div class="container bgcolor-white" style="margin-top:-20px;">
<h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>医生</h3>
    <%if !@doctor_users.nil?%>

        <% @doctor_users.each do |doctor| %>
          <div class="row line3 space2">
          <div class='col-md-1 col-sm-2 col-xs-12 space'>
              <a href="/doctors/doctorpage/<%=doctor['id']%>">
              <% if !doctor['photo'].empty? && !doctor['photo']=''%>
                  <%=image_tag(doctor['photo'], alt: doctor['photo'],:width => "75",:height => "105" , :class => "pull-left" ) %>
              <% else %>
                  <%=image_tag("default.png", alt: 'default',:width => "75",:height => "105" , :class => "pull-left" ) %>
              <%end%>
              </a>
          </div>
        <div class="col-md-11 col-sm-10 col-xs-12">
          <ul class="list-unstyled lineheight-30">
            <li><span class="font-18 font-yahei font-color3 pull-left"><strong><%=doctor['name'] %></strong>&nbsp;</span>
              <span class="pull-left"><%= Hospital.find(doctor.hospital_id).name unless Hospital.find(doctor.hospital_id).nil?%>&nbsp;</span>
              <span class="pull-left"><%= Department.find(doctor.department_id).name unless Department.find(doctor.department_id).nil?%></span>
            </li>
            <div class="clearfix"></div>
            <!--<li class="lineheight-24"><strong>医院 <%#=t('users.user_home_aspects.hospital') %></strong><%#= doctor['hospital']['name'] unless doctor['hospital'].nil?%></li>-->
            <!--<li class="lineheight-24"><strong>科室 </strong><%#=doctor['department']['name'] unless doctor['department'].nil?%></li>-->
            <li><strong>专长 </strong><%#=t('users.user_home_aspects.skilled') %><%= doctor['expertise']%></li>
            <li><strong>说明 </strong><%#=t('.introduction') %><%= doctor['introduction'] %></li>
          </ul>
        </div>
        </div>
       <% end %>
        <%= will_paginate @doctor_users,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page unstyled' %>

    <% end %>
</div>
