<style>
  .margin_right{
      margin-right:0px;
  }
  .margin_left{
      margin-left:0px;
  }
  .padding_right{padding:0 10px 0 0 !important;}
  @media(max-width:768px){
      .padding_right{padding:0 !important;}
  }
        @media (max-width:1005px){
            .margin_right{
                margin-right:-15px;
            }
            .margin_left{
                margin-left:-15px;
            }
            .age{
                height:222px;
                padding-top:90px;
                border-left:1px solid #d1d1d1;
            }
            .weight,.blood{
                height:222px;
                padding-top:90px;
            }
            .basic_info{
                border-top:1px solid #d1d1d1;
                border-left:0px;
            }
            .blood{
                border-right-width:0px;
                border-left:1px solid #d1d1d1;
            }
            .blood_b{
                border-bottom:1px solid #d1d1d1;
            }
        }
</style>
<div class="container" style="margin-top:-20px;">
  <div class="row">
    <div class="col-md-12" style="margin-top:10px;">
      <div class="row page_bg ">
        <div class="col-md-6" style="padding-top:17px;">
          <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-3">
              <% if @is_show_name!=1%>
              <% if @photo.nil? || @photo=='' || !aliyun_file_exit('avatar/'+@photo,Settings.aliyunOSS.image_bucket)%>
              <img src='/default.png' alt="default" width ="135" height = "189"  style= "border-radius:3px;border: 1px solid #e5e5e5;" class = "pull-left space3" />

              <%else%>
              <img src='<%= photo_access_url_prefix_with(@photo) %>' alt="default" width ="135" height = "189"   style= "border-radius:3px;border: 1px solid #e5e5e5;" class = "pull-left space3" />

              <%end%>
              <%= render 'patients/follow_form' %>
               <%else%>
                  <img src='/default.png' alt="default" width ="135" height = "189"  style= "border-radius:3px;border: 1px solid #e5e5e5;" class = "pull-left space3" />

            <%end%>
            </div>
            <div class="col-md-8 col-xs-8 col-sm-9" style="padding-left:0px;">
              <ul class="list-unstyled pull-left " style="font-family:'microsoft yahei';font-size:15px;line-height:30px;color:#8f8f8f;">
                <%if @is_show_name!=1%>
                <li>
                  <span class="font-yahei" style="font-family:'microsoft yahei';font-weight:bold;font-size:32px;color:#333;margin-right:10px;"><%= @patient['name'] %></span>
                </li>
                <li>
                  <span><b style="color:#5d5d5d ;margin-right:10px;">住址</b><%= @patient.address %></span>
                </li>
                    <%else%>
                    <li>
                      <span class="font-yahei" style="font-family:'microsoft yahei';font-weight:bold;font-size:32px;color:#333;margin-right:10px;">患者</span>
                    </li>
                    <li>
                      <span><b style="color:#5d5d5d ;margin-right:10px;">住址</b>保密</span>
                    </li>
                    <%end%>
                <li>
                  <span><b  style="color:#5d5d5d ;margin-right:10px;">疾病类型</b><%= @patient.diseases_type %></span>
                </li>
                <!--<li>-->
                  <!--<span><b class="font-14" style="color:#5d5d5d ;margin-right:10px;">最近诊疗时间</b><%= @patient.last_treat_time %></span>-->
                <!--</li>-->
                <li>
                    <span><b  style="color:#5d5d5d;margin-right:10px; ">过敏史</b><%= @basic_health_record.allergy_history unless @basic_health_record.nil? %></span>
                </li>
                <li>
                    <span><b style="color:#5d5d5d ;margin-right:10px;">预防接种史</b><%= @basic_health_record.vaccination_history unless @basic_health_record.nil?  %></span>
                </li>
                <li>
                    <span><b  style="color:#5d5d5d;margin-right:10px; ">既往病史</b><%= @basic_health_record.disease_history unless @basic_health_record.nil?  %></span>
                </li>
                <li>
                  <span><b style="color:#5d5d5d;margin-right:10px; ">家族遗传病史</b><%= @basic_health_record.heredopathia_history unless @basic_health_record.nil?  %></span>
                </li>
                <li>

                </li>
              </ul>

            </div>

          </div>
        </div>
        <div class="col-md-6 ">
          <div class="row basic_info">
            <div class="col-md-8">
              <div class="row b_line">

                <!--性别-->
                <div class="blood col-md-3 col-xs-3 col-sm-3 text-center"  style="">
                  <span class="font-yahei font-12" style="color:#959595;">性别</span><br />
                  <span class="font-yahei" style="font-size:22px;font-weight:bold;"><%= @patient.gender %></span>
                </div>
                <!--性别 end-->
                <!--血型-->
              <div class="blood col-md-3 col-xs-3 col-sm-3 text-center"  style="">
                <span class="font-yahei font-12" style="color:#959595;">血型</span><br />
                <span class="font-yahei" style="font-size:24px;font-weight:bold;"><%= @basic_health_record.blood_type unless @basic_health_record.nil? %></span>
              </div>
                <!--血型 end-->
                <!--年龄-->
              <div class="age col-md-3 col-xs-3 col-sm-3 text-center" style="border-right:1px solid #d1d1d1;">
                <span class="font-yahei font-12" style="color:#959595;">年龄</span><br />
                <% if !@patient.birthday.nil? %>
                    <span class="font-yahei" style="font-size:24px;font-weight:bold;"><%= Time.now.year-@patient.birthday.year %></span>
                <% end %>
              </div>
                <!--年龄 end-->
                <!--体重-->
              <div class="weight col-md-3 col-xs-3 col-sm-3 text-center" >
                <span class="font-yahei font-12" style="color:#959595;">体重（kg）</span><br />
                <span class="font-yahei" style="font-size:24px;font-weight:bold;"><%= @weight_avg %></span>
              </div>
                <!--体重 end-->
             </div>
              <div class="row" style="border-bottom:1px solid #d1d1d1;padding:17px 5px;">
                <div class="col-md-4 col-sm-4 col-xs-4">
                 <span style="font-size:12px;color:#959595;">血压</span><br />
                 <b style="font-size:14px;color:#464646;"><%=@systolic_pressure_avg  %>/<%= @diastolic_pressure_avg %> mmHg</b>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                  <!--进度条-->
                  <div class="normal_line" id="pro">
                    <div class="font1 font-12">平均值</div>
                    <div class="line"></div>
                    <div class="font2 font-12">(收缩压)</div>
                    <div class="bar_bg">
                      <div id="bar">
                        <div class="bar_inner">
                          <div class="bar"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--进度条 结束-->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                  <!--进度条-->
                  <div class="normal_line" id="pro">
                    <div class="font1 font-12">平均值</div>
                    <div class="line"></div>
                    <div class="font2 font-12">(舒张压)</div>
                    <div class="bar_bg">
                      <div id="bar2">
                        <div class="bar_inner">
                          <div class="bar"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--进度条 结束-->
                </div>
              </div>
              <div class="row  blood_b" style="padding:16px 5px;">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <span style="font-size:12px;color:#959595;">血糖</span><br />
                  <b style="font-size:14px;color:#464646;"><%= @blood_glucoses_avg %>mmol/L</b>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0px;">
                  <!--进度条-->
                  <div class="normal_line" id="pro">
                    <div class="font1 font-12">平均值</div>
                    <div class="line"></div>
                    <div class="font2 font-12">(血糖)</div>
                    <div class="bar_bg">
                      <div id="bar3">
                        <div class="bar_inner">
                          <div class="bar"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--进度条 结束-->
                </div>

              </div>
              <style>

                #bar {
                    <% @systolic_pressure = (@systolic_pressure_avg.to_i/2)-5%>
                    <%if @systolic_pressure.to_i > 100 %>
                    <%  @_avg = 100 %>
                    <% end %>
                    <%if @systolic_pressure.to_i < 0 %>
                    <% @systolic_pressure = 0 %>
                    <% end %>
                    width:<%= @systolic_pressure %>%;
                    overflow:hidden;
                }
                #bar2 {
                    <% @diastolic_pressure = @diastolic_pressure_avg.to_i-20%>
                    <%if @diastolic_pressure.to_i > 100 %>
                    <% @diastolic_pressure = 100 %>
                    <% end %>
                    <%if @diastolic_pressure.to_i < 0 %>
                    <% @diastolic_pressure = 0 %>
                    <% end %>
                    width:<%= @diastolic_pressure %>%;
                    overflow:hidden;
                }
                #bar3 {
                    <% if @blood_glucoses_avg.to_i>5 %>
                        <% @blood_glucoses = (@blood_glucoses_avg.to_i-5)*100/30/2+50 %>
                    <% else %>
                        <% @blood_glucoses = @blood_glucoses_avg.to_i*10 %>
                    <% end %>
                    <%if @blood_glucoses.to_i > 100 %>
                      <% @blood_glucoses = 100 %>
                    <% end %>
                    <%if @blood_glucoses.to_i < 0 %>
                    <% @blood_glucoses = 0 %>
                    <% end %>
                    width:<%= @blood_glucoses %>%;
                    overflow:hidden;
                }
              </style>
              <script>

                  $(function () {
                      $("[id=pro]").popover({
                          trigger: 'manual',
                          placement: 'top', //placement of the popover. also can use top, bottom, left or right
                          title: '', //this is the top title bar of the popover. add some basic css
                          html: 'true', //needed to show html of course
                          style: 'padding:0;position:absolute;',
                          content: '<p style="color:#959595;font-size:12px;">' +
                                  '此平均值不考虑个别情况' +
                                  '</p>', //this is the content of the html box. add the image here or anything you want really.
                          animation: false
                      }).on("mouseenter",function () {
                                  var _this = this;
                                  $(this).popover("show");
                                  $(this).siblings(".popover").on("mouseleave", function () {
                                      $(_this).popover('hide');
                                  });
                              }).on("mouseleave", function () {
                                  var _this = this;
                                  setTimeout(function () {
                                      if (!$(".popover:hover").length) {
                                          $(_this).popover("hide")
                                      }
                                  }, 100);
                              });
                  });



              </script>

            </div>
            <div class="height col-md-4 ">
              <div class="height_value"><span class="font-yahei" style="color:#959595;">身高</span><br /><span class="ont-yahei" style="font-size:24px;font-weight:bold;"><%= @basic_health_record.stature unless @basic_health_record.nil?  %>cm</span></div>
            </div>


          </div>
        </div>
      </div>

       <div id="diagnose_treat_show">
               <!--显示诊疗-->
       </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 padding_right" style="margin-top:10px;">
          <div id="blood-div" class="index_box" style="padding-bottom:20px;">
            <%= render partial: 'health_records/blood_glucose2'%>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 padding_right" style="margin-top:10px;">
          <div id="blood-div" class="index_box" style="padding-bottom:20px;">
          <%= render partial: 'health_records/blood_oxygen2'%>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;margin-top:10px;">
          <div id="blood-div" class="index_box" style="padding-bottom:20px;">
            <%= render partial: 'health_records/weight2'%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 padding_right" style="margin-top:10px;">
          <div id="blood-div" class="index_box" style="padding-bottom:20px;">
            <%= render partial: 'health_records/blood_pressure2'%>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0;margin-top:10px;">
          <div id="blood-div" class="index_box" style="padding-bottom:20px;">
          <%= render partial: 'health_records/blood_fat2'%>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:20px;">
        <%= render template: 'health_records/index'%>
      </div>

    </div>
    <%#= render partial: 'patients/patient_page_aspects' %>
  </div>

  <div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <% flash.each do |key, value| %>
            <div class="modal-body" id="alert<%= key %>">
              <%= value %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>


    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>

    $.ajax({
        url:'/diagnose_treat/show',
        type:'get',
        data:{patient_id:<%= @patient_id%>},
        success:function(data){
                $('#diagnose_treat_show').html(data);
        },
        error:function(data){
            $('#diagnose_treat_show').html("加载失败！");
        }
    })
</script>
