<div id="main_doctors">
  <div class="container bgcolor-white" style="margin-top:-20px;">
    <h3 class="font-yahei blue_line font-16"><span class="title_third">主治医生</span><%#=@title%></h3>
    <%if !@contact_main_doctors.nil?%>
        <% main_doc=@contact_main_doctors%>
        <%if !main_doc.nil?%>
            <div class="row line3 space2">
              <div class='col-md-1 space'>
                <a href="/doctors/doctorpage/<%=main_doc['id']%>">
                  <%if !main_doc.photo.nil? && main_doc.photo!=''%>
                      <%=image_tag(Settings.pic+"#{main_doc['photo']}", alt:"default",:width => "50",:height => "70" ,:class =>"img_bg")%>
                  <% else %>
                      <%=image_tag("default.png", alt:"default",:width => "50",:height => "70",:class =>"img_bg" )%>
                  <%end%>
                </a>
              </div>
              <div class="col-md-10" style="padding-left:0px;width:80%;">
                <ul class="list-unstyled lineheight-24">
                  <li><span class="pull-left"><strong><%=link_to "#{main_doc.name}","/doctors/doctorpage/#{main_doc.id}",:class=>"font-16 font-yahei font-color3" %>&nbsp;</strong></span>
                    <span class="pull-left font-12"><%=main_doc.hospital.name unless (main_doc.hospital_id.nil? || main_doc.hospital_id == '')%>&nbsp;<%=main_doc.department.name unless (main_doc.department_id.nil? || main_doc.department_id == '')%></span>
                    <div class="clearfix"></div>
                  </li>
                  <li><strong class="font-12">专长 <%#=t('appointments.doctors_list.skilled') %></strong><span class="font-12"><%=main_doc.expertise%></span></li>
                  <li><strong class="font-12">说明 <%#=t('doctors.doctor_subpage.introduction') %></strong><span class="font-12"> <%=main_doc.introduction%></span></li>
                </ul>
              </div>
              <div class="col-md-1"><%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{main_doc.id}"}, :class => "btn btn-success btn-xs" %></div>
            </div>
        <%end%>
    <%end%>
  </div>
</div>
<div id="frients_doctors">
  <div class="container bgcolor-white" style="margin-top:-20px;">
    <h3 class="font-yahei font-16 blue_line"><span class="title_third">我的医生</span><%#=@title%></h3>
    <table class="table table-bordered">
      <thead class="bgcolor-gray">
      <tr class="text-center"><td><b>专家</b></td><td><b>专长</b></td><td><b>简介</b></td><td></td></tr>
      </thead>
    <%if !@contact_doctors.nil?%>
        <%@contact_doctors.each do |con_doc|%>
              <% @dictionarys = nil %>
              <% if !con_doc.dictionary_ids.nil? && con_doc.dictionary_ids != ''  %>
                  <% @dictionarys = Dictionary.find(con_doc.dictionary_ids.split(',')) %>
              <% end %>
              <tr>
                <td width="20%">
                  <a href="/doctors/doctorpage/<%=con_doc['id']%>" class="pull-left">
                    <%if !con_doc.photo.nil? && !con_doc.photo!=''%>
                        <%=image_tag(Settings.pic+"#{con_doc['photo']}", alt:"default",:width => "50",:height => "70" ,:class =>"img_bg")%>
                    <% else %>
                        <%=image_tag("default.png", alt:"default",:width => "50",:height => "70",:class =>"img_bg" )%>
                    <%end%>
                  </a>
                  <span class="pull-left" style="margin-left:10px;display:inline-block;line-height:24px;">
                  <b><%=link_to "#{con_doc.name}","/doctors/doctorpage/#{con_doc.id}",:class=>"font-14 font-yahei font-color3" %></b><br />
                  <%=con_doc.hospital.name unless (con_doc.hospital_id.nil? || con_doc.hospital_id == '')%><br /><%=con_doc.department.name unless (con_doc.department_id.nil? || con_doc.department_id == '')%>
                  </span>
                </td>
                <td width="20%"><span class="lineheight-24"><%=con_doc.expertise%></span><br />预约类型:<br />
                  <% if !@dictionarys.nil? %>
                      <% @dictionarys.each do |dic| %>
                          <button class="btn btn-info btn-xs" style='font-family: "楷体","楷体_GB2312";font-size: 12px;margin-bottom: 3px;' disabled="disabled">
                            <%=dic.name %>
                          </button>
                          <% end %><% end %></td>
                <td width="50%"><span class="lineheight-24"><%=con_doc.introduction%></span></td>
                <td width="10%"><%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{con_doc.id}"}, :class => "btn btn-success btn-xs" %></td>
              </tr>
        <% end%>

    <%end%>
   </table>
    <div class="text-center"><%= will_paginate @contact_doctors,:previous_label => '<', :next_label => '>',:class=>'pagination-mini page num unstyled' %></div>
  </div>
</div>