<div class="container" style="margin-top:-20px;">
  <!--<h3 class="font-yahei font-16 blue_line"><span class="title_third">我的医生</span><%#=@title%></h3>-->
  <div id="frients_doctors">

    <div id='screening' class="btn-toolbar search_word space space2" role="toolbar" style='margin-top:10px;'>
      <div class='pull-left font-yahei font-14' style='margin-top:5px;margin-left:-14px;margin-right:17px;'>首字母检索　</div>
      <div class="btn-group" style="margin-right:19px;">
        <a class="btn btn-default btn-sm">全部</a>
      </div>
      <div class="btn-group" style="">
        <a class="btn btn-default btn-sm">A</a>
        <a class="btn btn-default btn-sm">B</a>
        <a class="btn btn-default btn-sm">C</a>
        <a class="btn btn-default btn-sm">D</a>
        <a class="btn btn-default btn-sm">E</a>
        <a class="btn btn-default btn-sm">F</a>
        <a class="btn btn-default btn-sm">G</a>
      </div>
      <div class="btn-group" style="margin-left:19px;margin-right:19px;">
        <a class="btn btn-default btn-sm">H</a>
        <a class="btn btn-default btn-sm">I</a>
        <a class="btn btn-default btn-sm">J</a>
        <a class="btn btn-default btn-sm">K</a>
        <a class="btn btn-default btn-sm">L</a>
        <a class="btn btn-default btn-sm">M</a>
        <a class="btn btn-default btn-sm">N</a>
      </div>
      <div class="btn-group" style="margin-right:20px;">
        <a class="btn btn-default btn-sm">O</a>
        <a class="btn btn-default btn-sm">P</a>
        <a class="btn btn-default btn-sm">Q</a>
        <a class="btn btn-default btn-sm">R</a>
        <a class="btn btn-default btn-sm">S</a>
        <a class="btn btn-default btn-sm">T</a>
      </div>
      <div class="btn-group" style="margin-right:-3px;">
        <a class="btn btn-default btn-sm">U</a>
        <a class="btn btn-default btn-sm">V</a>
        <a class="btn btn-default btn-sm">W</a>
        <a class="btn btn-default btn-sm">X</a>
        <a class="btn btn-default btn-sm">Y</a>
        <a class="btn btn-default btn-sm">Z</a>
      </div>
    </div>
    <div class="row">
      <% if !@contact_doctors.nil? %>
          <% i=1 %>
          <% @contact_doctors.each do |con_doc| %>
              <% if !con_doc['user']['dictionary_ids'].nil? && con_doc['user']['dictionary_ids'] != '' %>
                  <% @dictionarys = Dictionary.where(:id=>con_doc['user']['dictionary_ids'].split(',')) %>
              <% end %>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row n">
                  <div class="box">
                    <div class="col-md-12 box-title">
                      <span class="pull-left"><%= link_to "#{con_doc['user']['name']}", "/doctors/doctorpage/#{con_doc['user']['id']}", :class => "font-20 font-yahei ", :style => "font-weight:bold;" %></span>
                  <span style="margin-right:-15px;display:inline-block;" class="pull-right">
                  <span class="pull-left"><%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{con_doc['user']['id']}"}, :class => "box-title-right", :style => "" %></span>
                </span>
                    </div>
                    <div class="col-md-12 box-content">
                      <a href="/doctors/doctorpage/<%= con_doc['user']['id'] %>" class="pull-left">
                        <% if !con_doc['user']['photo'].nil? && !con_doc['user']['photo']=='' %>
                            <%= image_tag(Settings.pic+"#{con_doc['user']['photo']}", alt: "default", :width => "55", :height => "77", :class => "pull-left space3") %>
                        <% else %>
                            <%= image_tag("default.png", alt: "default", :width => "55", :height => "77", :class => "pull-left space3") %>
                        <% end %>
                      </a>

                      <div class="pull-left" style="margin-top:-7px;">
                        <div class="pull-left infos">

                          <% if i==1 %>
                               <span>
                          <%= con_doc['type'] %> </b>
                                    </span>
                          <% else %>
                              <% if !con_doc['user']['professional_title'].nil?&&!con_doc['user']['professional_title']==''%>
                           <span>
                          <%= con_doc['user']['professional_title'].split('、')[0] %>&nbsp;<%= con_doc['user']['professional_title'].split('、')[1] %></b>
                         </span>
                          <% end %>
                          <% end %>
                          <% if !con_doc['user']['hospital_id'].nil? && con_doc['user']['hospital_id'] != '' %>
                            <% @hos = Hospital.find_by_id(con_doc['user']['hospital_id']) %>
                          <span><%= @hos.name unless @hos.nil? %></span>
                          <% end %>
                          <% if !con_doc['user']['department_id'].nil? && con_doc['user']['department_id'] != ''%>
                            <% @dep = Department.find_by_id(con_doc['user']['department_id']) %>
                          <span><%= @dep.name unless @dep.nil?%></span>
                          <%end %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="infos">

                          <span>专长
                            <% if !con_doc['user']['expertise'].nil? %>
                            <% if con_doc['user']['expertise'].length>26 %>
                            <%= con_doc['user']['expertise'][0, 26] %>
                                <span class="font-18">......</span>
                            <% else %>
                            <%= con_doc['user']['expertise'][0, 26] %>
                        <% end %>
                                  <% end %>
                    </span><br/>

                          <span>预约类型
                            <% if !@dictionarys.nil? && !@dictionarys.empty? %>
                          <% @dictionarys.each do |dic| %>
                            <span class="" style='font-size: 12px;margin:0 2px;color:#888888' disabled="disabled">
                              [<%= dic.name %>]
                            </span>
                          <% end %>
                        <% end %>
                        </span></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <% i=i+1 %>
          <% end %>
      <% end %>
    </div>

    <div class="text-center"><%= will_paginate @contact_doctors, :previous_label => '<', :next_label => '>', :class => 'pagination-mini page num unstyled' %></div>
  </div>
</div>
<script>
    $('#screening .btn-sm').click(function () {
        this.href = '/patients/my_doctors/?first_name=' + this.text
    })
</script>