<div class="container bgcolor-white" style="margin-top:-20px;">
    <div class="row space">
      <div class="col-md-12">
        <h3 class="font-yahei title-bg font-18"><%= @patient1['name'] %>的简介<%#=t('.of_introduction') %></h3>
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <% if !@patient1.photo.empty? && !@patient1.photo=''%>
                <%=image_tag(Settings.pic+@patient1.photo, alt: @patient1['photo'],:width => "150",:height => "210" , :class => "space4" ) %>
            <% else %>
                <%=image_tag("default.png", alt:"default",:width => "150",:height => "210" , :class => "space4" )%>
            <%end%>
            <%= render 'follow_form' %>
          </div>
          <div class="col-md-10 col-sm-8">
            <ul class="list-unstyled lineheight-24">
              <li><strong>性 &nbsp;&nbsp; &nbsp;&nbsp; 别<%#=t('.patient_sex') %>:</strong> &nbsp;&nbsp;<%=@patient1.gender%></li>
              <li><strong>年 &nbsp;&nbsp; &nbsp;&nbsp; 龄<%#=t('.patient_age') %>:</strong> &nbsp;&nbsp;<%=Time.now.year-@patient1.birthday.year  %></li>
              <li><strong>住 &nbsp;&nbsp; &nbsp;&nbsp; 址:</strong> &nbsp;&nbsp;<%= @patient1.address%></li>
              <li><strong>联系电话:</strong> &nbsp;&nbsp;<%= @patient1.mobile_phone%></li>
              <li><strong>症 &nbsp;&nbsp; &nbsp;&nbsp; 状:</strong><%#= @patient1.introduction %> &nbsp;&nbsp;一个月前无明显诱因突发咯血约50ml左右，次日痰中带血量不多,抑郁症，忧虑症，胸闷气短胸部像火烧似的，得病2年多，心脏不好，眼睛干涩发直...</li>
            </ul>
          </div>
        </div>

      </div>
        <%#= render partial: 'patients/patient_page_aspects' %>
   </div>

<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<script>
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>
</script>
