  <!--医生按周添加时间安排表--->
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>我的预约计划 <%#=t('.My appointment schedules') %><div id="changetext"></div></h3>
  <div id="myapp_tab">
    <table class="table table-bordered myschedule_table">
     <tbody>
      <thead>
       <td></td>
       <td>预约时间<%#=t('.appointment_time') %></td>
       <td>星期一<%#=t('.Monday') %></td>
       <td>星期二<%#=t('.Tuesday') %></td>
       <td>星期三<%#=t('.Wednesday') %></td>
       <td>星期四<%#=t('.Thursday') %></td>
       <td>星期五<%#=t('.Friday') %></td>
       <td>星期六<%#=t('.Saturday') %></td>
       <td>星期日<%#=t('.Sunday') %></td>
      </thead>
      <tr>
        <td rowspan="4">上午<%#=t('.AM') %></td>
        <td id="timeblock1">8：00-9：00</td>
        <% for i in 1..7  do %>
            <td>  <button href="#myModal" data-toggle="modal"  class="btn btn-default btn-sm " type="button"   onclick="adddiag(this)"  id="<%= i %>1">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td id="timeblock2">9：00-10：00</td>
        <% for i in 1..7  do %>
            <td><button href="#myModal"  data-toggle="modal"   class="btn btn-default btn-sm" type="button" onclick="adddiag(this)"  id="<%= i %>2">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td id="timeblock3">10：00-11：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal"  class="btn btn-default btn-sm" type="button" onclick="adddiag(this)"  id="<%= i %>3">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td id="timeblock4">11：00-12：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal"  class="btn btn-default btn-sm " type="button" onclick="adddiag(this)"  id="<%= i %>4">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td rowspan="4">下午</td>
        <td id="timeblock5">13：00-14：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal" class="btn btn-default btn-sm" type="button" onclick="adddiag(this)"  id="<%= i %>5">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>


      <tr>
        <td id="timeblock6">14：00-15：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal" class="btn btn-default btn-sm " type="button" onclick="adddiag(this)"  id="<%= i %>6">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td id="timeblock7">15：00-16：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal" class="btn btn-default btn-sm " type="button" onclick="adddiag(this)"  id="<%= i %>7">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>

      <tr>
        <td id="timeblock8">16：00-17：00</td>
        <% for i in 1..7  do %>
            <td><button  href="#myModal"  data-toggle="modal" class="btn btn-default btn-sm" type="button" onclick="alert(this.id)"  id="<%= i %>8">添加<%#=t('.add') %></button></td>
        <% end  %>
      </tr>
     </tbody>
    </table>
  </div>



<!-----------------------弹出添加可预约人数的提示框---------begin--------------------------->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="advice"><b>预约提示<%#=t('appointments.myapp.Prompt') %></b></h4>
      </div>
      <%= form_for '@appointmentSchedule' ,:url => {:controller=>'appointment_schedules',:action=>'create' } do |f|   %> <!-- ,:remote  => true-->
          <div class="modal-body">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">预约人数<%#=t('.appointment_num') %></label>
              <div class="col-sm-9 space">
                <%= f.number_field  :avalailbecount ,:in => 1...10 ,:class => 'form-control',:value =>'4'%>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">预约类型<%#=t('appointments.myappointment.appointment_type') %></label>
              <div class="col-sm-9">
                <select id="appointment_schedule_dictionary_id" name="appointment_schedule[dictionary_id]" class= "form-control">
                  <% @dictionary.each do |dic| %>
                      <option value="<%= dic['id']%>"><%= dic['name']%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <%= f.hidden_field :dayofweek, :value =>"" %>
            <%= f.hidden_field :timeblock, :value => "" %>
            <%= f.hidden_field :doctor_id, :value => params[:doctor_id] %>
            <div class="clearfix"></div>
            <div class="modal-footer">
            <div class="form-group">
              <div class="col-sm-8">
              </div>
              <div class="col-sm-4">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消<%#=t('.cancel') %></button>
                <%= f.submit  '确定' ,:class =>"btn btn-primary" %>
                <!--<button class="btn btn-primary" id="appAdd" onclick="AddApp()">确定</button>-->
              </div>
            </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<!-----------------------弹出添加可预约人数的提示框----------end---------------------------->
<!-----------------------------------------------取消预约安排提示-------------------------------------------->
<div class="modal fade" id="cancelChoose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="canel">取消安排<%#=t('.cancel schedules') %></h4>
      </div>
      <%= form_tag '/appointment_schedules/cancelthisweekschedule' ,:id => "cacelform" do %>
          <div class="modal-body">
            <p><%= label_tag  '您确定要取消这次预约吗？' %></p>
            <div class="form-group">
              <div class="col-sm-6">
               <%= radio_button_tag(:cacelmode, "allweek" , true ) %>取消所有周<%#= label_tag(t('.cancel all')) %>
              </div>
              <div class="col-sm-6">
                <%= radio_button_tag(:cacelmode, "cancelthisweek") %>取消本周<%#= label_tag(t('.cancel this')) %>
              </div>
            </div>
              <%= hidden_field_tag(:cancelappscheduleId, "") %>
              <%=  hidden_field_tag(:diagnoseId, "") %>
              <%=  hidden_field_tag(:doctorId, params[:doctor_id])%>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="col-sm-8">
              </div>
              <div class="col-sm-4">
                <!--<p align="left"><%#= check_box_tag(:checkbox,"tagUserCancel")%>同时取消已经预约的计划</p>-->
                <!--<p align="left" style="color:red"><%#= label_tag  t('.attention') %></p>-->
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消<%#=t('.cancel') %></button>
                <a href="#"   id="tmpbtn" class="btn btn-primary" data-method="delete" rel="nofollow">确定<%#=t('users.settings.submit') %></a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<!------------------------------------------恢复预约安排提示---------------------------------------------->
<div class="modal fade" id="cancelSheduleweekTip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="canel">恢复安排<%#=t('.Recover Schedules') %></h4>
      </div>
      <%= form_for '@appointmentCancelSchedule' ,:url => {:controller=>'appointment_cancel_schedules',:action=>'destroy' }  do |f|%>
      <div class="modal-body">
        <p>
          <%#=t('.recover sure?') %>
          确实要恢复本次安排吗？
        </p>
      </div>
          <%#=  hidden_field_tag(:id, "") %>
          <%= f.hidden_field :id, :value =>"" %>
      <div class="modal-footer">
        <div class="form-group">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消<%#=t('.cancel') %></button>
            <!--<a href="#" class="btn btn-primary"  id="confirmCancelAll"   data-method="delete" rel="nofollow" > 确定<%#= t('users.settings.submit') %> </a>-->
            <%= f.submit  '确定' ,:class =>"btn btn-primary" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    <% @thisweek = Time.now.strftime("%W")%>
    $(document).ready(function(){
        <% if  @appointmentSchedules.count > 0   %>
        //遍历找到区域  标记为 已经添加
          <% @appointmentSchedules.each do | appschedule| %>
            var  hour  = <%= appschedule['timeblock'] %>;
            var  dayofweek = <%=appschedule['dayofweek']  %>;
            var  shijianduan = hour +"：00-";//所在的行数
            var  booktimeid = $("td:contains("+shijianduan+")")[0].id;
            var  bidstr  = booktimeid.toString();
            var hanghao = bidstr.charAt(bidstr.length -1);  //时间段所在的行数
            var  btnpos  =   dayofweek.toString() + (hanghao).toString();
            $('#'+btnpos).addClass('btn-info').text('取消').attr(  { onclick:"cancelthisweek(this)" ,href:"#cancelChoose" ,value:<%= appschedule['id'] %>});
         <%end%>
        <%end%>
        <%if @cancelrecords.count >  0 %>
          <% @cancelrecords.each do |cancelrecord| %>
            var  weekofcanceldate  = <%= cancelrecord['canceldate'].to_time.strftime('%W')%>;
            var  thisweek          = <%= @thisweek %>;
            var  wdayofcanceldate  = <%=cancelrecord['canceldate'].to_time.wday  %>;
            if( wdayofcanceldate == 0){
                wdayofcanceldate =7;
            }
            var  cancelhour  = <%= cancelrecord['canceltimeblock'] %>
            var  cancelshijianduan = cancelhour+"：00-";//所在的行数
            var  cancelbooktimeid = $("td:contains("+cancelshijianduan+")")[0].id;
            var  cancelbooktimeidstr  = cancelbooktimeid.toString();
            var  cancelhanghao = cancelbooktimeidstr.charAt(cancelbooktimeidstr.length -1);  //时间段所在的行数

            var   cancelbtnpos  = wdayofcanceldate+"" +cancelhanghao;
//            alert('baekhyun')
//            alert(cancelbtnpos)
//            alert(<%#= cancelrecord['id']%>)
//            alert('baekhyun')
            if  (weekofcanceldate  > thisweek){
                $('#'+cancelbtnpos ).removeClass('btn-success ').text("恢复下周").attr({onclick:"recorverWeekShedule(<%= cancelrecord['id']%>)" , href:"#cancelSheduleweekTip",value:<%= cancelrecord['id']%>});
            }else{
                $('#'+cancelbtnpos).removeClass('btn-success ').text("恢复本周").attr({onclick:"recorverWeekShedule(<%= cancelrecord['id']%>)" , href:"#cancelSheduleweekTip",value:<%= cancelrecord['id']%>});
            }
          <% end  %>
        <% end  %>
    })
    function  adddiag(obj){
        //获取周  obj.id 第一位
        //获取小时  timeblock+ obj.id 第二位   的text  的   第一位到:  的那个数字
        var btnpos = obj.id;
        var dayofWeek  = btnpos.substr(0,1);
        var blockid  = btnpos.substr(1,2);
        var hourtext  = $("#timeblock"+blockid).text();
        var colonpos  = hourtext.indexOf("：")
        var timeblock =hourtext.substr(0,colonpos);
        $('#_appointmentSchedule_dayofweek').val(dayofWeek);
        $('#_appointmentSchedule_timeblock').val(timeblock);
    }
    function  cancelthisweek(obj){
        //获取是周几  几点到几点
        var btnpos = obj.id;
        var dayofWeek  = btnpos.substr(0,1);            //
        var blockid  = btnpos.substr(1,2);
        var hourtext  = $("#timeblock"+blockid).text();
        var colonpos  = hourtext.indexOf("：")
        var timeblock =hourtext.substr(0,colonpos);     //
        var   cancelappscheduleId = $("#"+obj.id).val();
        //默认删除所有
        $('#tmpbtn').replaceWith( '<a href="/appointment_schedules/'+ cancelappscheduleId   +'"  " id="tmpbtn" class="btn btn-primary" data-method="delete" rel="nofollow">确定<%#=t('users.settings.submit')%></a>'                   );
        $("#cancelappscheduleId").val(cancelappscheduleId);
        //获取选中的按钮
        $(":radio").change(function(){
            //获取选中的value
            var strval    =  $('input[name= cacelmode]:checked').val();
            // alert(strval);
            if(strval == "cancelthisweek"){
                $('#cacelform').attr({action: "/appointment_schedules/cancelthisweekschedule" ,method:"put"});
                $('#deletemethod').remove();
                $("#tmpbtn").replaceWith('<input class="btn btn-primary" id="cancelall" name="commit" type="submit" value="确定<%#=t('users.settings.submit')%>">');
            }else{
                $('#cacelform').attr({action: "/appointment_schedules/"+cancelappscheduleId ,method:"delete"});
                //表单中新增  hidden  method  delete
                $('#cacelform').append(''+ '<input name="_method" type="hidden" value="delete" id="deletemethod" />');
                $('#cancelall').replaceWith( '<a href="/appointment_schedules/'+ cancelappscheduleId   +'" " id="tmpbtn" class="btn btn-primary" data-method="delete" rel="nofollow">确定<%#=t('users.settings.submit')%></a>'                   );
            }
        });
    }
    function  recorverWeekShedule(obj){
        $("#_appointmentCancelSchedule_id").val(obj)

    }
     function AddApp(){
        var avalailbecount = $('#_appointmentSchedule_avalailbecount').val
        var dayofweek =  $('#_appointmentSchedule_dayofweek').val()
        var timeblock = $('#_appointmentSchedule_timeblock').val()
        var doctor_id = $('#_appointmentSchedule_doctor_id').val()
        $.ajax({
            url: '/appointment_schedules/create',
            type: 'post',
            dataType: 'json',
            data: {
                dayofweek : dayofweek,
                avalailbecount : avalailbecount,
                timeblock : timeblock,
                doctor_id : doctor_id
//            },
//            success:function(data){
//                $('#myschedule').html(data)
            }
        });
     }
</script>
