<script>
    $(document).ready(function(){
        document.getElementById('day_'+<%=@template.dayofweek%>).setAttribute('selected','selected')
        $('#start_time1').val('<%= @template.start_time.strftime("%H:%M")%>')
        $('#end_time1').val('<%= @template.end_time.strftime("%H:%M")%>')
    })
    $(function() {

        $('#start_time1').datetimepicker({
            datepicker:false,
            format:'H:i',
            step:15});
        $('#end_time1').datetimepicker({
            datepicker:false,
            format:'H:i',
            step:15});
    });
</script>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="cancel">查看及编辑预约安排模板<%#=t('.cancel schedules') %></h4>
    </div>
    <%= form_for 'app', :url=>{:controller => 'schedule_templates',:action=>'update_template'}, :html => { :method => :post } do |f| %>
        <div class="modal-body" style='height:auto;'>
          <p style="color:red;font-family: '楷体','楷体_GB2312';">
            　注意：结束时间必须大于开始时间，并且不能与已安排时间冲突，否则会操作失败。
          </p>
          <div class="form-group">
            <%= f.label(:avalailbecount,"计划预约人数",:class=>"col-sm-3 control-label font-yahei") %>
            <div class="col-sm-6 space">
              <%= f.number_field  :avalailbecount ,:in => 1...1000 ,:class => 'form-control',:value =>@template.number%>
            </div>
          </div>
          <div class='clear'></div>
          <div class="form-group">
            <%= f.label(:app_day,"星期",:class=>"col-sm-3 control-label font-yahei") %>
            <div class="col-sm-6 space">
              <select id='app_day' name='app[app_day]' class="form-control" type="text">
                <option value='1' id='day_1'>星期一</option>
                <option value='2' id='day_2'>星期二</option>
                <option value='3' id='day_3'>星期三</option>
                <option value='4' id='day_4'>星期四</option>
                <option value='5' id='day_5'>星期五</option>
                <option value='6' id='day_6'>星期六</option>
                <option value='0' id='day_0'>星期日</option>
              </select>
            </div>
          </div>
          <%= f.hidden_field(:template_id, :value => @template.id) %>
          <div class='clear'></div>
          <div class="form-group">
            <%= f.label(:app_time,"开始时间",:class=>"col-sm-3 control-label font-yahei") %>
            <div class="col-sm-6 space">
              <input  id='start_time1' data-format="hh:mm" name='app[start_time]' type="text" class="form-control"/>
            </div>
          </div>
          <div class='clear'></div>
          <div class="form-group">
            <%= f.label(:app_time,"结束时间",:class=>"col-sm-3 control-label font-yahei") %>
            <div class="col-sm-6 space">
              <input  id='end_time1' data-format="hh:mm" name='app[end_time]' type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.submit '修改',:class =>"btn btn-primary" %>
              <%= link_to '删除', '/schedule_templates/destroy_template?id='+@template.id.to_s,method: :delete,:remote => false,:class=>"btn btn-primary" %>
              <!--<a  class="btn btn-primary" href='/appointment_schedules/destroy_template?id=<%=@template.id%>'>删除</a>-->
              <!--<button class="btn btn-primary" id="delete_tem" data-dismiss="modal" aria-hidden="true" data-toggle="modal" onclick='destroy_template(<%=@template.id%>)'>删除</button>-->
              <!--<button class="btn btn-primary" id='update_app' data-dismiss="modal" aria-hidden="true" onclick='update_template(<%=@template.id%>)'>修改预约<%#=t('.cancel') %></button>-->
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭<%#=t('.cancel') %></button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
