<div class="col-md-6" style="">
  <div class="row">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>患者动态</b>
      </p>

      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>
<style>
    .padding-left2 {
        padding-left: 10px;
    }

    @media (max-width: 985px) {
        .padding-left2 {
            padding-left: 0px;
        }
    }
</style>
<div class="col-md-6" style="">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>医生动态</b>
      </p>

      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="col-md-6" style="margin-top:10px;">
  <div class="row">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right space3" style="cursor:pointer;">
        <%= link_to "管理", "/notes?user_id=#{current_user.id}" %>
      </span>
        <strong><span class="font-18 font-yahei ">我的文章</span></strong>
      </p>
    <div class="col-md-12">
      <ul class="list-unstyled font-yahei line_height30">
        <% if !@notes.empty? %>
            <% @notes.each do |note| %>
                <li>
                  <a href="/notes/<%= note.id %>" class="font-12"><span class="new_date"><%= note.created_at.strftime("%Y-%m-%d") %></span><span class="dot"><%= note.is_top ? '[顶]' : '' %><%= note.head %></span></a>
                </li>
                <div class="clearfix"></div>
            <% end %>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="col-md-6" style="margin-top:10px;">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-12 space3" style="cursor:pointer;">
          管理
        </span>
        <strong><span class="font-18 font-yahei ">我的咨询</span></strong>
      </p>
      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <% if !@consult_questions.empty? %>
              <% @consult_questions.each do |consult_question| %>
                  <li>
                    <a class="pull-right space3 " style="margin-top:-3px;"><%=image_tag "delete.png"%></a>
                    <a class="pull-right space3 " style="margin-top:-3px;"><%=image_tag "edit.png"%></a>
                    <a href="/notes/<%= consult_question.id %>" class="font-12"><span class="new_date  space3"><%= consult_question.created_at.strftime("%Y-%m-%d") if consult_question.created_at %></span>
                      <span class="dot"><%= consult_question.consult_content %></span>
                    </a>
                  </li>
                  <div class="clearfix"></div>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>