<div class="col-md-6" style="">
  <div class="row">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>患者动态</b>
      </p>

      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>
<style>
    .padding-left2 {
        padding-left: 10px;
    }

    @media (max-width: 985px) {
        .padding-left2 {
            padding-left: 0px;
        }
    }
</style>
<div class="col-md-6" style="">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>医生动态</b>
      </p>

      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="col-md-6" style="margin-top:10px;">
  <div class="row">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right space3" style="cursor:pointer;">
        <%= link_to "管理", "/notes?user_id=#{current_user.id}" %>
      </span>
        <strong><span class="font-18 font-yahei ">我的文章</span></strong>
      </p>
    <div class="col-md-12">
      <ul class="list-unstyled font-yahei line_height30">
        <% if !@notes.empty? %>
            <% @notes.each do |note| %>
                <li>
                  <a href="/notes/<%= note.id %>" class="font-12"><span class="new_date"><%= note.created_at.strftime("%Y-%m-%d") %></span><span class="dot"><%= note.is_top ? '[顶]' : '' %>
                    <% if note.note_type %>
                    [<%= note.note_type.name if note.note_type %>]
                        <% end %>
                    <%= note.head %></span></a>
                </li>
                <div class="clearfix"></div>
            <% end %>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="col-md-6" style="margin-top:10px;">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;">
        <span class="pull-right font-12 space3" style="cursor:pointer;">
          <a href="/consult_questions">管理</a>
        </span>
        <strong><span class="font-18 font-yahei ">我的咨询</span></strong>
      </p>
      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <% if !@consult_questions.empty? %>
              <% @consult_questions.each do |consult_question| %>
                  <li>
                    <% if current_user && current_user.id != consult_question.created_by %>
                        <a class="pull-right space3 " style="margin-top:-3px;" onclick="add_consult_accuse(<%= consult_question.id %>,'<%= consult_question.consult_content %>','<%= consult_question.consult_content %>','question')">举报</a>
                    <% end %>
                    <a href="/consult_questions/<%= consult_question.id %>" class="font-12"><span class="new_date  space3"><%= consult_question.created_at.strftime("%Y-%m-%d") if consult_question.created_at %></span>
                      <span class="dot"><%= consult_question.consult_content %></span>
                    </a>
                  </li>
                  <div class="clearfix"></div>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="modal fade" id="crate_cons_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <table style="width:80%;margin:0 auto;" class="font-yahei">
          <tr>
            <td><p>举报来源</p></td>
            <td style="width:340px;"><input id="source_id" value="" type="hidden">

              <div id="source_accuse">您的举报来源于：</div>
            </td>
          </tr>
          <tr>
            <td><p>举报内容</p></td>
            <td style="width:340px;">
              <textarea id="accuse_content" cols="40" rows="5" readonly="readonly"></textarea>
            </td>
          </tr>
          <tr>
            <td><p>举报原因</p></td>
            <td style="width:340px;">
              <input type="checkbox" name="reason" value="色情">色情
              <input type="checkbox" name="reason" value="政治">政治
              <input type="checkbox" name="reason" value="广告">广告
              <input type="checkbox" name="reason" value="招聘">招聘
              <input type="checkbox" name="reason" value="骂人">骂人
              <input type="checkbox" name="reason" value="其它">其它
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn_g" onclick="submit_accuse('question')">提交</button>
      </div>
    </div>
  </div>
</div>
