<!--稍后删除-->
<div class="attending_doctor space2">
  <h4 class="font-16 font-yahei"><strong>他的好友<%#=t('.his_friends') %></strong><a href="/doctors/doctorfriends?id=<%=@doctor1['id']%>&type=1"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
      <div class="row" style="margin:0px;padding:0px;">
      <%if !@contact_doctors1.nil? && !@contact_doctors1.empty?%>
          <%@contact_doctors1.each do |con_doc|%>
                <dl class="col-md-4" style="margin:0;padding:0;">
                    <dt><a href="/doctors/doctorpage/<%=con_doc['id']%>" onclick="getDoctorSchedule(<%=con_doc['id']%>  )"  >
                    <%if !con_doc['photo'].empty? && !con_doc['photo']=''%>
                      <%=image_tag("#{con_doc['photo']}", alt:"default",:width => "45",:height => "63" )%>
                    <% else %>
                      <%=image_tag("default.png", alt:"default",:width => "45",:height => "63" , :class => "pull-left")%>
                    <%end%>
                     </a>
                     </dt>
                     <dd class="text-center lineheight-30"><%=link_to "#{con_doc['name']}","/doctors/doctorpage/#{con_doc['id']}" , :onclick => "getDoctorSchedule(#{con_doc['id']})" %></dd>
                </dl>
          <%end%>
      <%end%>
      </div>
  <div class="clearfix"></div>
</div>
<div class="attending_doctor space2">
  <h4 class="font-16 font-yahei"><strong>他的主治患者<%#=t('.major_patients') %></strong><a href="/doctors/doctorfriends?id=<%=@doctor1['id']%>&type=2"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
    <div class="row" style="margin:0px;padding:0px;">
      <%if !@contact_main_users1.nil? && !@contact_main_users1.empty?%>
          <%@contact_main_users1.each do |main_user|%>
              <dl class="col-md-4" style="margin:0px;padding:0px;">
                <dt><a href="/patients/patientpage/<%=main_user['id']%>">
                  <%if  !main_user['photo'].empty? && !main_user['photo']=''%>
                      <%=image_tag("#{main_user['photo']}", alt:"default",:width => "45",:height => "63" , :class => "pull-left" ) %>
                  <% else %>
                      <%=image_tag("default.png", alt:"default",:width => "45",:height => "63" , :class => "pull-left",:style =>"float:left" )%>
                  <%end%>
                </a></dt>
                <dd class="text-center lineheight-30"><%=link_to "#{main_user['name']}","/patients/patientpage/#{main_user['id']}" %></dd>
              </dl>
          <% end %>
      <% end %>
    </div>
</div>
<div class="attending_doctor space2 space">
  <h4 class="font-16 font-yahei"><strong>他的患者<%#=t('.his_patients') %></strong><a href="/doctors/doctorfriends?id=<%=@doctor1['id']%>&type=3"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
  <div class="row" style="margin:0px;padding:0px;">
    <%if !@contact_users1.nil? && !@contact_users1.empty?%>
        <%@contact_users1.each do |con_user|%>
            <dl class="col-md-4" style="margin:0px;padding:0px;">
              <dt><a href="/patients/patientpage/<%=con_user['id']%>">
                <%if  !con_user['photo'].empty? && !con_user['photo']=''%>
                    <%=image_tag("#{con_user['photo']}", alt:"default",:width => "45",:height => "63" , :class => "pull-left" ) %>
                <% else %>
                    <%=image_tag("default.png", alt:"default",:width => "45",:height => "63" , :class => "pull-left",:style =>"float:left" )%>
                <%end%>
              </a></dt>
              <dd class="text-center"><%=link_to "#{con_user['name']}","/patients/patientpage/#{con_user['id']}" %></dd>
            </dl>
        <% end %>
    <% end %>
    </div>
</div>