<div class="attending_doctor space2">
  <h4 class="font-16 font-yahei"><strong>我的好友<%#=t('.my_friends') %></strong><a href="/doctors/doctorfriends?id=<%=current_user['doctor_id']%>&type=1"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
  <div class="row" style="margin:0px;padding:0px;">
      <%if !@contact_doctors.nil?%>
          <%@contact_doctors.each do |con_doc|%>
              <dl class="col-md-4 col-sm-6 col-xs-12" style="margin:0;padding:0;">
                <dt class="text-center"><a href="/doctors/doctorpage/<%=con_doc['id']%>" onclick="getDoctorSchedule(<%=con_doc['id']%>  )"  >
                  <%if  !con_doc['photo'].empty? && !con_doc['photo']=''%>
                      <%=image_tag("#{con_doc['photo']}", alt:"default",:width => "45",:height => "63",:class=> "img_bg") %>
                  <% else %>
                      <%=image_tag("default.png", alt:"default",:width => "45",:height => "63" ,:class=> "img_bg")%>
                  <%end%>
                </a>
                </dt>
                <dd class="text-center lineheight-30"><%=link_to "#{con_doc['name']}","/doctors/doctorpage/#{con_doc['id']}" , :onclick => "getDoctorSchedule(#{con_doc['id']})" %></dd>
              </dl>
          <%end%>
      <%end%>
    </div>
</div>
<div class="attending_doctor space2">
  <h4 class="font-16 font-yahei"><strong>主治患者<%#=t('.major_patients') %></strong><a href="/doctors/doctorfriends?id=<%=current_user['doctor_id']%>&type=2"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
    <div class="row" style="margin:0px;padding:0px;">
      <%if !@contact_main_users.nil? %>
          <%@contact_main_users.each do |main_user|%>
             <dl class="col-md-4 col-sm-6 col-xs-12" style="margin:0;padding:0;">
                <dt class="text-center"><a href="/patients/patientpage/<%=main_user['id']%>">
                   <%if  !main_user['photo'].empty? && !main_user['photo']=''%>
                     <%=image_tag("#{main_user['photo']}", alt:"default",:width => "45",:height => "63" ,:class=> "img_bg") %>
                  <% else %>
                      <%=image_tag("default.png", alt:"default",:width => "45",:height => "63",:class=> "img_bg" )%>
                   <%end%>
                 </a></dt>
                <dd class="text-center lineheight-30"><%=link_to "#{main_user['name']}","/patients/patientpage#{main_user['id']}" %></dd>
             </dl>
          <% end %>
      <% end %>
    </div>
  <div class="clearfix"></div>
</div>
<div class="attending_doctor space2 space">
  <h4 class="font-16 font-yahei"><strong>我的患者<%#=t('.my_patients') %></strong><a href="/doctors/doctorfriends?id=<%=current_user['doctor_id']%>&type=3"><span class="pull-right btn btn-default btn-xs"><%=t('.more') %></span></a></h4>
    <%if !@contact_users.nil?%>
        <%@contact_users.each do |con_user|%>
                <dl class="col-md-4 col-sm-6 col-xs-12" style="margin:0;padding:0;">
                  <dt class="text-center"><a href="/patients/patientpage/<%=con_user['id']%>">
                    <%if  !con_user['photo'].empty? && !con_user['photo']=''%>
                        <%=image_tag("#{con_user['photo']}", alt:"default",:width => "45",:height => "63",:class=> "img_bg") %>
                    <% else %>
                        <%=image_tag("default.png", alt:"default",:width => "45",:height => "63",:class=> "img_bg")%>
                    <%end%>
                  </a></dt>
                  <dd class="text-center lineheight-30"><%=link_to "#{con_user['name']}","/patients/patientpage/#{con_user['id']}" %></dd>
                </dl>
        <% end %>
    <% end %>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
    //发送ajax请求

    function  getDoctorSchedule( doctorid){
        if (  doctorid != ""){
            $.ajax({
                type: "post",
                url: '/doctorschedule?id=' + doctorid,
                data: "text",
                success: function (data) {
                }
            });
        }
    }

</script>