<% if !current_user.doctor.nil? %>
    <!--
    <div class="index_box"  style="padding-bottom:10px;margin-top:10px;">
      <div class="box-title" style="padding-left:15px">
        <p class="pull-left"><strong><span class="font-18 font-yahei ">教育培训</span></strong> </p>
        <p class="pull-right" data-toggle="modal" data-target="#blood_glucose_modal2" style="cursor:pointer;"><strong style="border-left:1px solid #d7d7d7;color:#ababab;font-size:30px;width:45px;display:inline-block;text-align:center;cursor:pointer;">+</strong></p>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-3 col-sm-6 col-xs-12 " style="padding:0;">
            <div class="row index_box" style="padding:1px;margin:11px;">
              <div class="frame">
                <div class="wrap">
                  <img  id="edu1" src="<%#= Settings.files %>e00522b8b2df487983d1a6dd90afc58a.jpg"  class="img-responsive" style="width:100%">
                  <div>
                    <b></b>
                <span class="span">
                  <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/00/58/17/544db0abc95a25551b775d&title=一针见生死" target="edu1">
                    <h1>一针见生死</h1>
                    <p style="text-indent:2em">肿瘤（Tumor） 是机体在各种致癌因素作用下，局部组织的某一个细胞在基因水平上失去对其生长...</p>
                    <p  style="color:#999;"><span class="pull-right">2014/5/8 18：33</span>盛林</p>
                    <p>
                      <button class="btn-xs btn_b">播放</button>
                    </p>
                  </a>
		        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12" style="padding:0px;">
            <div class="row index_box" style="padding:1px;margin:11px;">
              <div class="frame">
                <div class="wrap">
                  <img  id="edu1" src="<%#= Settings.files %>69e7fba1bfed475fbf83a3f44fa9dc73.jpg"  class="img-responsive" style="width:100%">
                  <div>
                    <b></b>
                <span class="span">
                <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/12/fd/de/e6410da82b0eaeee2ad9f6&title=生活习惯与肿瘤（上）——沙发土豆文化威胁人类健康" target="edu2">
                  <h1>生活习惯与肿瘤</h1>
                  <p style="text-indent:2em">肿瘤（Tumor） 是机体在各种致癌因素作用下，局部组织的某一个细胞在基因水平上失去对其生长...</p>
                  <p  style="color:#999;"><span class="pull-right">2014/5/8 18：33</span>盛林</p>
                  <p>
                    <button class="btn-xs btn_b">播放</button>
                  </p>
                </a>
		        </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12" style="padding:0px;">
            <div class="row index_box" style="padding:1px;margin:11px;">
              <div class="frame">
                <div class="wrap">
                  <img  id="edu1" src="<%#= Settings.files %>0b4e6e1b7dc1478e927b76c87bef10a9.jpg"  class="img-responsive " style="width:100%">
                  <div>
                    <b></b>
                <span class="span">
                <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/18/2a/b8/214111a25faeba0511e358&title=生活习惯与肿瘤（上）——怎么吃才健康" target="edu3">
                  <h1>怎么吃才健康</h1>
                  <p style="text-indent:2em">肿瘤（Tumor） 是机体在各种致癌因素作用下，局部组织的某一个细胞在基因水平上失去对其生长...</p>
                  <p  style="color:#999;"><span class="pull-right">2014/5/8 18：33</span>盛林</p>
                  <p>
                    <button class="btn-xs btn_b">播放</button>
                  </p>
                </a>
		        </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12" style="padding:0px;">
            <div class="row index_box" style="padding:1px;margin:11px;">
              <div class="frame">
                <div class="wrap">
                  <img  id="edu1" src="<%#= Settings.files %>30a1dbd7af6d4e46827f9e318af15f19.jpg" class="img-responsive " style="width:100%">
                  <div>
                    <b></b>
                <span class="span">
                <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/53/ce/01/624a9a8e9d59ac126a83d7&title=换个角度看感冒" target="edu4">
                  <h1>换个角度看感冒</h1>
                  <p style="text-indent:2em">肿瘤（Tumor） 是机体在各种致癌因素作用下，局部组织的某一个细胞在基因水平上失去对其生长...</p>
                  <p  style="color:#999;"><span class="pull-right">2014/5/8 18：33</span>盛林</p>
                  <p>
                    <button class="btn-xs btn_b">
                      播放
                    </button>
                  </p>
                </a>
		        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
    <% if !@video_types.empty? %>
        <% @video_types.each do |type| %>
            <% @edu_vid = EduVideo.where(video_type_id:type.video_type_id) %>
            <% @videos = EduVideo.where(video_type_id:type.video_type_id).first(8) %>
            <% @type = VideoType.find_by(id:type.video_type_id) %>
            <div class="index_box"  style="padding-bottom:10px;margin-top:10px;">
              <p class="box-title font-18 font-yahei" style="padding-left:15px;">
                <% if !@type.nil? %>
                    <b><%= @type.type_name %></b>
                <% else %>
                    其他
                <% end %>
                <% if @edu_vid.length>8 %>
                    <a href="/doctors/more_video?type_id=<%= type.video_type_id%>" style="font-size: 16px;">
                      <span class="pull-right" style="margin-right: 10px;font-size: 12px;">更多</span>
                    </a>
                <% end %>
             </p>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <% if !@videos.empty? %>
                      <%@videos.each_with_index do |video,index|%>
                          <%#video_url=video.video_url%>
                          <%# video_url=video_url[1,2]+'/'+video_url[4,2]+'/'+video_url[7,2]+'/'+video_url[10,22]  unless video_url.nil?  %>
                          <div class="col-md-3 col-sm-6 col-xs-12" style="padding:0px;">
                            <div class="row video_index_box" style="padding:1px;margin:11px;">
                              <div class="frame">
                                <div class="wrap">
                                <% if !video.image_url.nil? && video.image_url != ''&& aliyun_file_exit(video.image_url,Settings.aliyunOSS.image_bucket) %>
                                  <img  id="edu1" src= "<%= image_access_url_prefix_with(video.image_url) %>"  class="img-responsive" style="width:100%;">
                                <% else %>
                                  <img  id="edu1" src= "default_player.png"  class="img-responsive" style="width:100%;">
                                <% end %>
                                  <div>
                                    <b></b>
                <span class="span">
                 <a href="/doctors/play_video?video_url=<%= video.video_url %>&title=<%=video.name %>" target="<%=index%>">
                   <h1><%=video.name %></h1>
                   <p style="text-indent:2em"><%=video.content %></p>
                   <p  style="color:#999;"><span class="pull-right"><%= video.video_time%></span><%= video.doctor_name%></p>
                   <p>
                     <button class="btn-xs btn_b">播放</button>
                   </p>
                 </a>
		        </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                          </div>
                      <%end%>

                  <%end%>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
    </div>
<% end %>
<script>
    $(document).ready(function(){

        $(".wrap div").hover(function() {
            $(this).animate({"top": "-120px"}, 200, "swing");
        },function() {
            $(this).stop(true,false).animate({"top": "0px"}, 200, "swing");
        });

    });
</script>

