<% if !current_user.doctor.nil? %>
    <div class="index_box"  style="padding-bottom:10px;">
      <p style="padding-left:15px;margin-top:15px;" class="font-yahei font-18">教育培训</p>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/00/58/17/544db0abc95a25551b775d" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>x00x58x17x544db0abc95a25551b775d.png" width="300"></a>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/12/fd/de/e6410da82b0eaeee2ad9f6" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>x12xfdxdexe6410da82b0eaeee2ad9f6.png" width="300"></a>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/18/2a/b8/214111a25faeba0511e358" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>x18x2axb8x214111a25faeba0511e358.png" width="300"></a>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/53/ce/01/624a9a8e9d59ac126a83d7" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>x53xcex01x624a9a8e9d59ac126a83d7.png" width="300"></a>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/ba/80/c4/284e6cb9be380a02c35cb4" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>xbax80xc4x284e6cb9be380a02c35cb4.png" width="300"></a>
      <a href="/doctors/play_video?video_url=rtmp://203.195.197.169/vod/bf/02/e2/63459d8d5d6c502721caeb" target="_BLANK"><img  id="edu1" src="<%= Settings.files %>xbfx02xe2x63459d8d5d6c502721caeb.png" width="300"></a>
    </div>
<% end %>

