<% if !current_user.doctor.nil? %>
    <div class="index_box"  style="padding-bottom:10px;">
      <p style="padding-left:15px;margin-top:15px;font-size:30px" class="font-yahei">教育培训</p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">


          <% if !@videos.empty? %>
            <%@videos.each_with_index do |video,index|%>
                  <%video_url=video.video_url%>
                  <% video_url=video_url[1,2]+'/'+video_url[4,2]+'/'+video_url[7,2]+'/'+video_url[10,22]%>

                  <div class="col-md-3 col-sm-4 col-xs-6 ">
                    <div>
                    <a href="/doctors/play_video?video_url=<%= Settings.edu_video %><%=video_url%>&title=<%=video.name %>" target="<%=index%>">
                      <img  id="edu1" src="<%= Settings.pic %><%= video.image_url %>"  class="img-responsive video_img">
                    </a>
                    </div>
                    <div class="font-14 font-yahei" style="margin-top:5px;"><b><%=video.name %></b></div>
                    <div class="font-12 font-yahei" style="color:#66717d"><%=video.content %></div>
                    <div class="font-12 font-yahei" style="color:#969696"><span class="pull-right" >2014/04/24</span><%= video.doctor_name%></div>
                    <div style="clear:both;"></div>
                  </div>
              <%end%>

          <%end%>
        </div>
      </div>
      </div>
<% end %>

