<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>家庭住址</th>
      <th>操作</th>
    </tr>
    <% @contact_users.each do |user| %>
        <tr>
          <td> <%=link_to "#{user.name}","/patients/patientpage/#{user.id}" %> </td>
          <td><%= user.gender %></td>
          <td><%= Time.now.year.to_i-user.birthday.year.to_i %></td>
          <td><%= user.address %></td>
          <td><%=link_to "健康档案","/navigations/navigationhealthrecord?id=#{user.id}",:class => 'btn btn-info btn-xs' %>
            <%=link_to "创建会诊","/consultations/new?id=#{user.id}",:class => 'btn btn-default btn-xs'%>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<div class="text-center">
  <%= will_paginate @contact_users,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page num unstyled',:style=>'margin-bottom:5px;display:inline-block;' %>
</div>
<script>
    $(function () {
        $('.pagination li a').click(function () {
            event.preventDefault();
            var url = '', href = $(this).context.href, arr = [], page;
            console.log(href)
            arr = href.split('//')[1].split('/');
            url = '/' + arr[1] + '/' + arr[2].split('?')[0]
            if ($(this).parent().hasClass('active') || url.indexOf('#') != -1) {
            } else {
                page = parseInt(href.split('page=')[1]);
                $.ajax({
                    type: 'get',
                    url: url,
                    data: {
                        page: page
                    },
                    success: function (data) {
                        $('#d22').html('');
                        $('#d22').html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        })
    });

</script>