<!--删-->
<div class="row">
  <% @contact_main_users.each do |user| %>
      <div class="col-md-6 col-sm-12 col-xs-12 "  style="border-right:1px solid #dcdcdc;">
        <div class="row">
          <div class="col-md-12 space2">
            <%=image_tag "default.png",:width=>"55",:height=>"77",:class=>"pull-left space3"%>
            <div class="pull-left">
              <div class="pull-left"><%=link_to "#{user.name}","/patients/patientpage/#{user.id}",:class => "font-20 font-yahei space3" ,:style => "font-weight:bold;"%><b style="margin-top:5px;display:inline-block;color:#666">普通患者</b></div>
              <div class="clearfix"></div>
              <div class="infos"><span><%= Time.now.year.to_i-user.birthday.year.to_i %>岁</span><span><%= user.gender %></span><span>18801029987</span><span><%= user.address %></span><br /><span>肝和肝内胆管恶性肿瘤</span><span>最近诊疗时间 2014-3-24</span></div>
            </div>
            <div class="pull-right"><%=link_to "健康档案","/navigations/navigationhealthrecord?id=#{user.id}",:class => 'btn btn-primary font-yahei',:style => "margin:3px 3px 3px 15px;font-weight:bold;" %></div>
            <div class="clearfix"></div>
            <div class="line space2"></div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="text-center">
  <%= will_paginate @contact_main_users,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page num unstyled',:style=>'margin-bottom:5px;display:inline-block;' %>
</div>
<script>
    $(function () {
        $('.pagination li a').click(function () {
            event.preventDefault();
            var url = '', href = $(this).context.href, arr = [], page;
            console.log(href)
            arr = href.split('//')[1].split('/');
            url = '/' + arr[1] + '/' + arr[2].split('?')[0]
            if ($(this).parent().hasClass('active') || url.indexOf('#') != -1) {
            } else {
                page = parseInt(href.split('page=')[1]);
                $.ajax({
                    type: 'get',
                    url: url,
                    data: {
                        page: page
                    },
                    success: function (data) {
                        $('#d11').html('');
                        $('#d11').html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        })
    });

</script>