<div id="frients_doctors">
  <%if !@contact_doctors2.nil?%>
      <div class="container bgcolor-white" style="margin-top:-20px;">
        <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%=@title%></h3>
            <%@contact_doctors2.each do |con_doc|%>
            <div class="row line3 space2">
              <div class='col-md-1 space'>
                <a href="/doctors/doctorpage/<%=con_doc['id']%>">
                  <%if !con_doc['photo'].empty? && !con_doc['photo']=''%>
                      <%=image_tag("#{con_doc['photo']}", alt:"default",:width => "75",:height => "105" ,:class =>"img_bg")%>
                  <% else %>
                        <%=image_tag("default.png", alt:"default",:width => "75",:height => "105" ,:class =>"img_bg")%>
                  <%end%>
                </a>
              </div>
              <div class="col-md-11">
                <ul class="list-unstyled lineheight-24">
                  <li><span class="pull-left"><strong><%=link_to "#{con_doc['name']}","/doctors/doctorpage/#{con_doc['id']}",:class=>"font-18 font-yahei font-color3" %></strong>&nbsp;</span>
                    <span class="pull-left"><%=Hospital.find(con_doc.hospital_id).name unless Hospital.find(con_doc.hospital_id)%>&nbsp;<%=Department.find(con_doc.department_id).name unless Department.find(con_doc.department_id)%></span><br />
                  <div class="clearfix"></div>
                  </li>
                  <li><strong>专长 <%#=t('appointments.doctors_list.skilled') %></strong><%=con_doc['expertise']%></li>
                  <li><strong>说明 <%#=t('doctors.doctor_subpage.introduction') %></strong> <%=con_doc['introduction']%></li>
                </ul>
              </div>
            </div>
            <% end%>
            <%= will_paginate @contact_doctors2,:previous_label => '<', :next_label => '>',:class=>'pagination-mini page num unstyled',:style=>'margin-left:300px;margin-bottom:40px;' %>

      </div>
  <%end%>
</div>

<div id="frients_mainusers">
  <%if !@contact_main_users2.nil?%>
      <div class="container bgcolor-white" style="margin-top:-20px;">
        <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%=@title%></h3>
          <div class="row space">
            <%@contact_main_users2.each do |main_user|%>
                <dl class="col-md-3 col-sm-4 col-xs-12 space ">
                    <dt class="space3 pull-left">
                      <a href="/patients/patientpage/<%=main_user['id']%>">
                      <%if !main_user['photo'].empty? && !main_user['photo']=''%>
                          <%=image_tag("#{main_user['photo']}", alt:"default",:width => "75",:height => "105",:class =>"img_bg") %>
                      <% else %>
                          <%=image_tag("default.png", alt:"default",:width => "75",:height => "105",:class =>"img_bg") %>
                      <%end%>
                      </a>
                    </dt>
                        <dd><strong><%=link_to "#{main_user['name']}","/patients/patientpage/#{main_user['id']}" ,:class=>"font-18 font-yahei font-color3"%></strong></dd>
                        <dd><strong>性别 <%#=t('users.settings.sex') %></strong><%=main_user['gender']%></dd>
                        <dd><strong>年龄 <%#=t('shared.page_frients_main_users.age') %></strong><%=Time.now.year.to_i-main_user['birthday'].to_time.year.to_i%></dd>
                        <dd><strong>家庭住址 <%#=t('shared.home_frients_users.home_address') %></strong><%=main_user['address']%></dd>
                </dl>
            <% end %>
            <%= will_paginate @contact_main_users2,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page unstyled' %>
          </div>

      </div>
  <% end %>
</div>

<div id="frients_users">
  <%if !@contact_users2.nil?%>
      <div class="container bgcolor-white" style="margin-top:-20px;">
          <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%=@title%></h3>
          <div class="row space">
            <%@contact_users2.each do |con_user|%>
                <dl class="col-md-3 col-sm-4 col-xs-12 space">
                    <dt class="pull-left space3">
                      <a href="/patients/patientpage/<%=con_user['id']%>">
                        <%if  !con_user['photo'].empty? && !con_user['photo']=''%>
                            <%if !con_user['photo']%>
                                <%=image_tag("#{con_user['photos'].first['remote_photo_path']}", alt:"default",:width => "75",:height => "105" ,:class =>"img_bg") %>
                            <% else %>
                                <%=image_tag("default.png", alt:"default",:width => "75",:height => "105",:class =>"img_bg" ) %>
                            <%end%>
                        <% else %>
                            <%=image_tag("default.png", alt:"default",:width => "75",:height => "105",:class =>"img_bg") %>
                        <% end %>
                      </a>
                    </dt>
                        <dd><strong><%=link_to "#{con_user['name']}","/patients/patientpage/#{con_user['id']}",:class=>"font-18 font-yahei font-color3" %></strong></dd>
                        <dd><strong>性别 <%#=t('users.settings.sex') %></strong><%=con_user['gender']%></dd>
                        <dd><strong>年龄 <%#=t('shared.page_frients_main_users.age') %></strong><%=Time.now.year.to_i-con_user['birthday'].to_time.year.to_i%></dd>
                        <dd><strong>家庭住址 <%#=t('.home_address') %></strong><%=con_user['address']%></dd>
                </dl>

            <% end %>
            <%= will_paginate @contact_users2,:previous_label => '<', :next_label => '>',:class=>' pagination-mini page num unstyled',:style=>'margin-bottom:5px;display:inline-block;' %>
          </div>

      </div>
  <% end %>
</div>