<div class="container bgcolor-white"  style="margin-top:-20px;">
  <div class="row">
    <div class="col-md-12">
      <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%= @doctor1['name'] %>的简介</h3>
      <div class="row">
        <div class="col-md-2">
          <% if !@doctor1['photo']['url'].nil? && !@doctor1['photo']['url']=''%>
              <%=image_tag(@doctor1['photo']['url'], alt: @doctor1['photo']['url'],:width => "150",:height => "210" ,:class => "space4") %>
          <% else %>
              <%=image_tag("default.png", alt: 'default',:width => "150",:height => "210",:class => "space4") %>
          <%end%>
          <div id='fri_notice'><%= render 'follow_form' %></div>
        </div>
        <div class="col-md-10">
          <ul class="list-unstyled lineheight-30">
            <li><span class="user_subpage_font"><strong>职称 <%#=t('.main_position') %></strong></span><%=@doctor1['professional_title'] %></li>
            <li><span class="user_subpage_font"><strong>医院 <%#=t('users.user_home_aspects.hospital') %></strong></span><%= @doctor1['hospital']['name'] unless @doctor1['hospital'].nil?%></li>
            <li><span class="user_subpage_font"><strong>专长 <%#=t('users.user_home_aspects.skilled') %></strong></span><%= @doctor1['expertise']%></li>
            <li><span class="user_subpage_font"><strong>说明 <%#=t('.introduction') %></strong></span><%= @doctor1['introduction'] %></li>
          </ul>
        </div>
      </div>
      <div id='doc_app'><%#= render partial: 'doctors/doctor_appointment' %></div>
    </div>
    <div class="col-md-2">
      <%#= render partial: 'doctors/doctor_page_aspects' %>
    </div>
  </div>
</div>

<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $.ajax({
        type: 'get',
        url: '/doctors/doctor_appointment/<%=@doctor_id%>',
        data: 'json',
        success: function (data) {
            $('#doc_app').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>
</script>