<div class="container bgcolor-purple" style="margin-top:-20px;">
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>医生主页面</h3>
  <div class="row space">
    <div class="col-md-3">
        <%= render 'photos/photo_form'%>
</div>
    <div class="col-md-9">
      <h3><%=@user1['name']%></h3>
      <div><%=@user1['email'] %></div>
      <div><%=@user1['mobile_phone'] %></div>
      <div><%=@user1['introduction'] %></div></div>
  </div>

</div>

