<div class="container bgcolor-white" style="margin-top:-20px;">
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>医生主页面</h3>
  <div class="row space">
    <div class="col-md-2">
        <%= render 'photos/photo_form'%>
    </div>
    <div class="col-md-7">
      <h3><%=@user['name']%></h3>
      <div><%=@user['email'] %></div>
      <div><%=@user['mobile_phone'] %></div>
      <div><%=@user['introduction'] %></div>
    </div>
    <div class="col-md-3" id="my_aspects">

    </div>
  </div>

</div>
<script>
    $.ajax({
        type: 'get',
        url: '/doctors/get_aspects',
        data: 'json',
        success: function (data) {
            $('#my_aspects').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })
</script>
