<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-2  col-sm-3 space2">
        <%= render 'photos/photo_form'%>
        <%#= render  partial: 'notifications/show_notifications'%>
      <div id='notice'></div>
    </div>
    <div class="col-md-8  col-sm-6"  style="margin-top:0;padding-top:0;">
      <h3 class="font-18 font-yahei font-color3"><strong><%=@user['name']%></strong></h3>
      <div><%=@user['email'] %></div>
      <div><%=@user['mobile_phone'] %></div>
      <div><%=@user['introduction'] %></div>
      <%=Time.zone.now %>
    </div>
    <div class="col-md-2  col-sm-3" id="my_aspects">

    </div>
  </div>

</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $.ajax({
        type: 'get',
        url: '/doctors/get_aspects',
        data: 'json',
        success: function (data) {
            $('#my_aspects').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })


    $.ajax({
        type: 'get',
        url: '/notifications/get_all_notice',
        data: 'json',
        success: function (data) {
            $('#notice').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })

    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function() {
        setTimeout("showflash()",1);
        setTimeout("hideflash()",1500)
    });
    <% end %>
</script>
