<%= javascript_include_tag 'consults' %>
<div class="container bgcolor-white" style="margin-top:-10px;height:800px;">
  <div class="row">
    <div class="col-md-12 page_header" style="">
      <p class="page_header_font"><%= @doctor.name %>医生的主页
        <span style="color:#666666;font-size:16px;">&nbsp;&nbsp;<%= @doctor.email %></span>
      </p>

      <p class="page_header_d">目前该医生尚未对外提供服务!</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-2" style="margin-top:-30px;">
      <% if !@doctor.photo.nil? && @doctor.photo!='' %>
          <%= image_tag(default_access_url_prefix_with(@doctor.photo), alt: @doctor.photo, :width => "150", :height => "210", :class => "space4 img_bg", :style => "padding:3px;background:#ffffff;") %>
      <% else %>
          <%= image_tag("default.png", alt: 'default', :width => "150", :height => "210", :class => "space4 img_bg", :style => "padding:3px;background:#ffffff;") %>
      <% end %>
    </div>
    <div class="col-md-10">
      <ul class="list-unstyled lineheight-30 font-yahei">
        <li class="font-20" style="padding-bottom:10px;padding-top:10px;">
          <strong><%= @doctor.name %>&nbsp;&nbsp;<%= @doctor.professional_title %></strong></li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>医院 </strong></span><%= @doctor.hospital.name unless (@doctor.hospital.nil? || @doctor.hospital_id.nil? || @doctor.hospital_id == '') %>
        </li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>专长 </strong></span><%= @doctor.expertise %>
        </li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>简介 </strong></span><%= @doctor.introduction %>
        </li>
      </ul>
    </div>
  </div>
</div>


