<%= javascript_include_tag 'consults' %>
<div class="container bgcolor-white" style="margin-top:-10px;">
  <div class="row">
    <div class="col-md-12 page_header" style="">
      <p class="page_header_font"><%= @doctor.name %>医生的主页
        <span style="color:#666666;font-size:16px;">&nbsp;&nbsp;<%= @doctor.email %></span>
      </p>

      <p class="page_header_d">本站已经通过实名认证，所有内容由<%= @doctor.name %>大夫本人发表</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-2" style="margin-top:-30px;">
      <% if !@doctor.photo.nil? && @doctor.photo!='' %>
          <%= image_tag(Settings.pic+@doctor.photo, alt: @doctor.photo, :width => "150", :height => "210", :class => "space4 img_bg", :style => "padding:3px;background:#ffffff;") %>
      <% else %>
          <%= image_tag("default.png", alt: 'default', :width => "150", :height => "210", :class => "space4 img_bg", :style => "padding:3px;background:#ffffff;") %>
      <% end %>
    </div>
    <div class="col-md-10">
      <ul class="list-unstyled lineheight-30 font-yahei">
        <li class="font-20" style="padding-bottom:10px;padding-top:10px;">
          <strong><%= @doctor.name %>&nbsp;&nbsp;<%= @doctor.professional_title %></strong></li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>医院 </strong></span><%= @doctor.hospital.name unless (@doctor.hospital_id.nil? || @doctor.hospital_id == '') %>
        </li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>专长 </strong></span><%= @doctor.expertise %>
        </li>
        <li>
          <span class="user_subpage_font font-yahei"><strong>简介 </strong></span><%= @doctor.introduction %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-top:10px;">
      <div class="row">
        <div class="col-md-12 index_box" style="padding:0px;">
          <p class="box-title font-18 font-yahei" style="padding-left:15px;">
            <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="/notes/search_index?user_id=<%= @doctor.user.id %>">更多</a></span><b>最新博客</b>
          </p>

          <div class="col-md-12">
            <ul class="list-unstyled font-yahei" style="line-height:30px;min-height:155px;">
              <% if !@new_notes.empty? %>
                  <% @new_notes.each do |note| %>
                      <li>
                        <a href="/notes/<%= note.id %>" class="font-12"><span class="new_date"><%= note.created_at.strftime("%Y-%m-%d") if note.created_at %></span><span class="dot"><%= note.head %></span></a>
                      </li>
                      <div class="clearfix"></div>
                  <% end %>
              <% else %>
                  <!--没有文章-->
                  <li class="text-center">
                <span style="margin-top:50px;display:inline-block;">
                <span class="glyphicon glyphicon-exclamation-sign" style="color:#d9534f;margin-right:5px;display:inline-block;"></span>
                  <%= @doctor.name %>还没有发表文章
                </span>
                  </li>
                  <!--没有文章 end-->
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:10px;">
      <div class="row padding-left2">
        <div class="col-md-12 index_box" style="padding:0px;">
          <p class="box-title font-18 font-yahei" style="padding-left:15px;">
            <span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="/notes/search_index?user_id=<%= @doctor.user.id %>">更多</a></span><b>博客排行榜</b>
          </p>

          <div class="col-md-12">
            <ul class="list-unstyled font-yahei" style="line-height:30px;min-height:155px;">
              <% if !@notes.empty? %>
                  <% @notes.each do |note| %>
                      <li>
                        <a href="/notes/<%= note.id %>" class="font-12"><span class="new_date"><%= note.pageview %></span><span class=" dot"></span>[<%= note.note_type.name if note.note_type %>
                          ]<%= note.head %>
                        </a>
                      </li>
                      <div class="clearfix"></div>
                  <% end %>
              <% else %>
                  <!--没有文章-->
                  <li class="text-center">
                <span style="margin-top:50px;display:inline-block;">
                <span class="glyphicon glyphicon-exclamation-sign" style="color:#d9534f;margin-right:5px;display:inline-block;"></span>
                  <%= @doctor.name %>还没有发表文章
                </span>
                  </li>
                  <!--没有文章 end-->
              <% end %>
              <!-- <li>
                 <a href="" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class="n1">1</span>肿瘤会诊中心视频...</a>
               </li>
               <div class="clearfix"></div>
               <li>
                 <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class="n2">2</span>生活习惯与肿瘤上...</a>
               </li>
               <div class="clearfix"></div>
               <li>
                 <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class="n3">3</span>换个角度看感冒...</a>
               </li>
               <div class="clearfix"></div>
               <li>
                 <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class="n4">4</span>数字化手术室...</a>
               </li>
               <div class="clearfix"></div>
               <li>
                 <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class="n5">5</span>一针见生死...</a>
               </li>
               <div class="clearfix"></div>-->

            </ul>
          </div>
        </div>
      </div>
    </div>
    <style>
        .padding-left2 {
            padding-left: 10px;
        }

        @media (max-width: 985px) {
            .padding-left2 {
                padding-left: 0px;
            }
        }
    </style>

    <div class="clearfix"></div>
  </div>
</div>
<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 index_box" style="padding:0px;">
          <p class="box-title font-18 font-yahei" style="padding-left:15px;">
            <b>在线咨询区</b>
          </p>

          <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-10" style="padding:0;">
                <input type="email" class="form-control" style="height:45px;" id="" placeholder="在此简单描述病情">
              </div>
              <div class="col-sm-2">
                <button class="btn-success btn btn-lg font-yahei" onclick="save_question()">咨询</button>
              </div>
              <div class="clear"></div>
              <p class="font-yahei space2 col-md-12">
                <strong><%= @doctor.name %>医生的咨询范围：</strong><br/>
                <span class="font-12"><%= @doctor.expertise %></span>
              </p>
            </div>
            <div class="clear"></div>
            <div class="col-md-12" style="margin-top:10px;">
              <ul class="list-unstyled zixun font-yahei">
                <% if !@consult_questions.empty? %>
                    <% @consult_questions.each do |question| %>
                        <li>
                          <span class="pull-left"><a href="/consult_questions/<%= question.id %>"><%= question.consult_content %></a> </span>
                          <span class="pull-right zixun_color" style="margin-right: 20px;">by <%= question.user_create.name %></span>
                          <span class="pull-right zixun_color space3"><%= question.created_at.strftime("%Y-%m-%d %H:%M") if question.created_at %></span>
                        </li>
                        <div class="clear"></div>
                    <% end %>
                <% else %>
                    <li class="text-center">
                <span style="margin-top:50px;display:inline-block;">
                <span class="glyphicon glyphicon-exclamation-sign" style="color:#d9534f;margin-right:5px;display:inline-block;"></span>
                  <%= @doctor.name %>还没有咨询信息
                </span>
                    </li>
                <% end %>
                <div class="text-center">
                  <ul class="pagination" style="margin-top:15px;">
                    <div class="text-center"><%= will_paginate @consult_questions, :previous_label => '<', :next_label => '>', :class => 'pagination-mini page num unstyled' %></div>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id='doc_app'><%#= render partial: 'doctors/doctor_appointment' %></div>
    </div>
  </div>
</div>





<%#= stylesheet_link_tag 'fullcalendar' %>
<div class="container ">

  <div class="col-md-2">
    <%#= render partial: 'doctors/doctor_page_aspects' %>
  </div>
</div>

<div class="modal fade" id="min_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><b>用户登录<%#= t('.user_login') %></b></h4>
      </div>
      <div class="modal-body">
        <%= form_for :session, :url => {:action => "signed_mini", :controller => "navigations", :flag => params[:id]} do |f| %>
            <div class="row">
              <div class="col-md-12 space">
                <%= f.text_field :username, :class => 'form-control', :placeholder => "用户名", :id => "inputUsername" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 space">
                <%= f.password_field :password, :class => 'form-control', :placeholder => "密码", :id => "inputPassword" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><%= f.submit '登录', class: "btn btn-green font-color5", style: "width:100%" %></div>
              <div class="col-md-6"><%= link_to '忘记密码', "" %></div>
            </div>
            <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $.ajax({
        type: 'get',
        url: '/appointment_schedules/doctorschedule2?id=<%=@doctor_id%>&flag=1',
        data: 'json',
        success: function (data) {
            $('#doc_app').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>
</script>
