<%= javascript_include_tag 'paginate' %>
<div class="panel panel-default">
  <table class="table font-yahei">
    <tr>
      <th style="border-top-width:0px;">医院</th>
      <th style="border-top-width:0px;">科室</th>
      <th style="border-top-width:0px;">检查医生</th>
      <th style="border-top-width:0px;">检查类别</th>
      <th style="border-top-width:0px;">检查日期</th>
      <th style="border-top-width:0px;">查看</th>
    </tr>
    <% @irs.each do |r| %>
        <tr>
          <td><%= r.hospital %></td>
          <td><%= r.department %></td>
          <td><%= r.doctor %></td>
          <td><%= r.child_type %></td>
          <td><%= r.checked_at %></td>
          <td><a href="/health_records/ct" target="_blank">查看</a></td>
        </tr>
    <% end %>
  </table>
  <div class="text-center">
  <%= will_paginate @irs,:previous_label => '<', :next_label => '>',:class=>'pagination-mini page num unstyled'%>
  </div>
</div>
