<%= javascript_include_tag 'paginate' %>
<div class="panel panel-default" style="padding:15px;">
  <table class="table font-yahei table_align_left">
    <tr>
      <th style="border-top-width:0px;">医院</th>
      <th style="border-top-width:0px;">科室</th>
      <th style="border-top-width:0px;">医生/患者</th>
      <th style="border-top-width:0px;">类别</th>
      <th style="border-top-width:0px;">日期</th>
      <th style="border-top-width:0px;">查看</th>
      <% if !current_user.patient.nil?%>
          <th style="border-top-width:0px;">删除</th>
      <% end %>
    </tr>
    <% @irs.each do |r| %>
        <tr>
          <td><%= r.hospital %></td>
          <td><%= r.department %></td>
          <td><%= r.doctor %></td>
          <td><%= r.child_type %></td>
          <td><%= r.checked_at %></td>
          <td><a href="/health_records/ultrasound?uuid=<%= r.thumbnail%>&child_id=<%= r.id %>" target="_blank">查看</a></td>
          <% if !current_user.patient.nil?%>
              <td>
                <a href="javascript:delete_records(<%= r.id %>,'超声')">删除</a>
              </td>
          <% end %>
        </tr>
    <% end %>
  </table>
  <div class="text-center">
  <%= will_paginate @irs,:previous_label => '<', :next_label => '>',:class=>'pagination-mini page num unstyled',:style=>'margin-left:300px;margin-bottom:40px;' %>
  </div>
</div>
