<%#= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<%= javascript_include_tag 'timeline-min' %>
<%#= stylesheet_link_tag 'fancybox' %>
<%= stylesheet_link_tag 'timeline' %>
<%= stylesheet_link_tag 'timeline_data' %>
<div class="container bgcolor-white" style="margin-top:-20px;">

</div>
<div id="timeline">

</div>
<script>
    $(function(){
        <% if @type == 'patient'%>
            var datas = [];
            var i= 0,date = '',url = '';
            <% a = 1%>
            <% (@reports.length-1).times do %>
                date = "<%= @reports[a][1]%>";
                url = "<%= @reports[a][0]%>";
                time = "<%= @reports[a][2]%>"
                <% a = a+1 %>
                datas[i] = {
                    "startDate":date,
                    "headline":"创建与"+time,
                    "text":" ",
                    "asset":
                    {
                        "media":url,
                        "credit":"",
//                        "credit":"<div class='picture' style='width:600px;height: 380px'><img src='"+url+"' style='width: 540px;height:720px' /></div>",
                        "caption":""
                    }
                };
                i++;
            <% end %>
//        datas[2] = {
//            "startDate":date,
//            "headline":"创建与"+time,
//            "text":"",
//            "asset":
//            {
//                "media":'http://192.168.1.239:3002/dicom/index',
//                "credit":"",
////                        "credit":"<div class='picture' style='width:600px;height: 380px'><img src='"+url+"' style='width: 540px;height:720px' /></div>",
//                "caption":""
//            }
//        };
        datas[i] = {
            "startDate":date,
            "headline":"创建与"+time,
            "text":" ",
            "asset":
            {
                "media":'http://demo.kanbing365.com:8080/dcm4chee-arc/rs/wado/DCM4CHEE?requestType=WADO&studyUID=1.3.12.2.1107.5.1.4.54471.30000005122100214628100000076&seriesUID=1.3.12.2.1107.5.1.4.54471.30000005122100095571800002862&objectUID=1.3.12.2.1107.5.1.4.54471.30000005122100095571800002863',
//                "credit":'<iframe width="1000px" height="450px" src="/dicom/show"></iframe>',
//                        "credit":"<div class='picture' style='width:600px;height: 380px'><img src='"+url+"' style='width: 540px;height:720px' /></div>",
                "credit":"",
                "caption":""
            }
        };
        var data_json = {
            "timeline":
            {
                "headline":"<%= @reports[0][0]%>系列电子病历",
                "type":"default",
                "startDate":"<%= @reports[0][1]%>",
                "text":"您的账户创建与<%= @reports[0][2]%>，您有电子病历"+datas.length+"份！",
                "asset":
                {
                    "media":"",
                    "credit":"",
                    "caption":""
                },
                "date": datas
            }
        };
        var timeline = new VMM.Timeline();
        timeline.init(JSON.stringify(data_json));
        <% end %>
//        $('.slider-item .layout-text-media .media .media-container a').fancybox();
    });
</script>

