<%= javascript_include_tag 'health_records'%>
<div class="container" style="margin-top:-20px;">
  <div class="row" style="margin-top:10px;">
    <p class="health_title">健康档案</p>
  </div>
  <div class="row index_box" style="background:#f2f5f8;margin-top:-10px;border-top-left-radius:0px;border-top-right-radius:0px;">
    <div class="col-md-2 col-sm-3 left_box" style="padding:0px;">
      <% if current_user.patient_id.nil?%>

          <% if session['is_show_name']%>
              <div class="health_photo" style="">
                <div class="pull-left consultation_photo_div2" style="">
                    <% if @photo.nil?%>
                  <a href="/patients/patientpage/<%= session['patient_id']%>"><img src='/default.png' alt="default" width ="50" height = "70"  class = "" style = "margin-left:-1px;margin-top:-2px;" />
                  </a>
                      <%else%>
                      <a href="/patients/patientpage/<%= session['patient_id']%>"><img src='<%= Settings.pic+@photo%>' alt="default" width ="50" height = "70"  class = "" style = "margin-left:-1px;margin-top:-2px;" />
                      </a>
                  <%end%>

                </div>

                <div class="font-yahei font-18 pull-left" style="line-height:60px;">
                  <a href="/patients/patientpage/<%= session['patient_id']%>"><strong class="font-yahei font-18"><%= session['name']%></strong></a>
                </div>
              </div>
          <%else%>
              <div class="health_photo font-yahei font-18 pull-left" style="line-height:60px;">
                <strong class="font-yahei font-18"><%= session['name']%></strong>
              </div>
          <%end%>
      <%end%>
      <div style="clear:both"></div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-head jc_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <!--<span class="pull-right space3">></span><span id="dicom">影像数据</span>-->
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span><span id="dicom">检查</span>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a id="ult" href="javaScript:showHealthRecordsData('/health_records/ultrasound2')">超声</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a id="ct" href="javaScript:showHealthRecordsData('/health_records/ct2')">CT</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a href="">核磁</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a href="">X射线</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-head jy_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span><span id="ins">检验</span>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li><a id="ins_report" href="javaScript:showHealthRecordsData('/health_records/inspection_report2')">检验报告</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-head zb_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span>常规指标
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a href="javaScript:showHealthRecordsData('/blood_pressure/show')">血压</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a href="javaScript:showHealthRecordsData('/blood_glucose/show')">血糖</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>血脂</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>血氧</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>体重</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-head zd_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span>诊断
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a>诊断证明书</a>

                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-head jz_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span>就诊
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a>门诊</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>住院</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>急诊</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-head jz_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span>医嘱
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a>临时医嘱</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>长期医嘱</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-head blws_icon" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            <span class="pull-right font-14" style="font-weight:normal;color:#9ba3a8;">></span>病历文书
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled type_list">
                <li>
                  <a onclick="alert('dfd')">门诊病历</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>病案首页</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>入院记录</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>病程记录</a>
                  <span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>
                  <a>出院小结</a>
                  <!--<span style="color:#dcdcdc;margin:0px 10px;display:inline-block;">|</span>-->
                  <!--<a>医嘱</a>-->
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>


    </div>
    <div class="col-md-10 col-sm-9 right_shadow" style="padding:0px;margin-top:0px;">
      <div id="div_right" class="">

      </div>
    </div>
  </div>
</div>


