<%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<%= stylesheet_link_tag 'fancybox' %>
<style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;  left: 0%;  width: 100%;  height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        /*filter: alpha(opacity=80);*/
    }
    .white_content {
        display: none;
        position: absolute;
        top: 10%;  left: 50%;  width: 620px;  height: 450px;
        padding: 5px;
        margin-left:-310px;
        /*border: 16px solid orange;*/
        z-index:1002;
        overflow: auto;
        background:#eff3fc;
        border-radius: 4px;
        border:1px solid #d6e0f8;
    }
    #pictures{
        background:#f4f4f4;
        border:1px solid #e6e6e6;
        margin-top:15px;
        margin-bottom:15px;
        padding:6px ;
    }
        #pictures a {
            display:inline-block;
            margin:3px;
        }
        .video_lists{
           background: #f4f4f4;
           border:1px solid #e6e6e6;
            width:575px;
            padding:10px;

        }
    .title{
        border-bottom:1px solid #8dbffa;
        background: -moz-linear-gradient(center top ,#e5f4fb, #b7dbfb) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(#e5f4fb, #b7dbfb) repeat scroll 0 0 transparent;
        filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e5f4fb,endColorStr=#b7dbfb);  /* IE 6 7 8  */
        line-height:30px;
    }
    .title table{
        margin:0 10px;
    }
    .video_lists table tr{
        border-bottom:1px solid #ccc;
        line-height:30px;
    }
    .video_lists table tr:hover{
        background:#e3eefb;
        cursor:pointer;
    }
    .video_lists table thead tr:hover{
        background:none;
    }
</style>
<div id="light" class="white_content">
  <button onclick="closeBtn()" class="btn-primary btn" style="right:10px; top:10px;padding:2px 5px;position:absolute;">关闭</button>
  <iframe style="overflow: hidden;margin-top:4px;" height="436px" width="615px" id="videoPlayer" name="videoPlayer" src="/health_records/get_video"></iframe>
</div>
<div id="fade" class="black_overlay">
</div>
<div id="fade" class="container bgcolor-white" style="margin-top:-20px;padding:0px;">

  <div id="videoPlayer" style="width: 100%;height: 100%">

  </div>

  <div id="ultrasound" style="float:left;">
    <img width="540px" height="720px"  src="/dione/pdf_reports/show_picture?uuid=<%= @uuid %>">
  </div>
  <div style="float:right;" class="space3">
    <div class="title space2">
      <table style="width:100%;">
        <thead>
        <tr>
          <th><strong>视频</strong></th>
          <th><strong>播放</strong></th>
        </tr>
        </thead>
      </table>
    </div>
    <div id="videos" class="video_lists table ">

      <table style="width:100%;">

      </table>
    </div>
      <div id="pictures">
      </div>

  </div>
</div>
<script>
    $(function(){
        var cWidth = $('.container').width();
        var iWidth = (cWidth-600)/2;
        $.ajax({
            url: '/dione/pdf_reports/download_emr_img_video?uuid=<%= @uuid.sub(".png",".xml") %>',
            type: 'get',
            success: function(data){
                var images = data.images;
                var videos = data.videos;
                var iLen = images.length;
                var vLen = videos.length;
                if(iLen > 0){
                    for(var i= 0;i<iLen;i++){
                        $('#pictures').append('<a class="pictures" href="'+images[i]+'"><img width="'+iWidth+'px" src="'+images[i]+'"></a>');
                        if(i!=0&&i%2==1)$('#pictures').append('<br/>');
                    }
                    $('.pictures').fancybox();
                }

                if(vLen > 0){
                    var k = 0;
                    for(var i= 0;i<vLen;i++){
                        k = i+1;
                        $('#videos table').append('<tr><td>视频'+k+'</td><td><img src="/icon/videoStart.png" onclick="videoStart(\''+videos[i]+'\');" /></td></tr>');
                    }
                }
            },
            error: function(data){
                console.log(data);
            }
        })
    });
    function videoStart(url){
        url = (url.substring(1,3)+'/'+url.substring(4,6)+'/'+url.substring(7,9)+'/'+url.substring(10)).split('.')[0];
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block';
        $(window.frames['videoPlayer'].document).find('embed')[0].updateHost('<%= @ip %>','vod');
        $(window.frames['videoPlayer'].document).find('embed')[0].playVideo(url);

    }
    function closeBtn(){
        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none';
    }
</script>