<a href="#photoModal" data-toggle="modal">
  <% if !@photos.nil?%>
      <img alt="<%= @name %>" id="myPhoto" height="210" width="150" src="<%= @photos %>" class="img_bg">
  <% else %>
      <%= image_tag("default.png", alt: "该用户没有上传图片", :size => "150x210", :class => "img_bg") %>
  <% end %>
</a>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body" id='modal-photo'>
        <%= form_for @photo, url: {action:'create', controller:'photos'}, method: 'post', html: {multipart:true, id: 'photo_upload_form'} do |f| %>
            <%= f.file_field :photo,onchange:'upload(this)',id:'input_photo',class:'btn btn-success'%>
            <div id="preview_photo">

            </div>

      </div>
            <div class="modal-footer">
              <%= f.submit "确定",class:'btn btn-primary' %>
              <% end %>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle">取消</button>
           </div>

    </div> <!-- /.modal-content -->
  </div>     <!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= javascript_include_tag 'ajax_image_crop_upload' %>