
  <% if !@doctors.nil? && !@doctors.empty? %>
      <div id="search_doctors">

          <% @doctors.each do |doctor| %>
            <% @dictionarys = Dictionary.find(doctor.dictionary_ids.split(',')) %>
            <div class="row space2">
              <div class="col-md-2 col-sm-2 col-xs-12" style="width:115px;"><a href="/doctors/doctorpage/<%=doctor['id']%>">
                <% if (!(doctor['photo'].nil?)) &&  ( !(doctor['photo']=''))%>
                    <%= image_tag(doctor['photo'], alt: "default", :width => "100", :height => "140", :class => "pull-left img_bg") %>
                <% else %>
                    <%= image_tag('default.png', alt: "default", :width => "100", :height => "140", :class => "pull-left img_bg") %>
                <% end %>
              </a></div>
              <div class="col-md-9 col-sm-8 col-xs-12">
                <ul class="list-unstyled lineheight-30">
                  <li class="font-yahei font-162 font-color3"><span class="pull-left"><strong><%= link_to "#{doctor['name']}","/doctors/doctorpage/#{doctor['id']}"%>&nbsp;</strong></span>
                    <span class="pull-left"><%= Hospital.find(doctor.hospital_id).name unless Hospital.find(doctor.hospital_id).nil?%><%#=user.doctor.hospital.hospital_name%></span>
                    <span class="pull-left"><%= Department.find(doctor.department_id).name unless Department.find(doctor.department_id).nil? %></span>
                  </li>
                  <div class="clearfix"></div>
                  <li><strong>专业技能 <%#=t('.skilled') %></strong><%= doctor.expertise %></li>
                  <li><strong>简介 <%#=t('.description') %></strong><%= doctor.introduction%></li>
                  <li><strong>预约类型</strong>
                    <% @dictionarys.each do |dic| %>
                    <button  disabled="disabled">
                      <%=dic.name %>
                    </button>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="col-md-1 col-sm-2 col-xs-12">
              <%# if !@dictionary.nil? %>
                  <%#= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{doctor['id']}", :dictionary_id => "#{@dictionary['id']}"}, :class => "btn btn-success" %>
              <%# else %>
                  <%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{doctor['id']}"}, :class => "btn btn-success" %>
              <%# end %>
              </div>
            </div>
            <hr style="border-bottom:1px solid #fff;border-top:1px solid #d7d7d7;"/>
          <% end %>
        </div>
        <div class="clearfix"></div>
   <% else  %>
      <div class="alert alert-danger space space2">
        <%#=t('.No information of doctors can display!') %>
      </div>
  <% end %>
