<% if !@doctors.nil? && !@doctors.empty? %>
    <div id="search_doctors">

      <% @doctors.each do |doctor| %>
          <% @dictionarys = nil %>
          <% if !doctor.dictionary_ids.nil? && doctor.dictionary_ids != ''  %>
              <% @dictionarys = Dictionary.find(doctor.dictionary_ids.split(',')) %>
          <% end %>
          <div class="col-md-6" style="border-right:1px solid #dcdcdc;padding-top:15px;">
            <div class="pull-left">
              <a href="/doctors/doctorpage/<%=doctor['id']%>">
                <% if !doctor.photo.nil? &&  doctor.photo!=''%>
                    <%= image_tag(Settings.pic+doctor.photo, alt: "default", :width => "55", :height => "77", :class => "pull-left space3") %>
                <% else %>
                    <%= image_tag('default.png', alt: "default", :width => "55", :height => "77", :class => "pull-left space3") %>
                <% end %>
              </a>
            </div>
            <div class="pull-left font-12" style="overflow:hidden;">
              <span><%= link_to "#{doctor.name}","/doctors/doctorpage/#{doctor.id}",:class => "font-20 font-yahei",:style => "font-weight:bold;margin-right:4px;"%></span>
                   <span>
                     <b class="font-14" style="margin-top:5px;color:#666;margin-right:4px;">
                       <%= doctor.professional_title.split('、')[0]%>&nbsp;<%= doctor.professional_title.split('、')[1]%>
                     </b>
                   </span>
              <span style="margin-right:4px;"><%=doctor.hospital.name unless (doctor.hospital_id.nil? || doctor.hospital_id == '')%></span>
              <span><%=doctor.department.name unless (doctor.department_id.nil? || doctor.department_id == '')%></span><br />

                   <span style="line-height:28px;"><strong>专长 </strong>
                     <% if doctor.expertise.length>26 %>
                           <%=doctor.expertise[0,26] %><span class="font-18">......</span>
                           <%else%>
                           <%=doctor.expertise[0,26]%>
                       <%end%>
                   </span><br />
                  <span style="line-height:28px;"><strong>预约类型</strong>
                    <% if !@dictionarys.nil? %>
                    <% @dictionarys.each do |dic| %>
                    <span class="" style='font-size: 12px;margin:0 2px;color:#888888' disabled="disabled">
                      [<%=dic.name %>]
                    </span>
                    <% end %>
                    <% end %>
                  </span>
            </div>
            <div class="pull-right">
              <a href="/appointment_schedules/doctorschedule?id=<%=doctor.id %>"  class="btn btn-primary font-yahei" style="font-weight:bold;"  rel="nofollow">预约</a>
            </div>
            <div class="clearfix"></div>
            <div class="line" style="margin-top:15px;"></div>
          </div>
          </div>
      <% end %>
      <div class="clearfix"></div>
<% else  %>
    <div class="alert alert-danger space space2">
      <%#=t('.No information of doctors can display!') %>
    </div>
<% end %>