
  <% if !@doctor_users.empty? %>
      <div id="search_doctors">

          <% @doctor_users.each do |doctor| %>
            <div class="row space2">
              <div class="col-md-2 col-sm-2 col-xs-12" style="width:115px;">
                <% if (!(doctor['photo'].nil?)) &&  ( !(doctor['photo']=''))%>
                    <%= image_tag(doctor['photo'], alt: "default", :width => "100", :height => "140", :class => "pull-left") %>
                <% else %>
                    <%= image_tag('default.png', alt: "default", :width => "100", :height => "140", :class => "pull-left") %>
                <% end %>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12">
                <ul class="list-unstyled lineheight-30">
                  <li class="font-yahei font-162 font-color3"><span class="pull-left"><strong><%= link_to "#{doctor['name']}"%>&nbsp;</strong></span>
                    <span class="pull-left"><%= doctor['hospital']['hospital_name'] unless doctor['hospital'].nil?%><%#=user.doctor.hospital.hospital_name%></span>
                    <span class="pull-left"><%= doctor['department']['department_name'] unless doctor['department'].nil? %></span>
                  </li>
                  <div class="clearfix"></div>
                  <li><strong>专业技能 <%#=t('.skilled') %></strong><%= doctor['expertise'] %></li>
                  <li><strong>简介 <%#=t('.description') %></strong><%= doctor['introduction'] %></li>
                </ul>
              </div>
              <div class="col-md-1 col-sm-2 col-xs-12">
              <% if !@dictionary.nil? %>
                  <%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{doctor['id']}", :dictionary_id => "#{@dictionary['id']}"}, :class => "btn btn-success" %>
              <% else %>
                  <%= link_to '预约', {:controller => 'appointment_schedules', :action => 'doctorschedule', :id => "#{doctor['id']}"}, :class => "btn btn-success" %>
              <% end %>
              </div>
            </div>
            <hr />
          <% end %>
        </div>
        <div class="clearfix"></div>
   <% else  %>
      <div class="alert alert-danger space space2">
        没有可显示信息！<%#=t('.No information of doctors can display!') %>
      </div>
  <% end %>
