<h3 class="font-yahei font-16 blue_line space2"><span class="title_third">我的预约</span><%#=@title%></h3>

<div style="width:100%" class="space2">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#t1" data-toggle="tab" class="font-16">即将就诊<%#=t('.upcoming') %></a></li>
    <li><a href="#t2" data-toggle="tab" class="font-16">已取消<%#=t('.cancelled') %></a></li>
    <li><a href="#t3" data-toggle="tab" class="font-16">已完成<%#=t('.completed') %></a></li>

  </ul>

  <div class="tab-content" style="padding-right:15px;">

    <div class="tab-pane active table_bg" id="t1">
      <table class="table table-bordered">
        <% if !@appointments.nil?&&@appointments.count > 0 %>
            <tr>
              <th>预约医生<%#=t('.doctor_name') %></th>
              <th>预约医院<%#=t('.hospital') %></th>
              <th>预约科室<%#=t('.department') %></th>
              <th>预约类型</th>
              <th>预约时间<%#=t('.app_time') %></th>
            </tr>

            <% @appointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %> <%= app_info.start_time.strftime("%H:%M:%S") %> - <%= app_info.end_time.strftime("%H:%M:%S") %>
                  </td>
                </tr>
            <% end %>

        <% else %>
            <tr>
              <th>没有可显示的预约信息！<%#=t('.No reservation information can display!') %></th>
            </tr>
        <% end %>

      </table>
    </div>

    <div class="tab-pane" id="t2">
      <table class="table table-bordered table_bg">
        <% if !@cancelappointments.nil?&&@cancelappointments.count > 0 %>
            <tr>
              <th>预约医生<%#=t('.doctor_name') %></th>
              <th>预约医院<%#=t('.hospital') %></th>
              <th>预约科室<%#=t('.department') %></th>
              <th>预约类型</th>
              <th>预约时间<%#=t('.app_time') %></th>
            </tr>
            <% @cancelappointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %>  <%= app_info.start_time.strftime("%H:%M:%S") %> - <%= app_info.end_time.strftime("%H:%M:%S") %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <th>没有可显示的取消信息！<%#=t('.No cancellation information can display!') %></th>
            </tr>
        <% end %>
      </table>
    </div>

    <div class="tab-pane" id="t3">
      <table class="table table-bordered table_bg">
        <% if !@completecancelappointments.nil?&&@completecancelappointments.count > 0 %>
            <tr>
              <th>预约医生<%#=t('.doctor_name') %></th>
              <th>预约医院<%#=t('.hospital') %></th>
              <th>预约科室<%#=t('.department') %></th>
              <th>预约类型</th>
              <th>预约时间<%#=t('.app_time') %></th>
            </tr>
            <% @completecancelappointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %>  <%= app_info.start_time.strftime("%H:%M:%S") %> - <%= app_info.end_time.strftime("%H:%M:%S") %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <th>没有可显示的完成信息！<%#=t('.No completed information can display!') %></th>
            </tr>
        <% end %>

      </table>
    </div>

  </div>
</div>