
<div style="width:100%" class="">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#t1" data-toggle="tab" class="font-16">即将就诊<%#=t('.upcoming') %></a></li>
    <li><a href="#t2" data-toggle="tab" class="font-16">已取消<%#=t('.cancelled') %></a></li>
    <li><a href="#t3" data-toggle="tab" class="font-16">已完成<%#=t('.completed') %></a></li>
  </ul>

  <div class="tab-content" style="">

    <div class="tab-pane active table_bg" id="t1">
      <table class="table notices" style="width:95%;margin:0 auto;">
        <% if !@appointments.nil?&&@appointments.count > 0 %>
            <tr>
              <th width="16%">预约医生<%#=t('.doctor_name') %></th>
              <th width="16%">预约医院<%#=t('.hospital') %></th>
              <th width="16%">预约科室</th>
              <th width="16%">预约类型</th>
              <th width="18%">预约时间<%#=t('.app_time') %></th>
              <th width="16%">状态</th>
            </tr>

            <% @appointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor_name %> <%#= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital_name %><%#= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department_name %><%#= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary_name %><%#= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %> <%= app_info.start_time.to_time.strftime("%H:%M") %> - <%= app_info.end_time.to_time.strftime("%H:%M") %>
                  </td>
                  <td><% if app_info.status==5 %>
                    <div style='color:red'>正在审核中</div>
                    <% else %>
                    已成功预约
                    <% end %>
                  </td>
                </tr>
            <% end %>

        <% else %>
              <p style="padding:15px;" class="font-yahei">没有可显示的预约信息！<%#=t('.No reservation information can display!') %></p>
        <% end %>

      </table>
    </div>

    <div class="tab-pane" id="t2">
      <table class="table notices" style="width:95%;margin:0 auto;">
        <% if !@cancelappointments.nil?&&@cancelappointments.count > 0 %>
            <tr>
              <th>预约医生<%#=t('.doctor_name') %></th>
              <th>预约医院<%#=t('.hospital') %></th>
              <th>预约科室<%#=t('.department') %></th>
              <th>预约类型</th>
              <th>预约时间<%#=t('.app_time') %></th>
            </tr>
            <% @cancelappointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor_name %> <%#= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital_name %><%#= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department_name %><%#= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary_name %><%#= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %>  <%= app_info.start_time.to_time.strftime("%H:%M") %> - <%= app_info.end_time.to_time.strftime("%H:%M") %>
                  </td>
                </tr>
            <% end %>
        <% else %>
              <p style="padding:15px;" class="font-yahei">没有可显示的取消信息！<%#=t('.No cancellation information can display!') %></p>
        <% end %>
      </table>
    </div>

    <div class="tab-pane" id="t3">
      <table class="table notices" style="width:95%;margin:0 auto;">
        <% if !@completecancelappointments.nil?&&@completecancelappointments.count > 0 %>
            <tr>
              <th>预约医生<%#=t('.doctor_name') %></th>
              <th>预约医院<%#=t('.hospital') %></th>
              <th>预约科室<%#=t('.department') %></th>
              <th>预约类型</th>
              <th>预约时间<%#=t('.app_time') %></th>
            </tr>
            <% @completecancelappointments.each do |app_info| %>
                <tr>
                  <td><%= app_info.doctor_name %> <%#= app_info.doctor.name %> </td>
                  <td><%= app_info.hospital_name %><%#= app_info.hospital.name  unless (app_info.hospital_id.nil? || app_info.hospital_id == '')%></td>
                  <td><%= app_info.department_name %><%#= app_info.department.name  unless (app_info.department_id.nil? || app_info.department_id == '')%></td>
                  <td><%= app_info.dictionary_name %><%#= app_info.dictionary.name%></td>
                  <td><%= app_info.appointment_day %>  <%= app_info.start_time.to_time.strftime("%H:%M") %> - <%= app_info.end_time.to_time.strftime("%H:%M") %>
                  </td>
                </tr>
            <% end %>
        <% else %>

              <p style="padding:15px;" class="font-yahei">没有可显示的完成信息！<%#=t('.No completed information can display!') %></p>

        <% end %>

      </table>
    </div>

  </div>
</div>