<div class="container" style="margin-top:-20px;">

  <div class="row">

    <div class="col-md-12 index_box" style="padding:0;margin-top:10px;">
      <%= render partial: 'appointments/patient_appItem'%>
    </div>
    <!--<h3 class="font-yahei font-16 blue_line"><span class="title_third">预约医生</span><%#=@title%></h3>-->
    <%= form_for("",:url => {:controller=>'appointments',:action=>'get_doctors' }, :method => 'post', :html=>{:id => 'my_form_id'}, :remote => true) do |f| %>
        <div class="col-md-12 space">
          <div class="col-md-3 col-sm-5 space2" style="padding:0"><b>省：</b><select id="provinceselect" name="province_id"  onchange="search('pro')" style="width:200px;">
            <% hospitals_array = Province.all.map { |hospital| [hospital.name, hospital.id] } %>
            <option value="">请选择</option>
            <%= options_for_select(hospitals_array) %>
          </select></div>
          <div class="col-md-3 col-sm-5 space2"  style="padding:0"><b>市：</b><select id="city" name="city_id"  onchange="search('city')" style="width:200px;">
            <option value="">请选择</option>
          </select></div>
          <div class="col-md-3 col-sm-5 space2" style="padding:0"><b>医院：</b><select id="hospitalselect" name="hospital_id"  onchange="search('hos')" style="width:200px;">
            <% hospitals_array = @hospitals.map { |hospital| [hospital['name'], hospital['id']] } %>
            <option value="">请选择</option>
            <%= options_for_select(hospitals_array) %>
          </select></div>
          <div class="col-md-3 col-sm-5 space2"  style="padding:0"><b>科室：</b><select id="department" name="department_id"  onchange="search('')" style="width:200px;">
            <option value="">请选择</option>
          </select></div>
          <!--<div class="col-md-2 col-sm-3"  style="margin:0;padding:0">预约类型：<select id="dictionary_id" name="dictionary_id" class="btn btn-default" onchange="search('')">-->
          <!--<option value="">请选择</option>-->
          <!--<%# dictionary = @dictionarys.map { |dic| [dic['name'], dic['id']] } %>-->
          <!--<%#= options_for_select(dictionary) %>-->
          <!--</select></div>-->
          <div class="col-md-4 col-sm-2"></div>
        </div>
    <% end %>
    <div class="clearfix"></div>

      <div id="show_appointment_doctors">
        <div class="row">
        </div>
    </div>

  </div>

  <%#= render partial: 'appointments/doctors_list'%>

  <div class="pull-right">

  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $.ajax({
        type:'get',
        url:'/appointments/get_doctors',
        data:'json',
        success:function(data){
            $('#show_appointment_doctors').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
    $(document).ready(function () {
        jQuery("#provinceselect").select2()
        jQuery("#city").select2()
        jQuery("#hospitalselect").select2()
        jQuery("#department").select2()
        $("#hospitalselect").click();
    })
    function search(str) {
        var pro = $("#provinceselect").val();
        var city = $("#city").val();
        var hos = $("#hospitalselect").val();
        var dept = $("#department").val();
//        var dic = $("#dictionary_id").val();
        $.ajax({
            url: '/appointments/get_doctors',
            type: 'post',
            dataType: 'script',
            data: {
                province_id:pro,
                city_id:city,
                hospital_id: hos,
                department_id: dept
//                dictionary_id : dic
            }
        });
        if (str == 'pro'){
            $('#city').prop('selectedIndex',0);
            $('#s2id_city').children('.select2-choice').children('span').html('请选择')
            $('#hospitalselect').prop('selectedIndex',0);
            $('#s2id_hospitalselect').children('.select2-choice').children('span').html('请选择')
            $('#department').prop('selectedIndex',0);
            $('#s2id_department').children('.select2-choice').children('span').html('请选择')
            change_city(pro, 'city') ;

        }
        if (str == 'city'){
            $('#hospitalselect').prop('selectedIndex',0);
            $('#s2id_hospitalselect').children('.select2-choice').children('span').html('请选择')
            $('#department').prop('selectedIndex',0);
            $('#s2id_department').children('.select2-choice').children('span').html('请选择')
            change_hospital(city, 'hospitalselect') ;
        }
        if (str == 'hos'){
            $('#department').prop('selectedIndex',0);
            $('#s2id_department').children('.select2-choice').children('span').html('请选择')
            change_department(hos, 'department') ;
        }
    }
    function change_city(id,select_id) {
        $.ajax({
                    type: "get",
                    url: '/appointments/get_city?province_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#" + select_id).html(str + data);
                    }
                }
        );
        $.ajax({
                    type: "get",
                    url: '/appointments/get_hospital?province_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#hospitalselect").html(str + data);
                    }
                }
        );
        $.ajax({
                    type: "get",
                    url: '/appointments/get_department?province_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#department").html(str + data);
                    }
                }
        );
    }
    function change_hospital(id,select_id) {
        $.ajax({
                    type: "get",
                    url: '/appointments/get_hospital?city_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#" + select_id).html(str + data);
                    }
                }
        );
        $.ajax({
                    type: "get",
                    url: '/appointments/get_department?city_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#department").html(str + data);
                    }
                }
        );
    }
    function change_department(id, select_id){
        $.ajax({
                    type: "get",
                    url: '/appointments/get_department?hospital_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#" + select_id).html(str + data);
                    }
                }
        );
    }
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>
</script>