<div class="container bgcolor-white" style="margin-top:-20px;">

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'appointments/patient_appItem'%>
    </div>
    <div class="col-md-12 ">
      <h3 class="font-yahei font-16 blue_line"><span class="title_third">预约医生</span><%#=@title%></h3>

    </div>
    <%= form_for("",:url => {:controller=>'appointments',:action=>'get_doctors' }, :method => 'post', :html=>{:id => 'my_form_id'}, :remote => true) do |f| %>
        <div class="col-md-12">
          <div class="col-md-2 col-sm-3" style="margin:0;padding:0">医院：<select id="hospitalselect" name="hospital_id" class="btn btn-default" onchange="search('hos')" >
            <% hospitals_array = @hospitals.map { |hospital| [hospital['short_name'], hospital['id']] } %>
            <option value="">请选择</option>
            <%= options_for_select(hospitals_array) %>
          </select></div>
          <div class="col-md-2 col-sm-3"  style="margin:0;padding:0">科室：<select id="department" name="department_id" class=" btn btn-default"  onchange="search('')">
            <option value="">请选择</option>
          </select></div>
          <!--<div class="col-md-2 col-sm-3"  style="margin:0;padding:0">预约类型：<select id="dictionary_id" name="dictionary_id" class="btn btn-default" onchange="search('')">-->
            <!--<option value="">请选择</option>-->
            <!--<%# dictionary = @dictionarys.map { |dic| [dic['name'], dic['id']] } %>-->
            <!--<%#= options_for_select(dictionary) %>-->
          <!--</select></div>-->
          <div class="col-md-6 col-sm-3"></div>
        </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div id="show_appointment_doctors"></div>
    </div>

  </div>

    <%#= render partial: 'appointments/doctors_list'%>

  <div class="pull-right">

  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $.ajax({
        type:'get',
        url:'/appointments/get_doctors',
        data:'json',
        success:function(data){
            $('#show_appointment_doctors').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
    $(document).ready(function () {
        $("#hospitalselect").click();
    })
    function search(str) {
        var hos = $("#hospitalselect").val();
        var dept = $("#department").val();
        var dic = $("#dictionary_id").val();
        if (str == 'hos'){
            change_department(hos, 'department') ;
        }
        $.ajax({
            url: '/appointments/get_doctors',
            type: 'post',
            dataType: 'script',
            data: {
                hospital_id: hos,
                department_id : dept,
                dictionary_id : dic
            }
        });
    }
    function change_department(id, select_id){
        $.ajax({
                    type: "get",
                    url: '/appointments/get_department?hospital_id=' + id,
                    data: 'text',
                    success: function (data) {
                        str = " <option value=''>请选择<%#=t('.please_choose') %></option>"
                        $("#" + select_id).html(str + data);
                    }
                }
        );
    }
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500);
    });
    <% end %>
</script>