<div data-role="page" id="pageone">
  <div data-role="content">
    <img src="<%= Settings.pic + @user.photo %>" width="152px" height="212px">
    <p><%= @user.name %></p>
    <!--<input type="button" id="change" data-inline="true" value="更换绑定帐号">-->
    <!--href=\"https://open.weixin.qq.com/connect/oauth2/authorize?appid="+Settings.weixin.app_id + "&redirect_uri="+Rack::Utils.escape(Settings.weixin.redirect_uri)+"&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect\"\-->
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=<%=Settings.weixin.app_id %>&redirect_uri=<%= Rack::Utils.escape(Settings.weixin.redirect+"weixins/change_user")%>&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect" data-role="button" data-inline="true" data-ajax="false">更换绑定帐号</a>
    <a href="/weixins/login_delete?open_id=<%= @open_id%>" data-role="button" data-ajax="false" data-inline="true">解除绑定</a>
    <!--<a href="#" data-role="button" data-inline="true">更换绑定帐号</a><a href="#" data-role="button" data-inline="true">解除绑定</a>-->
  </div>
</div>
<script>
  document.title="我的kanbing365帐号";
</script>


<!--<h2>您已绑定</h2>-->
<!--<input type="button" value="取消绑定" id="clear">-->
<%#= link_to "取消绑定", action: "login_delete", open_id: @open_id, :class => "button" %>