<h3 style="text-align: center"><%= @patient.name%> 的健康档案</h3>
<div data-role="content">
  <div data-role="collapsible-set">
    <div data-role="collapsible">
      <h3>影像数据（<%= @ultrasounds.length%>）</h3>
      <div data-role="collapsible-set">
        <div data-role="collapsible">
          <h3>超声（<%= @ultrasounds.length%>）</h3>
          <table>
            <tr align="center">
              <th>医院</th><th>日期</th><th>操作</th>
            </tr>
            <% @ultrasounds.each do |u|%>
                <tr align="center">
                  <td><%= u.hospital%></td>
                  <td><%= u.checked_at%></td>
                  <td><a data-role="button" data-inline="true" href="/weixins/ultrasound?uuid=<%= u.thumbnail%>">查看</a></td>
                </tr>
            <% end %>
          </table>
        </div>
        <div data-role="collapsible">
          <h3>CT</h3>
          <p>暂无数据</p>
        </div>
      </div>
    </div>
    <div data-role="collapsible">
      <h3>检验（<%= @reports.length%>）</h3>
      <div data-role="collapsible-set">
        <div data-role="collapsible">
          <h3>检验报告（<%= @reports.length%>）</h3>
          <table>
            <tr align="center">
              <th>医院</th><th>日期</th><th>操作</th>
            </tr>
            <% @reports.each do |r|%>
                <tr align="center">
                  <td><%= r.hospital%></td>
                  <td><%= r.checked_at%></td>
                  <td><a data-role="button" data-inline="true" href="/weixins/reports?uuid=<%= r.thumbnail%>">查看</a></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
