<tr id="cons_order<%=item.id%>" >
      <td><a href="/cons_orders/<%=item.id%>"><%= item.id %></a></td>
      <td><%= item.reason %></td>
      <td><%= User.find(item.owner_id).realname %></td>
      <td><%= item.status_description %></td>
      <td><%= item.created_at.strftime("%Y-%m-%d %k:%M") %></td>
      <td>
        <%= link_to "查看订单", cons_order_path(item)%>
        <% if item.status == 'submit' %>
            <%= link_to("确认接受该会诊", cons_order_path('agree/'+item.id.to_s)) %>
            <%= link_to("拒绝接受该会诊", cons_order_path('disagree/'+item.id.to_s))%>
        <% else %>
            <% if item.status == 'failed' %>
                已拒绝
            <% else %>
                已确认接受
            <% end %>
        <% end %>
        <% if !current_user.is_doctor? %>
            <% if item.status == 'agreed' %>
              <%= link_to("付款",cons_order_path('pay/'+item.id.to_s)) %>
            <% end %>
        <% else %>
            <% if item.status == 'completed' %>
                <%= link_to "创建会诊", "/consultations/new?order="+item.id.to_s %>
            <% end %>
        <% end %>
      </td>
</tr>