<!DOCTYPE html>
<html style="overflow-y:scroll;">
<head>
  <title>健康管理平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_tag do %>
      <%- if signed_in? %>
          <%- current_user_data = {
                  :id => current_user['id'],
                  :name => current_user['name'],
                  :auth_token => current_user['remember_token']
          }
          %>
          var current_user_data = <%= current_user_data.to_json.html_safe %>;
      <%- end %>
  <%- end %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<!--玉泉首页-->
<body class="body-bg">
<%= render 'layouts/header'%>
  <%= yield %>

</body>
<!--玉泉首页 end-->
<!--公共首页-->
<!--<body>-->
<!--<%#= render 'home/header'%>-->
<!--<%#= render 'home/home_ghi' %>-->
<!--<%#= render 'home/footer' %>-->
<!--</body>-->
</html>
